@charset "utf-8";

.brandMc_section .brand_mall_title{position:relative;margin-bottom:20px;}
.brandMc_section .brand_mall_title h3{height:65px;padding:0;border:0;border-bottom:2px solid #333;}
#container .brandMc_section .lnb_wrap02 {float:left;width:179px;overflow: hidden;font-family:'Tahoma','맑은 고딕','Malgun Gothic';border-bottom:1px solid #bfbfbf;}
#container .brandMc_section .lnb_wrap02 .h2_area {padding:30px 0;font-weight: bold;color:#fff;text-align:center;background-color:#e53433;}
#container .brandMc_section .lnb_wrap02 .h2_area h2 {margin-bottom:20px;font-family:'Tahoma','맑은 고딕','Malgun Gothic';font-size:22px;font-weight:normal;color:#fff!important;}
.brandMc_section .lnb_wrap02 .h2_area h2 a {color:#fff}
.brandMc_section .lnb_wrap02 .h2_area p {font-size:10px}
.brandMc_section .lnb_wrap02 .h2_area span {padding:0 2px;color:#fff;}
.brandMc_section .lnb_wrap02 .lnb {min-height:400px;height:auto;padding:20px 18px;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;background:#ededed;  }
.brandMc_section .lnb_wrap02 .lnb li a {display:block;padding:0 0 11px 10px;color: #363636;background:url(../img/common/bg_arrow.png) no-repeat 0 6px;    }
.brandMc_section .lnb_wrap02 .brand {border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;background:#888}
.brandMc_section .lnb_wrap02 .brand dt a {display:block;padding:18px 14px;font-size:14px;font-weight:bold;color:#fff;border-bottom:1px solid #ececec;background:#ababab url(../img/common/ico_toggle.png) no-repeat 153px 18px}
.brandMc_section .lnb_wrap02 .brand dt a.on {background:url(../img/common/ico_toggle.png) no-repeat 153px -32px}
.brandMc_section .lnb_wrap02 .brand dd {text-align:center}
.brandMc_section .lnb_wrap02 .brand dt+dd {margin-top:1px}
.brandMc_section .lnb_wrap02 .brand dd a {display:block}
.brandMc_section .lnb_wrap02 dl.brand_on dd a {position:relative;display:block;}
.brandMc_section .lnb_wrap02 .brand dd a span {display:none;width:156px;height:32px;  margin:0 10px;padding:10px 0; font-weight:bold;color:#fff;line-height:1.5;background:#e53433;}
.brandMc_section .lnb_wrap02 .brand dd a img {padding:9px 20px}
.brandMc_section .lnb_wrap02 dl.brand_on dd a:hover span {position:absolute;top:-1px;left:0;display:block;}
.brandMc_section .lnb_wrap02 .brand dt+dd img {border-top-color:#fff}
.brandMc_section .brand_mall_lnb {border-left:1px solid #b2b2b2;border-right:1px solid #b2b2b2;background:#ededed}
.brandMc_section .brand_mall_lnb>li a {font-weight:bold;background:url(../img/common/ico_toggle.png)no-repeat 153px 17px}
.brandMc_section .brand_mall_lnb>li.on a {background-position:153px -33px}
.brandMc_section .brand_mall_lnb li a {display:block;padding:15px 14px;font-size:12px;font-weight:bold;color:#373737;border-top:1px solid #b2b2b2;}
.brandMc_section .brand_mall_lnb li:first-child a {border-top:0}
.brandMc_section .brand_mall_lnb li a.no_depth {background:0}
.brandMc_section .brand_mall_lnb li a.last {border-bottom:0}
.brandMc_section .brand_mall_lnb li .depth01 {display:none;padding:5px 0}
.brandMc_section .brand_mall_lnb li .depth01>li a {padding:10px 0 10px 20px;color:#666;font-weight:normal;border:0;background:url('../img/common/ico_arrow.png') no-repeat -10px -100px}
.brandMc_section .brand_mall_lnb li .depth01>li.on>a {font-weight:bold;color:#e53433;background:url('../img/common/ico_arrow.png') no-repeat -10px 12px}
.brandMc_section .brand_mall_lnb li .depth01 li .depth02 {display:none;padding-left:16px}
.brandMc_section .brand_mall_lnb li .depth01 li .depth02 li {padding:5px 0 5px 0}
.brandMc_section .brand_mall_lnb li .depth01 li .depth02 li a {padding:0;color:#888;font-size:11px;background-image:none}
.brandMc_section .brand_mall{float:right;width:724px;}
.brandMc_section .brand_mall .br_img{width:100%;margin-bottom:30px;}
.brandMc_section .brand_mall .br_img p{margin-bottom:20px;line-height:18px;}
.brandMc_section .btn_move a {position:absolute;top:50%;display:block;overflow:hidden;width:32px;height:50px;margin-top:-25px;font-size:1px;text-indent:-9999px;z-index:1000;}
.brandMc_section .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat 0 -530px;}
.brandMc_section .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -34px -530px;}
.brandMc_section .new_brand{margin-bottom:30px;}
.brandMc_section .new_brand h3{padding:13px 0;font-size:19px;color:#333;font-weight:bold;text-align:center;border:1px solid #bfbfbf;border-top:2px solid #333;}
.brandMc_section .new_brand .product_list_wrap{border-top:0;}
.brandMc_section .new_brand .product_list_wrap .product_list{width:auto;height:390px;}
.brandMc_section .new_brand .product_list_wrap .product_list .list>li:first-child{width:240px;border-left:0;}
.brandMc_section .new_brand .product_list_wrap .product_list .list>li{width:240px;border-left:1px solid #e0e0e0;}
.brandMc_section .new_brand .product_list_wrap .product_list.brandlist .list{border-top:0;}
.brandMc_section .new_brand .product_list_wrap .product_list.brandlist .product_off .prtit_area{left:45px;width:172px;}
.brandMc_section .new_brand .ico_rank{position:absolute;top:0;left:0;padding:7px;color:#898178;font-size:18px;font-weight:bold;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.brandMc_section .new_brand .ico_fir{color:#e53433;}
.brandMc_section .exhibition_list{width:auto;}
.brandMc_section .exhibition_list li>a{width:229px;}
.brandMc_section .exhibition_list li>a>img{width:229px;}
.brandMc_section .product_list_wrap .tab_area{border-bottom:0;}
.brandMc_section .product_list_wrap .product_list{width:723px;}
.brandMc_section .product_list_wrap .product_list .list>li:first-child{width:180px;}
.brandMc_section .product_list_wrap .product_list .list>li{width:181px;}
.brandMc_section .product_list_wrap .product_list .list .img{padding-top:0;}