@charset "utf-8";

/* html 전용(추후 삭제) */
#header {height:170px;background:url('http://dev.shillaipark.com:8111/estore/_ui/desktop/common/shilladfshome/kr/img/tmp_header.jpg') 50% 0;}
#header .header_wrap img {display:none;}


/* 11번가 */
