/*common*/

.lnb_wrap .h2_area > div { display:inline; zoom:1}
.cn_brand_part .part_tit + div {*zoom:1}
.foot_area .mark_area .mark li {*zoom:1}

#container .path li { display:inline; zoom:1; }
#container .pagination { margin:0 auto; }
#container .pagination li > a > img { vertical-align:middle; }
#container .pagination ul > li { display:inline; zoom:1; }
.chk_list li { display:inline; zoom:1; }
.product_list_wrap .tab_area .tit_tab li {margin-left:0}

/* cs common */
.cs_wrap .cs_1by1 .info { width:668px; }
.faq_wrap .cs_cont .info_1vs1 { zoom:1; }


/* cs > 1by1 */
.cs_wrap .cs_1by1 .write_box .decs a { width:104px; vertical-align:middle; }
.cs_wrap .cs_1by1 .write_box .table_default td .select_box li .step1 { width:74px; }
.cs_wrap .cs_1by1 .write_box .table_default td .select_box li .step2 { width:149px; } 
.cs_wrap .cs_1by1 .write_box .table_default td .select_box li .step3 { width:179px; }
.cs_wrap .cs_1by1 .write_box .table_default tr td .w167 { width:153px; height:10px; }
.cs_wrap .cs_1by1 .write_box .table_default tr td .w350 {float:left;}
.cs_wrap .cs_1by1 .write_box .table_default tr td > input { width:482px; height:16px; }
.cs_wrap .cs_1by1 .write_box .table_default tr td > textarea { width:478px; }
.cs_wrap .cs_1by1 .write_box .table_default tr td .select_box li .step1 { width:84px; height:22px; }

/* cs > faq */
.cs_box .faq_search ul li .select { width:143px; }
.cs_box .faq_search ul li .input { width:223px; }
.cs_box .faq_search ul li .btn { width:33px; vertical-align:middle; }
.faq_wrap .cs_cont .faq_search { zoom:1; }
.cs_box .faq .answer { zoom:1; }
.cs_box .faq .survey { zoom:1; }
.cs_box .faq .cont .chk_list { zoom:1; }
.cs_box .faq .cont .chk_list li { float:left; }
.faq_wrap .cs_cont .info_1vs1 p.tit { width:119px; }
.faq_wrap .cs_cont .info_1vs1 div.desc a.btn { width:147px; }

/* cs > guide */
.cs_guide_wrap .step_area ul {}
.cs_guide_wrap .step_area ul li { width:144px;}
.cs_guide_wrap .step_area ul li:first-child { width:147px; }
.cs_guide_wrap .tab .tit_tab li a { height:29px; } 
.cs_guide_wrap .tab .tit_tab li:first-child a { height:30px; } 

/* .find_id_wrap */
.find_id_wrap .step ul li { width:400px; }
.find_id_wrap .find .find_input > ul > li > input { padding:18px 20px !important; height:auto; width:318px; line-height:16px; }

/* .find_pw_wrap */
.find_pw_wrap .step ul li { width:167px; }
.find_pw_wrap .find .find_input > ul > li > input { padding:18px 20px !important; height:auto; width:318px; line-height:16px; }
.find_pw_wrap .find .find_input .security { zoom:1; }
.find_pw_wrap .find .find_input .security > span {float:left}
.find_pw_wrap .find .find_input .security > .ico  { display:inline-block; vertical-align:top; } 

/* .pop_newwin .login */
.pop_newwin .login .contents .list { width:360px; }
.pop_newwin .login .contents .sns .sns_icon { width:360px; }

/* .staff_member_wrap .staff  */
.staff_member_wrap .staff .staff_input ul > li > input { padding:18px 20px !important; height:auto; width:318px; line-height:16px; }
.staff_member_wrap .staff .staff_input .delivery_info .input { padding:17px 20px !important; height:auto; width:174px; line-height:16px; display:inline; }
.staff_member_wrap .staff .staff_input .delivery_info .btn { float:left; }
.staff_member_wrap .staff .staff_input .delivery_info .zoom { zoom:1; }
.staff_member_wrap .staff .desc ul { width:auto; }

/* .signup_wrap .step */
.signup_wrap .step ul li:first-child { width:246px; }
.signup_wrap .step ul li { width:245px; }

/* .sign_wrap .title .email */
.sign_wrap .title .email input { padding:18px 20px !important; height:auto; width:318px; line-height:16px; }
.sign_wrap .title .email .sns .sns_icon { width:360px; }
.sign_wrap .email_info div.cont { width:766px; background-position:355px 50%; }

/* .signup_wrap .mail_send_wrap */
.signup_wrap .mail_send_wrap { height:auto; }
.signup_wrap .mail_wrap { height:auto; }

/* .account_item */
.account_item .agree_info .chk_list li { line-height:normal; }
.account_item .info_wrap .security { zoom:1; }
.account_item .info_wrap .security > span {float:left}
.account_item .info_wrap .security > .ico  { display:inline-block; vertical-align:top; }

/* .detail_view */
.detail_view .relative .tit_tab { width:734px; }
.detail_view .relative .tit_tab li { width:367px; }


/* .marketing_brand .section .brand_box .brand_product .list li .product_over */
.marketing_brand .section .brand_box .brand_product .list li .product_over { width:108px; height:108px; }

/* .marketing_warp .product_list_wrap .tab_area */
.marketing_warp .product_list_wrap .tab_area > .tit_tab li { zoom:1; display:inline; }

/* .marketing_warp .tab_area2 */
.marketing_warp .tab_area2 { zoom:1; }
.marketing_warp .tab_area2 .area .product_over { width:147px; height:245px; }
.marketing_warp .tab_area2 .area .product_over .btn { zoom:1; }
.marketing_warp .tab_area2 .tit_tab li a { padding:6px 0 6px; height:auto; }

/*marketing_gift*/
.visual_gift .tab { zoom:1; }
.tit_rolling .banner_nav { zoom:1; }
.list_rolling .product_list { zoom:1; }
.visual_gift .tit_rolling > ul { zoom:1; }
.list_rolling .product_list .product_over {width:201px; height:364px; }
.list_rolling .product_list .product_over .btn li {width:115px}
.marketing_gift .best_present { zoom:1}
.marketing_gift .best_present ul { zoom:1}
.marketing_gift .best_product .list > li { width:185px; }
.best_present .product_over { width:150px; }
.marketing_warp .best_product .product_over { width:155px; height:230px}
.marketing_warp .best_product .product_over .btn { width:183px}
.marketing_warp .best_product .product_over .btn li {width:92px}
.marketing_warp .best_product .product_over .btn li:first-child {width:91px}
.marketing_warp .product_list_wrap .product_list .outline .product_over { width:137px; height:320px; }
.marketing_warp .product_list_wrap .product_list .outline .product_over .btn li { width:83px; }

/* marketing_bestselling */
.marketing_tab .product_list_wrap > .new_tab.tab_area > .tit_tab { zoom:1; }
.marketing_tab .product_list_wrap > .new_tab.tab_area > .tit_tab li { width:232px; }
.marketing_bestselling .best_selling .best_box  { zoom:1; }
.marketing_bestselling .best_selling .best_box .product_over { width:247px; zoom:1; height:295px; }
.marketing_bestselling .best_selling .best_box .product_over .button { width:280px; }
.marketing_bestselling .best_selling .best_box .product_over .button a { display:inline; zoom:1; }
.marketing_bestselling .best_selling .best_box .thum_l .product_over { width:330px; height:625px; }
.marketing_warp .marketing_bestselling .best_selling .best_list .product_list ul li .outline .product_over { width:132px; height:341px; }
.marketing_bestselling .four .best_box .product_over { width:197px; height:356px; }
.marketing_bestselling .four .best_box .product_over .button { width:232px; }
.marketing_bestselling .best_selling .brand_best { width:874px; }
.marketing_bestselling .best_selling .brand_best li { height:20px; }
.marketing_bestselling .best_search_list { zoom:1; }

/* hot_sale*/
.hotsale_wrap .hotsale_banner .specials_sale { z-index:100; }
.hotsale_wrap .hotsale_banner .specials_sale .list_wrap { width:931px; height:308px; }
.hotsale_wrap .hotsale_banner .specials_sale .list { zoom:1; margin-top:30px; }
.hotsale_wrap .hotsale_banner .specials_sale .product { zoom:1; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_move a { top:170px; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_box .btn_area { zoom:1; display:inline; width:215px; height:32px; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_box .prev { margin-right:7px; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_box .banner_nav ul { zoom:1; display:inline; float:left; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_box .btn_area .banner_nav { zoom:1; display:inline; }
.hotsale_wrap .hotsale_banner .specials_sale .btn_move a { top:170px; }


/* marketing_korea */
.marketing_korea .visual_korea .visual .visual_contents .btn_area { width:134px; }
.marketing_korea .visual_korea .visual .visual_contents .btn_area .prev { width:7px; }
.marketing_korea .visual_korea .visual .visual_contents .btn_area .next { width:7px; float:right; }
.marketing_korea .visual_korea .visual .visual_contents .btn_area .banner_nav { float:left; width:62px; padding-left:18px; }
.marketing_korea .visual_korea .visual .visual_contents .btn_area .banner_nav li { display:block; float:left;}

/* marketing_brandmall */
.marketing_brandmall .banner_area { zoom:1}
.marketing_brandmall .sort_choice.clear_both { zoom:1}
.marketing_brandmall .best_brand .list .product_over { width:166px; height:230px; }

.choice_box .collect { zoom:1}