@charset "utf-8";

/* main_common */
.mainWrap #footer{background-position:0 0;}/* 2016-09-19_수정 */
/*#container {width:100%;background:url(../img/common/bg_body_main2.png) repeat-x;} */
.main_wrap {width:100%; overflow:hidden; /*margin:0 auto;*/} /*17.09.18 메인 배너 사이즈 변경 */
.main_wrap .more {width:50px;top:auto;right:0;bottom:7px;border:0;}/* 2016-12-14 수정 */
.main_wrap .more a::after {background-position:left bottom;width:10px;height:10px;right: 0;}
.main_wrap .tit_area {position:relative;width:100%;}
#main_visual_bg {position:absolute;top:163px;left:0;display:block;height:454px;width:100%;z-index:0}/* 17.09.15 수정 */
.cn_category_view {display:block}/* 2016-10-10 수정 */
.cn_category_view .cn_view_list {display:block}/* 2016-10-10 수정 */
.main_wrap h3 {font-size:27px !important;}
.mainWrap #container {width:100%;}  /*17.09.18 메인 배너 사이즈 변경 */

/* product_over */
.product_over .over_btn {width:100%;left:0;bottom:0;}
.product_over .price .sale {font-size:18px;/*color:#fff;*/}/*개발 수정 */

/* tab */
.tit_tab {box-sizing:border-box;width:100%;}
.tit_tab li {float:left;}
.tit_tab li a {box-sizing:border-box;display:block;padding:18px 0;border-width:2px 1px 1px 0;border-style:solid;border-color:#555555;background-color:#fff;text-align:center;color:#6e6e6e;font-weight:bold;}
.tit_tab li:first-child a {border-left:1px solid #bfbfbf;}
.tit_tab li:last-child a {border-right:1px solid #bfbfbf;}
.tit_tab li a.on {border-top:2px solid #e53433;border-bottom:none;background-color:#fff;font-weight:bold;letter-spacing:-1px;color:#e53433;}

/* brand_banner */
.tit_brand {border-top:1px solid #bfbfbf;background:#fff;}
.tit_brand li {position:relative;float:left;padding:7px 1%;background:url(../img/common/ico_common.png) no-repeat -99px -300px;text-align:center;}
.tit_brand li:first-child {background:none;}
.tit_brand li a:hover img {opacity:0.5;filter:alpha(opacity = 50);}

/* visual 17.09.15 전체 수정 */
.visual {position:relative;width:100%;height:454px;margin-bottom:40px;z-index:999;box-sizing:border-box;} /* 17.09.15 수정 */
.visual .visual_detail {position:relative; height:454px; text-align:center;} 
.visual .visual_detail .img {overflow:hidden; /*height:454px;*/}  /*17.09.18 수정*/
.visual .visual_detail .img li {display:none; position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;}
.visual .visual_detail .img li img {/*width:1920px;height:454px;*/} /*17.09.18 수정*/
.visual .visual_detail .img li  a {display:block; position:relative; width:1320px; height:100%; margin:0 auto; z-index:1; } /*17.09.18 추가*/
.visual .visual_detail .img li  a img {position:absolute;top:0; left:50%; margin-left:-960px;} 

.visual .menu {position:absolute;left:50%;margin-left:-341px;bottom:0;font-family:'Microsoft YaHei'; z-index:999;}  /*17.09.18 수정*/
.visual .menu li a {overflow:hidden; display:block; text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.visual .menu > li {position:relative; float:left; width:161px;}
.visual .menu > li > a {padding:0 5px; height:41px; line-height:41px;border:1px solid #ccc; border-right:none; font-size:12px; background-color:#fff;}
.visual .menu > li > a.on {border-bottom-color:#e53433;font-weight:bold;color:#e53433;}

.main_visual .menu > li > a {padding:14px 0; border:1px solid #ccc; border-right:none; background-color:#fff; font-weight:bold;}
.main_visual .menu > li:last-child a {border-right:1px solid #ccc;}
.main_visual .menu > li > a.on {border-bottom-color:#e53736;font-weight:bold;color:#eb3030;}

.visual .menu > li:first-child > a {border-left:1px solid #e5e5e5;}
.visual .menu > li ul {position:absolute;bottom:43px;width:161px;display:none;}
.visual .menu > li ul li a {display:block;padding:10px 6px;border-top:1px solid #5b5959;border-right:1px solid #5b5959;border-left:1px solid #5b5959;background-color:#6d6d6d;font-size:12px;/*opacity:0.9;filter:alpha(opacity = 90);*/color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-align:center;}
.visual .menu > li ul li a:hover, .visual .menu > li ul li a.on {background-color:#e53433;border-top:1px solid #a02424;border-right:1px solid #a02424;border-left:1px solid #a02424;}
.visual .btn {position:absolute;right:0;bottom:0;z-index:100;}
.visual .btn a {display:block;width:42px;height:44px;font-size:1px;text-indent:-9999px;}
.visual .btn a.play {background:url(../img/common/ico_play_s.png) no-repeat;}
.visual .btn a.pause {background:url(../img/common/ico_pause_s.png) no-repeat;}

/* 17.09.15 main_visual  상단 버튼 추가 s*/
.visual .newBtnArea {
    overflow: hidden;
    position: absolute;
    top: 20px;
	left:50%;
	margin-left:384px;
    z-index: 100;
    height: 25px;
    border: 0;
	background:rgba(108,108,108,0.1);
}
/* 17.10.20 숨기처리
.visual .newBtnArea .next:after {
	content:"";
	display:block;
	position:relative;
	margin-top:-2px;
	height:11px;
	background: url(../img/main/visualControls_bgline.png) no-repeat;
	clear:both;
}
.visual .newBtnArea .pause:after, .visual .newBtnArea .play:after {
	content:"";
	display:block;
	position:relative;
	margin-top:-3px;
	height:11px;
	background: url(../img/main/visualControls_bgline.png) no-repeat;
	clear:both;
}*/
.visual .newBtnArea a {
    overflow: hidden;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 1px;
    text-indent: -9999px;
    background: url(../img/main/visualControls_off.png) no-repeat;
}

.visual .newBtnArea a:hover {
    overflow: hidden;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 1px;
    text-indent: -9999px;
    background: url(../img/main/visualControls_on.png) no-repeat;
}

.visual .newBtnArea a.play {
    background-position: 1px 0;
	margin-right:-1px;
}

.visual .newBtnArea a.pause {
    background-position: -25px 0;
	margin-right:-1px;
}

.visual .newBtnArea a.prev {
    background-position: 0 -25px;
	margin-top:-1px;
}

.visual .newBtnArea a.next {
    background-position: -25px -25px;
	margin-top:-1px;
	margin-left:-1px;
}
/* 17.09.15 main_visual  상단 버튼 추가 e*/

/* brand_sale */
.brand_sale {position:relative;margin-bottom:30px;overflow:hidden; width:931px; margin:0 auto;} /* 17.09.18 수정*/
.brand_sale .list {height:220px;overflow:hidden;padding:0 30px;} /* 2017-01-23 */
.brand_sale .list li {float:left;width:218px;} /* 2017-01-23 */
.brand_sale .list li:first-child {/*width:33.3%;*/ border-left:none;}
/*.brand_sale .btn_move a {overflow:hidden;position:absolute;top:54px;display:block;width:32px;height:50px;font-size:1px;text-indent:-9999px;}  2017-01-23 */
/*.brand_sale .btn_move a.prev {left:0;background:url(../@img/common/ico_common.png) no-repeat 0 -530px;}
.brand_sale .btn_move a.next {right:0;background:url(../@img/common/ico_common.png) no-repeat -34px -530px;} 2017.01.26 숨김 */
/* 2017.01.26 추가 s */
.brand_sale .btn_move a {overflow:hidden;position:absolute;top:0;display:block;width:32px;height:100%;font-size:1px;text-indent:-9999px;}
.brand_sale .btn_move a.prev {left:0;background:url(../img/common/ico_common_arr_left.jpg) no-repeat 0 0;}
.brand_sale .btn_move a.next {right:0;background:url(../img/common/ico_common_arr_right.jpg) no-repeat 0 0;} 
/* 2017.01.26 추가 e */

/* specials_sale */
.specials_sale {position:relative;margin-bottom:30px;width:931px; margin:0 auto;} /* 17.09.18 수정*/
.specials_sale h2 {padding:18px 0 15px;}/* 2016-12-14 수정 */
/*#container .specials_sale .tit_area h2 span {min-width:105px;}*/
.specials_sale .list_wrap {background-color:#e6e6e6;padding:16px 0;border-width:1px 1px 1px 1px;border-style:solid;border-color:#bfbfbf;overflow:hidden;position:relative;height:258px;overflow:hidden;}
.specials_sale .list {width:4000px !important;margin-left:-360px}
.specials_sale .list li {float:left;position:relative}
.specials_sale .dim_screen {position:absolute;left:0;top:0;width:100%;z-index:100}
.specials_sale .on .dim_screen {display:none}
.specials_sale .product {position:relative;width:531px;margin:0 8px;}
.specials_sale .product_img {position:relative;float:left;border:2px solid #e6e6e6;}
.specials_sale .on .product_img {border:2px solid #e33534;}
.specials_sale .on .product_info {background:url('../img/main/specials_sale1_on.png') no-repeat;}
.specials_sale .product_img img {width:283px;height:253px;}
.specials_sale .product_img .ico {position:absolute;top:10px;left:10px;}
/* 2016.03.21 수정 */
.specials_sale .ico_discount_big {line-height:60px;}
.specials_sale .ico_discount_big > span {font-size:20px;}
.specials_sale .product_info {float:left;background:#e33534;}
.specials_sale .product_info {background:url('../img/main/specials_sale1.png') no-repeat;width:206px;height:217px;position:absolute;right:0;padding:20px;}
.specials_sale .product_info .name {font-size:18px;font-weight:bold;font-family:"Microsoft YaHei";border-bottom:1px solid #bfbfbf;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.specials_sale .product_info .name span {font-size:14px;font-weight:normal;display:block;margin-top:9px;padding-bottom:8px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.specials_sale .product_info .sub_name {margin-top:6px;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.specials_sale .product_info .sub_name span {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.specials_sale .product_info .price {margin-top:10px;font-family:"Times New Roman";}
.specials_sale .product_info .price .sale {font-size:32px;}
.specials_sale .product_info .price .regular {font-size:22px;}
.specials_sale .product_info .won {color:#555;margin-top:5px;}
.specials_sale .product_info.login_guide .btn_area a {width:100%;}
.specials_sale .product_info.login_guide .btn_area a:first-child {background-color:#e53433;}
.specials_sale .product_info .login_txt {margin-top:19px;color:#e53433;font-size:14px;line-height:1.6em;text-align:center}
.specials_sale .product_info.sold_out .price {margin-top:3px}
.specials_sale .product_info.sold_out .btn_area a {width:100%;}
.specials_sale .product_info.sold_out .btn_area a:first-child {background-color:#e53433;}
.specials_sale .product_info .soldout_txt {margin-top:11px;color:#666;font-size:14px;text-align:center}
.specials_sale .product_info .btn_area {position:absolute;left:20px;right:20px;bottom:20px;width:auto}
.specials_sale .product_info .btn_area a {display:inline-block;float:left;padding:11px 0px;margin:0;width:50%;background-color:#e53433;text-align:center;color:#fff;}
.specials_sale .product_info .btn_area a:first-child {background-color:#444444;}
.specials_sale .btn_move a {overflow:hidden;position:absolute;top:180px;display:block;width:32px;height:50px;font-size:1px;text-indent:-9999px;z-index:100}
.specials_sale .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat 0 -530px;}
.specials_sale .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -34px -530px}

/* hot_sale */
.hot_sale {position:relative;margin-bottom:30px;}
.hot_sale .tit_tab li {width:33.3%;}
.hot_sale .tit_tab li:first-child {width:33.4%;}
.hot_sale .tit_tab li a {font-size:26px;font-family:"Microsoft YaHei";}
.hot_sale .area {position:relative;overflow:hidden;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;width:928px;}
.hot_sale .area .list {white-space:nowrap}
.hot_sale .area .list > li {position:relative;float:left;width:233px;background:url(../img/common/bg_line_hl.png) no-repeat right 20px;}
.hot_sale .area .list > li >  a {display:block;width:167px;min-height:287px;height:auto;margin:0 auto;}
.hot_sale .area .product_off {font-size:12px;text-align:center;color:#67564f;}
.hot_sale .area .product_off .img {margin-bottom:10px;padding:25px 0 10px 0;border-bottom:1px solid #d2d2d2;}
.hot_sale .area .product_off .img .tit {display:block;line-height:1.3;}
.hot_sale .area .product_off .img .tit span {display:block;padding:5px 0;font-weight:bold;color:#333;}
.hot_sale .area .product_over .percent {padding:15px 0;}
.hot_sale .area .product_over .percent span {text-decoration:none;}
.hot_sale .area .tit_brand {border:1px solid #bfbfbf;}
.hot_sale .area .tit_brand li {width:18%;}
.hot_sale .area .price {font-family:"Microsoft YaHei";}
.hot_sale .btn_move a {position:absolute;top:180px;display:block;width:32px;height:50px;font-size:1px;text-indent:-9999px;z-index:999}
.hot_sale .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat 0 -530px;}
.hot_sale .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -34px -530px;}

/* 국내 best_seller */
.best_in {position:relative;margin-bottom:30px; width:931px; margin:0 auto;} /* 17.10.30 수정*/
.best_in #best_in_tab {}
.best_in h2 {padding:18px 0 15px;}/* 2016-12-14 수정 */
.best_in h2 em {color:#e53433;}
.best_in .tit_tab li {width:20%;letter-spacing:-1px;}
.best_in .area {padding-top:15px;margin-top:-1px;border-width:0 1px 1px 1px;border-style:solid;border-color:#bfbfbf;}
.best_in .area .img {padding:0 15px;}
.best_in .area .list {margin:0 15px;}
.best_in .area .list > li {position:relative;float:left;width:20%;}
.best_in .area .list > li >  a {display:block;width:167px;min-height:265px;height:auto;margin:0 auto;}
.best_in .area .list > li:first-child a .product_off .rank {border-bottom:1px solid #ef3f3b;color:#ef3f3b;}
.best_in .area .product_off {position:relative;font-size:12px;text-align:center;}
.best_in .area .product_off .rank {position:absolute;left:0;top:20px;border-bottom:1px solid #a08e86;font-weight:bold;color:#a08e86;}
.best_in .area .product_off .img {padding:25px 0 10px 0;/*border-bottom:1px solid #d2d2d2;*/}
.best_in .area .product_off .img img {width:130px;height:130px}
.best_in .area .product_off .img .tit {min-height:36px;margin-top:10px;display:block;line-height:1.3;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.best_in .area .product_off .img .tit span {display:block;padding-bottom:7px;font-weight:bold;line-height:1;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.best_in .area .tit_brand li {width:18%;}
.best_in a:hover .brand_over {top:0;left:0;width:100%;height:100%;}

/* 해외 best_seller */
.best_out {position:relative;}
.best_out h2 {padding:20px 0;}
.best_out .list_wrap {width:931px;margin:0 auto;margin-bottom:12px;height:338px;overflow:hidden}
.best_out .list {white-space:nowrap;border-top: 2px solid #555;}
.best_out .list li {float:left;width:232px;margin-left:1px;}
.best_out .list li:first-child {margin-left:0;}
.best_out .btn_move a {position:absolute;top:210px;display:block;width:32px;height:50px;font-size:1px;text-indent:-9999px;}
.best_out .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat 0 -530px;}
.best_out .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -32px -530px;}

/* 신상품 new_arrival */
.new_arrival {position:relative;margin-bottom:30px;width:931px; margin:0 auto;} /* 17.09.18 수정*/
.new_arrival h2 {padding:18px 0 15px;}/* 2016-12-14 수정 */
.new_arrival .new_arrival_area {border-width:2px 1px 1px 1px;border-style:solid;border-color:#555555 #bfbfbf #bfbfbf #bfbfbf;zoom:1}
.new_arrival .new_arrival_area:after {content:"";display:block;clear:both:}
.new_arrival .new_arrival_teb {float:left;width:230px;border-right:1px solid #bfbfbf}
.new_arrival .new_arrival_teb li {width:230px;height:47px;border-top:1px solid #bfbfbf;overflow:hidden}
.new_arrival .new_arrival_teb li:first-child{border-top:none}
.new_arrival .new_arrival_teb li.on img{margin-top:-47px}
.new_arrival .new_arrival_contents{float:right;width:698px;height:239px;overflow:hidden}
.new_arrival .new_arrival_contents .new_arrival_banner {display:none}
.new_arrival .new_arrival_contents .active {display:block}

/* 기프트 */
.gift_shop {position:relative;margin-bottom:30px;width:931px; margin:0 auto;} /* 17.09.18 수정*/
.gift_shop h2 {padding:18px 0 15px;}/* 2016-12-14 수정 */
.gift_shop .gift_shop_area {border-width:2px 1px 1px 1px;border-style:solid;border-color:#555555 #bfbfbf #bfbfbf #bfbfbf;}
.gift_shop .gift_list li {float:left;border-left:1px solid #bfbfbf;}
.gift_shop .gift_list li:first-child {border-left:0}
.gift_shop .gift_list li img {width:232px;}
.gift_shop .gift_list li:first-child img {width:231px;}
.gift_shop .gift_list li:last-child img {width:231px;}

/* 각 상품별 best_seller */
.best_product {position:relative;margin-top:-20px;width:931px; margin:0 auto;} /* 17.09.18 수정*/
.best_product .product_over .tit {width:240px} 
.best_product .tit_bar, .best_product .tit_bar span {background:none;}
.best_product .tab_area {position:relative;width:100%;margin-bottom:0;}/* 2016-12-14 수정 */
.best_product .tab_area h3 {padding:38px 0 15px;font-size:26px;font-family:"Microsoft YaHei";font-weight:bold;text-align:center;color:#333;}/* 2016-12-14 수정 */
.best_product .area{border-width:2px 1px 1px;border-style:solid;border-color:#555 #bfbfbf #bfbfbf;}
.best_product .cont {position:relative;float:left;width:380px;min-height:524px;border-right:1px solid #bfbfbf;}
.best_product .cont .banner_img .imgcon {display:none}
.best_product .cont .banner_img .on {display:block}
.best_product .cont .banner_nav {position:absolute;top:235px;left:20px;width:184px;}
.best_product .cont .banner_nav ul {display:inline-block}
.best_product .cont .banner_nav ul li {float:left;margin-right:6px;width:8px;height:8px;}
.best_product .cont .banner_nav ul li a {display:block;width:8px;height:8px;overflow:hidden;text-indent:-99px;background:url(../img/common/bg_dot_slidev2.png) no-repeat left -8px;}
.best_product .cont .banner_nav ul li a.on {background-position:0 0;}
.best_product .cont .menu {padding:12px 13px 15px;}
.best_product .cont .menu li {float:left;width:114px;margin:3px 2px;}
.best_product .cont .menu li a {display:table-cell;width:112px;height:34px; border:1px solid #d2d2d2;font-size:12px;text-align:center;vertical-align:middle;line-height:1.2;}
.best_product .cont .menu li a:hover, .best_product .cont .menu li a.on {border:1px solid #e53433;background-color:#e53433;color:#fff;}
.best_product .cont .banner {position:absolute;left:0;bottom:0;width:354px;padding:0 13px 25px;}
.best_product .cont .banner li {float:left;margin:14px 1px 0;width:116px;height:37px;}
.best_product .cont .banner li a {display:block;width:116px;height:37px;overflow:hidden;position:relative}
.best_product .cont .banner li a img {width:100%;min-width:116px;height:100%;min-height:37px;}

.best_product .cont .banner a:hover .brand_over {top:1px;left:1px;width:114px;height:36px;}
.best_product .cont .banner .brand_over strong {margin-top:6px}
.best_product .cont .banner .brand_over span {margin-top:2px}
.best_product .product_list {float:right;width:548px;} 
.best_product .product_list > ul > li {position:relative;float:left;width:50%;height:262px;}
.best_product .product_list .product_off ul.price {position:absolute;left:15px;top:20px;}
.best_product .product_list .product_off ul.price .tit {width:240px;}
.best_product .product_list .product_off ul.price .tit strong {display:block;margin-bottom:10px;color:#444444;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.best_product .product_list .product_off ul.price .tit span {display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.best_product .product_list p.img {position:absolute;right:0;bottom:0;}
.best_product .product_list p.img img {width:185px;height:185px}
.best_product .quick {position:absolute;left:-65px;top:98px;}
.best_product .fixed {position:fixed;left:50%;top:98px;margin-left:-531px}
.best_product .quick li a {overflow:hidden;display:block;width:44px;height:45px;background:url(../img/common/ico_best_product.png) no-repeat 0 0;font-size:1px;text-indent:-9999px;}
.best_product .quick li.q1 a {background-position:0 0;}
.best_product .quick li.q1 a:hover, .best_product .quick li.q1 a.on {background-position:-44px 0;}
.best_product .quick li.q2 a {background-position:0 -45px;}
.best_product .quick li.q2 a:hover, .best_product .quick li.q2 a.on {background-position:-44px -45px;}
.best_product .quick li.q3 a {background-position:0 -90px;}
.best_product .quick li.q3 a:hover, .best_product .quick li.q3 a.on {background-position:-44px -90px;}
.best_product .quick li.q4 a {background-position:0 -135px;}
.best_product .quick li.q4 a:hover, .best_product .quick li.q4 a.on {background-position:-44px -135px;}
.best_product .quick li.q5 a {background-position:0 -180px;}
.best_product .quick li.q5 a:hover, .best_product .quick li.q5 a.on {background-position:-44px -180px;}
.best_product .quick li.q6 a {background-position:0 -225px;}
.best_product .quick li.q6 a:hover, .best_product .quick li.q6 a.on {background-position:-44px -225px;}
.best_product .quick li.q7 a {background-position:0 -270px;}
.best_product .quick li.q7 a:hover, .best_product .quick li.q7 a.on {background-position:-44px -270px;}
.best_product .quick li.q8 a {background-position:0 -315px;}
.best_product .quick li.q8 a:hover, .best_product .quick li.q8 a.on {background-position:-44px -315px;}
.best_product .quick li.q9 a {background-position:0 -360px;}
.best_product .quick li.q9 a:hover, .best_product .quick li.q9 a.on {background-position:-44px -360px;}
.best_product .quick li.q10 a {background-position:0 -405px;}
.best_product .quick li.q10 a:hover, .best_product .quick li.q10 a.on {background-position:-44px -405px;}
.best_product .quick li.q11 a {height: 54px;background-position:0 -450px;}
.best_product .quick li.q11 a:hover, .best_product .quick li.q11 a.on {background-position:-44px -450px;}

/* branch_area (지점소개) */
.branch_area {margin:50px 0;border:1px solid #bfbfbf;}
.branch_area h3 {padding:29px 0 17px 0;text-align:left !important;}
.branch_area h3 span {font-weight:normal;}
.branch_area .branch_tit {float:left;width:182px;}
.branch_area .branch_tit li:first-child a {border-top:none;}
.branch_area .branch_tit li a {display:block;height:46px;padding-left:15px;line-height:46px;color:#333;border-top:1px solid #bfbfbf;border-right:1px solid #bfbfbf;background-color:#e6e6e6;}
.branch_area .branch_tit li a:hover, .branch_area .branch_tit li a.on {border-right:1px solid #373231;background:#373231 url(../img/common/ico_common.png) no-repeat 165px -782px;color:#fff;}
.branch_area .area {float:right;width:717px;}
.branch_area .area .txt {float:left;width:277px;color:#888;}
.branch_area .area .txt .desc {line-height:1.5;}
.branch_area .area .txt .btn {padding:20px 0 22px 0;}
.branch_area .area .txt .btn li {display:inline-block;width:80px;}
.branch_area .area .txt .btn li a {display:block;width:80px;padding:7px 0 7px 0;border:1px solid #e0e0e0;font-size:12px;text-align:center;color:#333;}
.branch_area .area .txt .btn li a:hover, .branch_area .area .txt .btn li a.on {border-color:#555;background-color:#555;color:#fff;}
.branch_area .area .txt .info {font-size:12px;}
.branch_area .area .txt .info li {padding-top:4px;line-height:22px}
.branch_area .area .txt .info li:first-child {padding-top:0;}
.branch_area .area .txt .info li span {display:inline-block;vertical-align:top;width:70px;color:#666;}
.branch_area .area .txt .info li span > span {width:auto;margin-left:24px;}
.branch_area .area .txt .info li p {display:inline-block;vertical-align:top;}
.branch_area .area .img {float:right;width:390px;height:268px;padding:30px 30px 0 0;}
.branch_area .area .img img {width:100%;height:100%;/*min-width:365px;min-height:281px*/}

/* information */
.information {box-sizing:border-box;width:100%;padding:0 16px;font-size:12px;color:#858585;}
.information h2 {padding-bottom:35px;}
.information a {color:#858585;}
.information .cs_center {float:left;width:410px;padding-right:40px;border-right:1px solid #d2d2d2;}
.information .cs_center .area {width:100%;}
.information .cs_center .info {float:left;width:220px;}
.information .cs_center .info li {padding:5px 0;}
.information .cs_center .info li em {font-weight:bold;color:#df2d2d;}
.information .cs_center .lnk {float:right;width:150px;}
.information .cs_center .lnk li {padding:11px 0;border-bottom:1px solid #d2d2d2;background:url(../img/common/ico_common.png) no-repeat 2px -192px;}
.information .cs_center .lnk li:first-child {background-position:2px -142px;}
.information .cs_center .lnk li a {display:block;padding-left:32px;background:url(../img/common/ico_common.png) no-repeat 140px -348px;}
.information .notice {position:relative;float:right;width:410px;color:#858585;}
.information .notice h2 {padding-bottom:40px;}
.information .notice li {position:relative;width:100%;padding:5px 0;}
.information .notice li a {overflow:hidden;display:inline-block;width:300px;text-overflow:ellipsis;white-space:nowrap;}
.information .notice li span {position:absolute;right:0;}
.information .more {top:5px;right:0;}

/* 2017.06.23 메인 right 둥둥이 배너 추가 s*/
.doongdoonge_banner {z-index:1; position:absolute; top:480px; right:50%; margin-right:-670px; width:174px; height:180px;}
.doongdoonge_banner.fixed{z-index:1; position:fixed; top:330px; right:50%; margin-right:-670px; width:174px; height:180px;}
.doongdoonge_banner {
	animation:ani 1.3s infinite linear; 
	-webkit-animation:ani 1.3s infinite linear; 
	-moz-animation:ani 1.3s infinite linear; 
	-o-animation: ani 1.3s infinite linear;
	}
@keyframes ani {
    0% { top: 480px;} 
    50% { top: 475px;}
    100% { top: 480px;}
}
@-webkit-keyframes ani {
    0% { top: 480px;} 
    50% { top: 475px;}
    100% { top: 480px;}
}
.doongdoonge_banner.fixed {
	animation:anii 1.3s infinite linear; 
	-webkit-animation:anii 1.3s infinite linear; 
	-moz-animation:anii 1.3s infinite linear; 
	-o-animation: anii 1.3s infinite linear;
}
@keyframes anii {
    0% { top: 330px;} 
    50% { top: 325px;}
    100% { top: 330px;}
}
@-webkit-keyframes anii {
    0% { top: 330px;} 
    50% { top: 325px;}
    100% { top: 330px;}
}
.doongdoonge_banner a.btn_close {z-index:3; position:absolute; top:14px; right:0; width:30px; height:30px; text-indent:-9999px; }
/* 2017.06.23 메인 right 둥둥이 배너 추가 e*/

/* 17.08.07 원데이특가 신규 s*/
.oneday_wrap {position:relative;width:931px; margin:0 auto 40px auto;}
.oneday_wrap .main_title {padding: 28px 0 0; text-align: center;} 
.oneday_wrap .main_title img {display:inline-block; margin-top:-5px;}
.oneday_wrap .improveTime {display: inline-block; padding: 6px 0; width: 36px; height: 36px; color: #e53434; background: url('../img/common/bgtime.png') no-repeat 0 0; font-size: 22px; text-align: center; font-weight: normal; font-family:"Tahoma";}
.oneday_wrap .TimeDot {display: inline-block; position:relative; color:#e53434; font-size:22px; top:-1px; font-weight:normal; margin-left:-2px; margin-right:-2px;}  /*17.09.11 간격수정*/
.oneday_wrap .timeWrap {padding-left:5px; }
.oneday_wrap span.Rtxt {position:absolute; right:0; margin-top:30px; margin-right:4px; font-size:12px; font-weight:normal; font-family:" SimSun";} /*17.09.12 추가*/
.oneday_wrap span.Rtxt em {vertical-align:sub;} /*17.09.12 추가*/
.oneday_list_wrap {border-top:2px solid #e63434; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
.oneday_list_wrap .oneday_list .list > li {position:relative;float:left;width:232px;height:280px;padding:0;border-right:1px solid #ccc; border-bottom:1px solid #ccc; box-sizing:border-box; text-align:center;}
.oneday_list_wrap .oneday_list .list > li:nth-child(4), .oneday_list_wrap .oneday_list .list > li:nth-child(8) {border-right:none; width:233px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(5) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(6) > div, 
.oneday_list_wrap .oneday_list .list > li:nth-child(7) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(8) > div { border-top:1px solid #e53433; margin-top:-1px; height:282px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(4) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(8) > div { width:235px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(5), .oneday_list_wrap .oneday_list .list > li:nth-child(6), .oneday_list_wrap .oneday_list .list > li:nth-child(7), .oneday_list_wrap .oneday_list .list > li:nth-child(8) {border-bottom:none;}
.oneday_list_wrap .oneday_list .list .img p img {width:150px;height:150px;}
.oneday_list_wrap .oneday_list .list .img p {padding:15px 0 10px;}
.oneday_list_wrap .oneday_cont {width:100%;}
.oneday_list_wrap .list .oneday_cont .tit {overflow:hidden;text-overflow:ellipsis; padding:0 25px;color:#333;}
.oneday_list_wrap .list .oneday_cont .tit strong {display:block;line-height:1;padding-bottom:7px; font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.oneday_list_wrap .list .oneday_cont .tit span {display:block;width:100%; font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.oneday_list_wrap .list .oneday_cont .price {width:100%;padding-top:11px; font-family:"Tahoma";}
.oneday_list_wrap .list .oneday_cont .price .onesale {font-size:14px;text-decoration:line-through;color:#666;}
.oneday_list_wrap .list .oneday_cont .price .Regular {padding-right:5px;font-size:16px;font-weight:bold;color:#eb3030;}
.oneday_list_wrap .list .oneday_cont .price .won {display:block;color:#555;padding-top:6px;font-size:12px;}

/* 원데이특가 hover  */
.oneday_list li:hover > .oneday_over_bg {display:block;}
.oneday_list li:hover > .oneday_over_bg.big .price, .oneday_list li:hover > .oneday_over_bg.big .tit, .oneday_list li:hover .oneday_off .txt li.tit, .oneday_list li:hover .oneday_off .txt p.review_point {display:none;}
.oneday_over_bg {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9; width:233px; height:280px; margin-left:-1px; border:1px solid #e53433; border-top:none; border-bottom:none; background:url(../img/common/bg_dimmed02.png); text-align:center;}
.oneday_over_bg .tit {position:absolute;left:0;top:42px;line-height:1.5;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#666;font-weight:bold;font-size:12px;letter-spacing:-1px;}
.oneday_over_bg .tit span {display:block;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;} 
.oneday_over_bg .tit strong {display:block;padding:0;margin-bottom:2px;word-break:keep-all; overflow:hidden;text-overflow:ellipsis;}
.oneday_over_bg .percent {position:absolute;left:0;top:106px;text-align:center;line-height:1;font-size:24px;color:#e53433;width:100%;}
.oneday_over_bg .percent span {font-family:"Times New Roman";font-weight:bold;font-size:48px;}
.oneday_over_bg .big {position:absolute;left:0;top:50%;margin-top:-32px;width:100%;line-height:1.5;}
.oneday_over_bg .big span {display:block;font-weight:bold;font-size:18px;color:#e53433;}
.oneday_over_bg .price {position:absolute;left:0;bottom:65px;width:100%;line-height:1;color:#666;}
.oneday_over_bg .price .onesale {font-family:"Tahoma";font-size:14px;text-decoration:line-through;}
.oneday_over_bg .price .Regular {margin-right:5px;font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg .price .won {padding-top:6px;font-family:'맑은 고딕','Malgun Gothic';font-size:12px;color:#555;}
.oneday_over_bg .btn_area {position:absolute;left:0;bottom:0;z-index:10;width:100%;border-right:1px solid #444;}
.oneday_over_bg .btn_area a {box-sizing:border-box;display:block;float:left;width:50%;height:40px; line-height:36px; text-align:center;background:#444; font-family:'Noto Sans CJK KR', sans-serif; font-size:14px;color:#fff;}
.oneday_over_bg .btn_area a:first-child {background:#e53433;}

/* 원데이특가 hover_login */
.oneday_list li:hover > .oneday_over_bg_login {display:block;}
.oneday_over_bg_login {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9;width:233px;height:280px; margin-left:-1px; border:1px solid #e53433;border-top:0;background:url(../img/common/bg_dimmed02.png);text-align:center;}
.oneday_over_bg_login .tit {position:absolute;left:0;top:42px;line-height:1.5;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#666;font-weight:bold;font-size:12px;letter-spacing:-1px;}
.oneday_over_bg_login .tit span {display:block;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.oneday_over_bg_login .tit strong {display:block;padding:0;margin-bottom:2px;word-break: keep-all;overflow: hidden;text-overflow:ellipsis;}
.oneday_over_bg_login .big {position:absolute;left:0;top:102px;width:100%;line-height:1.3;font-weight:bold; font-size:18px;color:#e53433; font-family:'Noto Sans CJK KR', sans-serif;}
.oneday_over_bg_login .big span {display:block;}
.oneday_over_bg_login .price {position:absolute;left:0;bottom:71px;width:100%;line-height:1;color:#666;}
.oneday_over_bg_login .price .onesale {font-family:"Tahoma";font-size:14px;text-decoration:line-through;}
.oneday_over_bg_login .price .Regular {font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg_login .price .won {padding-top:7px;font-family:'맑은 고딕','Malgun Gothic';font-size:12px;color:#555;}
.oneday_over_bg_login .button {box-sizing:border-box;position:absolute;left:0;bottom:1px; z-index:10;padding:23px 18px;width:100%;}
.oneday_over_bg_login .button a {box-sizing:border-box;display:block;margin:0 auto;width:196px;height:26px;line-height:22px;text-align:center;border:1px solid #f4817e;background:#fff;font-size:12px;color:#e53433 !important;text-indent:-12px;}

/*원데이특가 hover_soldout */
.oneday_list li:hover > .oneday_over_bg_soldout {display:block;}
.oneday_over_bg_soldout {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9;width:233px;height:280px; margin-left:-1px; border:1px solid #e53433;border-top:0;background:url(../img/common/bg_dimmed02.png);text-align:center;}
.oneday_over_bg_soldout .tit {position:absolute;left:0;top:42px;line-height:1.5;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#666;font-weight:bold;font-size:12px;letter-spacing:-1px; }
.oneday_over_bg_soldout .tit strong {display:block;padding:0;margin-bottom:2px;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.oneday_over_bg_soldout .tit span {display:block; padding:0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} 
.oneday_over_bg_soldout .big {position:absolute;left:0;top:111px;width:100%;line-height:1;font-size:24px;color:#e53433; font-family:'Noto Sans CJK KR', sans-serif; font-weight:bold;}
.oneday_over_bg_soldout .price {position:absolute;left:0;bottom:74px;width:100%;line-height:1;color:#666;}
.oneday_over_bg_soldout .price .onesale {font-family:"Tahoma";font-size:14px;text-decoration:line-through;}
.oneday_over_bg_soldout .price .Regular {margin-right:5px;font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg_soldout .price .won {padding-top:7px;font-family:'맑은 고딕','Malgun Gothic';font-size:12px;color:#555;}
.oneday_over_bg_soldout .button {box-sizing:border-box; position:absolute; left:0; bottom:1px; z-index:10; padding:23px 18px;width:100%;}
.oneday_over_bg_soldout .button a {box-sizing:border-box;display:block;margin:0 auto;width:196px;height:26px;line-height:22px;text-align:center;border:1px solid #f4817e;background:#fff;font-size:12px;color:#e53433 !important;text-indent:-12px;}
/*17.08.07 원데이특가 추가 e*/

/* 17.08.07 brand_banner 추가 s*/
.brand_banner {/*overflow:hidden;*/ position:relative; width:931px; height:150px; margin:50px auto 50px;}
.brand_banner .banner_big {position:relative;width:462px; height:150px; overflow: hidden; /*visibility: hidden;*/}
.brand_banner .banner_bnL, .brand_banner .banner_bnR {position:absolute ;top:0; width:462px; height:150px; overflow: hidden;}
.brand_banner .banner_bnL {left:0;}
.brand_banner .banner_bnR {right:0;}
.brand_banner .bn_cont {position: relative; width:462px;height:150px; overflow: hidden;}
.brand_banner .bn_cont div img {width:462px;height:150px;}
.brand_banner .ico_navi {position: absolute;bottom:10px; left:20px !important;}
.brand_banner .ico_navi div, .brand_banner .ico_navi div:hover, .brand_banner .ico_navi .av {position: absolute;width:8px;height:8px;background: url("../img/common/bg_slide_paging.png") no-repeat;overflow: hidden;cursor: pointer;}
.brand_banner .ico_navi div { background-position:0 -8px; }
.brand_banner .ico_navi div:hover, .brand_banner .ico_navi .av:hover { background-position:0 0; }
/* 17.08.07 brand_banner 추가 e*/