/* notice */
div.marketing_warp .info_box { padding:20px 0 20px 0;background:#fff;border:1px solid #bfbfbf; background:#f7f7f7; margin-top:0px; }
div.marketing_warp .info_box .event_list {margin-bottom:0px; padding:0px 0 0px 200px;font-size:11px;color:#666;background:url(../@img/promotion/bg_notice.png) no-repeat 60px center;}
div.marketing_warp .info_box .event_list > li {font-family:'Microsoft Yahei'; text-indent:0px; margin-bottom:0px; padding-left:8px; background:url('../@img/promotion/pc_notice_bul.png') 0 4px no-repeat; font-size:12px; line-height:18px; color:#5f5f5f;}

/* 11번가 */
.event_wrap .box_area .entry_fm {position:relative;}
.event_wrap .box_area .entry_fm .entry_num {position:absolute;bottom:40px;left:270px;}
.event_wrap .box_area .entry_fm .entry_num input {width:335px;margin-right:5px;padding:12px 10px;border:0;}

/**/
.hundred_wrap .hundred_tab {border:none;margin-top:30px;}
.hundred_wrap .hundred_tab  {padding:0;border-bottom:none;}
.hundred_wrap .hundred_tab > .hun_tab {border:none;width:931px;}
.hundred_wrap .hundred_tab > .hun_tab li {width:50%;display:block;float:left;}
.hundred_wrap .hundred_tab > .hun_tab li a {display:block;padding:17px 16px 17px;text-align:center;border-left:1px solid #fff;background-color:#b1b1b1;font-weight:bold;font-size:15px;color:#fff;letter-spacing:-2px;}
.hundred_wrap .hundred_tab > .hun_tab li:first-child {width:50%;}
.hundred_wrap .hundred_tab > .hun_tab li:first-child a {border-left:0;}
.hundred_wrap .hundred_tab > .hun_tab li a.on {background:url('../../cn_pc/img/promotion/event_tab_on.png') 0 0 no-repeat;height: 30px;padding: 17px 16px 17px;}
.hundred_wrap .box_hundred{margin-top:10px;}

.hundred_wrap .in_cont {padding:50px 30px 40px;border:1px solid #bfbfbf;border-bottom:none;}
.hundred_wrap .write_box {margin-top:0;padding:20px 30px;background:#e6dfda;border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.hundred_wrap .write_box textarea {width:670px;height:34px;overflow:auto;padding:10px;font-size:12px;color:#aaa;vertical-align:middle;}
.hundred_wrap .write_box a.btn_brown {display:inline-block;margin-left:10px;width:100px;height:54px;line-height:54px;text-align:center;color:#fff;background:#534a3f;vertical-align:middle;}

.hundred_wrap .in_cont {padding:50px 30px 40px;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf}
.hundred_wrap .info_box {padding:20px;border:1px solid #bfbfbf;background:#f7f7f7;}
.hundred_wrap .info_box .event_list {margin-bottom:20px;padding:4px 0 0 120px;font-size:12px;line-height:24px;color:#666;background:url('../../cn_pc/img/promotion/bg_notice.jpg') no-repeat 0 0;}
.hundred_wrap .info_box .event_list li {padding-left:12px;text-indent:-12px;}

/*유학생등급업그레이드*/
.newwin{position:relative; *zoom:1; }
.popup_wrap .pop_event_photo {border-top:3px solid #e53433;}
.popup_wrap .pop_event_photo .newwin {border:0 none;}
.pop_event_photo.pop_event {margin:0 auto;width:472px;}
.pop_event_photo.pop_event ul li{font-size:12px;color:#666666;list-style:none;}
.pop_event_photo.pop_event ul li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../cn_pc/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.popup_wrap .pop_event_photo .ml13{margin-left: 13px;}
.pop_event_photo h1 {padding:20px 30px; border-bottom:2px solid #444444;font-weight:bold; font-size:16px; line-height:18px; color:#333333; }
.popup_wrap .pop_event_photo .pop_inner{padding:0 30px 30px 30px;}
.pop_event_photo h2 {margin:30px 0 10px 0;font-weight:bold;font-size:14px;color:#333333;}
.popup_wrap .pop_event_photo .newwin .terms {margin:0 0 10px 0;padding:0;border: 1px solid #bfbfbf;}

.popup_wrap .pop_event_photo .pop_table th{text-align: left;font-weight:normal;font-size:12px;color:#666666;}
.popup_wrap .pop_event_photo .pop_table td{padding:2px 0;}
.popup_wrap .pop_event_photo .input_pop{width:320px;height:24px;border:1px solid #d3d3d3;}
.popup_wrap .pop_event_photo a.btn_gray{ background-color: #979797;font-weight: bold;font-size:12px;color: #ffffff;padding: 7px 30px; vertical-align: middle;margin-left: 2px;line-height: 28px;}
.popup_wrap .pop_event_photo .btn_area {padding-top:30px;text-align:center;border-bottom:0 none}
.popup_wrap .pop_event_photo .btn_area a {display:inline-block;padding:13px 0 12px;width:120px;text-align:center;font-size:12px;color:#fff;}
.popup_wrap .pop_event_photo .btn_area a.btn_red {background:#ef3f3b;}
.popup_wrap .pop_event_photo .btn_area a.btn_brown {background:#555;}

.pop_event_photo .pop_event_photo .pop_inner .photo_box {margin:0 0 30px 0;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box .file {margin:0 0 7px 0;padding:10px 10px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background:#f7f7f7;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box input[type=file] {margin:0 0 10px 0;width:100%;border:1px solid #d3d3d3;background:#fff;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../cn_pc/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box label {display:block;background:red}
.ex_popup_btn{ position:absolute; top:21px; right:21px; }

/*03-14 추가*/
.file_input_textbox {float:left;width:208px;height:23px;padding-left:7px;font-size:12px;border: 1px solid #d3d3d3;}
.file_input_div {width:80px; height:36px; overflow:hidden;}
.file_input_img_btn {padding:0 0 0 5px;}
.file_input_hidden {font-size:29px; position:absolute; right:0px; top:425px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}

/*tr종사자 팝업*/
.pop_event_photo .photo_box.tr .file_input_hidden {font-size:29px; position:absolute; right:0px; top:110px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.popup_wrap .pop_event_photo a.btn_gray_sch{background-color: #979797;font-weight: bold;font-size:12px;color: #ffffff;padding: 7px 16px;vertical-align: middle;margin-left: 2px;line-height: 26px;}




