/*gnb*/
.cn_view_list > li:first-child > .cn_dept_wrap {display:block;}
.cn_gnb .cn_shopin_menu li.cn_shop_duty a:after {/* background:url('../img/common/ico_common.png') no-repeat -94px -708px;*/}
/* .cn_gnb .cn_shopin_menu li.cn_shop_duty.main a:after {background:url('../img/common/ico_common.png') no-repeat -0 -708px;} 개발 수정*/
/* .cn_gnb .cn_shopin_menu li.cn_shop_duty.off a:after {color:#f1e5d7;background:url('../img/common/ico_common.png') no-repeat -94px -708px;} 개발 수정*/
.staff_mall .cn_gnb .cn_shopin_menu li.cn_shop_duty a:after {background:url('../img/common/ico_common.png') no-repeat 0 -730px;}
.staff_mall .cn_gnb .cn_shopin_menu li.cn_shop_duty.main a:after {background:url('../img/common/ico_common.png') no-repeat -94px -730px;}

/*상품리스트 common */
.product_off {font-size:12px;text-align:center;}
.product_off .img {margin-bottom:10px;/*border-bottom:1px solid #d2d2d2;*/}
.product_off .img > img {padding:20px 0 10px 0;}
.product_off .img .tit {display:block;min-height:56px;/*padding-bottom:10px;line-height:1;*/text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:100%}/* 2016-08-24_수정 */
.product_off .img .tit em {display:block;padding-bottom:7px;}/* 2016-08-24_수정 */
.product_off .img .tit span {display:block;padding-bottom:7px;/*line-height:1;*/text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.product_off .rank {padding-bottom:5px;border-bottom:1px solid #ef3f3b;color:#ef3f3b;font-size:16px;font-family:"Arial";}
.product_off .rank {position:absolute;left:0;top:20px;border-bottom:1px solid #a08e86;font-weight:bold;color:#a08e86;}
.product_off .tit strong {display:block;margin-bottom:8px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

/* lnb */
.lnb_wrap {/*border:2px solid #4a3b38;border-top:3px solid #e53433;*/border-bottom:1px solid #bfbfbf;}
.lnb_wrap .h2_area {min-height:85px;background-color:#e53433;text-align:center;color:#fff;font-size:0;}
.lnb_wrap .blank {display:inline-block;vertical-align:middle;width:0;height:85px;overflow:hidden;}
.lnb_wrap .h2_area > div {display:inline-block;vertical-align:middle;}
.lnb_wrap .h2_area h2 {color:#fff !important;}
.lnb_wrap .h2_area strong {display:none;font-family:"Times New Roman";font-size:11px;line-height:14px;font-weight:normal;}
#container .lnb_wrap.type01 h2 {font-size:20px !important;line-height:28px;}
.lnb_wrap.type02 .h2_area strong {padding:13px 0;}
.lnb_wrap .lnb {box-sizing:border-box;padding:18px;min-height:430px;height:auto;}
.lnb_wrap .lnb li a {display:block;padding:0 0 7px 10px;line-height:20px;background:url('../img/common/ico_dot2.gif') no-repeat 0 9px;color:#333;font-size:12px;}
.lnb_wrap .brand {/*width:100%;*/border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;background:#888;}
.lnb_wrap .brand.brand_on {border-left:0 none;border-right:0 none;}
.lnb_wrap .brand dt a {display:block;padding:14px 15px;background:#ababab url(../img/common/ico_toggle2.png) no-repeat 160px 17px;color:#fff;}
.lnb_wrap .brand dt a.on {background-position:160px -33px}
.lnb_wrap .brand dd {text-align:center;}
.lnb_wrap .brand dd a {position:relative;display:block;border-top:1px solid #ededed;}
.lnb_wrap .brand dd img {/*height:37px;*/padding:8px 15px;}
.lnb_wrap .brand dt+dd img {border-top-color:#fff;}

/* category_wrap */
.category_wrap {width:100%;margin-bottom:30px;}
.category_wrap .lnb_wrap {box-sizing:border-box;float:left;width:183px;/* min-height:610px;*/overflow:hidden}
.category_wrap .promotion {box-sizing:border-box; float:right;width:732px;min-height:613px;border:1px solid #bebebe;}
.category_wrap .promotion #category_banner {height:297px}
.category_wrap .promotion h3 {height:52px;line-height:52px;font-size:22px !important;}
.category_wrap .promotion h3 span {display:inline-block;height:27px;line-height:27px;margin-left:10px;border:2px solid #fa5450;border-radius:30px;width:70px;font-size:18px;font-style:italic;text-align:center;color:#fa5450;}
.category_wrap .promotion > .img {border-bottom:1px solid #bebebe;position:relative}
.category_wrap .promotion .img .banner_img li {display:none}
.category_wrap .promotion .img .banner_img li.on {display:block}
.category_wrap .promotion .img .banner_nav {position:absolute;bottom:20px;left:0;width:100%;text-align:center}
.category_wrap .promotion .img .banner_nav ul {display:inline-block}
.category_wrap .promotion .img .banner_nav ul li {float:left;margin-right:6px;width:8px;height:8px;}
.category_wrap .promotion .img .banner_nav ul li a {display:block;width:8px;height:8px;overflow:hidden;text-indent:-99px;background:url(../img/common/bg_dot_slidev2.png) no-repeat left -8px;}
.category_wrap .promotion .img .banner_nav ul li a.on {background-position:0 0;}
.category_wrap .promotion .best {float:left;width:550px;border-right:1px solid #bebebe;min-height: 313px}
.category_wrap .promotion .best .list {position:relative;width:100%;border-top:1px solid #bebebe;}
.category_wrap .promotion .best .list > li {box-sizing:border-box;position:relative;float:left;width:33.3%;/*border-left:1px solid #bebebe;*/}
.category_wrap .promotion .best .list > li:first-child {width:33.4%;border-left:none;}
.category_wrap .promotion .best .list > li > a {display:block;width:150px;height:260px;margin:0 auto;text-align:center;}
.category_wrap .promotion .new {float:right;width:179px;position:relative;}
.category_wrap .promotion .new .list {position:relative;width:100%;border-top:1px solid #fff;display:none}
.category_wrap .promotion .new .on {display:block}
.category_wrap .promotion .new .list > a {display:block;width:150px;height:260px;margin:0 auto;}
.category_wrap .promotion .new .list:hover .product_over {display:block}
.category_wrap .product_off .img {margin-bottom:0;border-bottom:none;padding-top:18px;}
.category_wrap .product_off .img > img {padding:0;width:130px;height:130px}
.category_wrap .product_off .tit {display:block;height:37px;min-height:37px;padding-top:12px;margin-bottom:14px;font-size:12px;}/* 2014-08-24 : 수정*/
.category_wrap .product_off .tit em {display:block;color:#444;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}/* 2014-08-24 : 수정*/
.category_wrap .product_off .tit span {display:block;color:#67564f;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}/* 2014-08-24 : 수정*/
.category_wrap .product_off .price .sale {font-size:12px;}
.category_wrap .product_off .price .regular {font-size:12px;}
.category_wrap .product_over .price {color:#68554f;}
.category_wrap .product_over .price .sale {font-size:14px;padding-right:5px;}
.category_wrap .product_over .price .regular {font-size:12px;font-weight:normal;}

.category_wrap .promotion .new .banner_nav {position:absolute;top:45px;left:0;width:100%;text-align:center;z-index:3;}
.category_wrap .promotion .new .banner_nav ul {display:inline-block}
.category_wrap .promotion .new .banner_nav ul li {float:left;margin-right:6px;width:8px;height:8px;}
.category_wrap .promotion .new .banner_nav ul li a {display:block;width:8px;height:8px;overflow:hidden;text-indent:-99px;background:url(../img/common/bg_dot_slidev2.png) no-repeat left -8px;}
.category_wrap .promotion .new .banner_nav ul li a.on {background-position:0 0;}

.category_wrap .promotion .product_over .tit span, .category_wrap .brand .product_over .tit span {padding-bottom:3px;font-size:12px;}
.search_option_box .btn_box + .product_list_wrap {margin-top:30px;}

/* category_wrap (2depth) */
.category_wrap .depth2 {min-height:414px;border:0;background-color:#555;border-bottom:1px solid #bfbfbf;}
.category_wrap .depth2 .h2_area {min-height:85px;background-color:#e53433;}
.category_wrap .depth2 .h2_area h2 {margin:0;padding:0 20px;line-height: 24px;min-height:auto;background:none;}
.category_wrap .lnb_wrap .lnb {padding:18px;border-left:1px solid #bfbfbf;border-right:1px solid #bfbfbf;background:#ededed;}
.category_wrap .depth2 .lnb li a {color:#333;font-size:12px;}
.category_wrap .depth2 .lnb li a:after {content:"";display:block;position:absolute;top:50%;right:0;margin-top:-5px;width:5px;height:9px;background:url('../img/common/ico_arrow.png') no-repeat 0 -247px}
.category_wrap .depth2 .blank {height:85px}
.category_wrap .promotion2 {float:right;width:730px;border:1px solid #bebebe;min-height:412px}
.category_wrap .promotion2 h3 {padding:29px 0 30px 0;font-size:22px !important;}
.category_wrap .promotion2 .new {float:left;width:165px;}
.category_wrap .promotion2 .slide {position:relative;width:140px;height:330px;margin:0 auto;}
.category_wrap .promotion2 .slide .imgcon {display:none}
.category_wrap .promotion2 .slide .on {display:block}
.category_wrap .promotion2 .slide .slide_img img {width:130px;height:130px;padding:5px;}
.category_wrap .promotion2 .slide_img > li {position:relative;margin-bottom:10px;}
.category_wrap .promotion2 .slide_img > li > a {display:inline-block;height:140px;}
/*.category_wrap .promotion2 .slide_img .product_over {font-size:12px;text-align:left;}
.category_wrap .promotion2 .slide_img .product_over .tit {left:15px;top:8px;width:90%;text-align:left;line-height:1.6;}
.category_wrap .promotion2 .slide_img .product_over .tit span {display:block;padding-bottom:3px;font-weight:bold;}
.category_wrap .promotion2 .slide_img .product_over .price {left:15px;bottom:13px;width:90%;text-align:left;}
.category_wrap .promotion2 .slide_img .product_over .price .sale {font-size:12px;color:#ef3f3b;}
.category_wrap .promotion2 .slide_img .product_over .price .regular {font-size:12px;padding-right:0;}
.category_wrap .promotion2 .slide_img .product_over .price .won {padding-top:6px;}*/
.category_wrap .promotion2 .slide .btn {position:absolute;left:0;bottom:20px;width:100%;height:8px;line-height:8px;text-align:center;}
.category_wrap .promotion2 .slide .btn a {overflow:hidden;display:inline-block;width:8px;height:8px;margin:0 2px;background:url(../img/common/bg_dot_slide.png) no-repeat 0 -8px;font-size:1px;text-indent:-9999px;}
.category_wrap .promotion2 .slide .btn a.on {background-position:0 0;}
.category_wrap .promotion2 .brand {float:right;width:530px;height:412px;padding:0 15px;border-left:1px solid #bebebe;}
.category_wrap .promotion2 .brand .tit_tab {width:100%;height:52px;overflow:hidden;}
.category_wrap .promotion2 .brand .tit_tab li {float:left;width:33.3%;}
.category_wrap .promotion2 .brand .tit_tab li:first-child {width:33.4%;}
.category_wrap .promotion2 .brand .tit_tab li a {display:block;height:50px;line-height:50px;border:1px solid #bfbfbf;border-left:none;background-color:#e6e6e6;text-align:center;color:#6e6e6e;}
.category_wrap .promotion2 .brand .tit_tab li:first-child a {border:1px solid #bfbfbf;}
.category_wrap .promotion2 .brand .tit_tab li a img {opacity:0.5;filter: alpha(opacity = 50);}
.category_wrap .promotion2 .brand .tit_tab li a.on {border-top:2px solid #e53433;border-bottom:none;background-color:#fff;font-weight:bold;letter-spacing:-1px;color:#000;}
.category_wrap .promotion2 .brand .tit_tab li a.on img { opacity:1;filter: alpha(opacity = 100);}
.category_wrap .promotion2 .list > li {box-sizing:border-box;position:relative;float:left;width:33.3%;}
.category_wrap .promotion2 .list > li:first-child {width:33.4%;}
.category_wrap .promotion2 .list > li > a {display:block;width:100%;height:278px;margin:0 auto;text-align:center;}
.category_wrap .promotion2 .list > li > a p.img {padding-top:18px;}
.category_wrap .promotion2 .list > li > a p.img img {width:130px;padding:15px 0 0 0;}

/* power_search */
.power_search {font-size:12px;}
.power_search .table_default {margin-bottom:0;}
.power_search .table_default tbody tr:first-child th, .table_default tbody tr:first-child td {border-top-width:2px;}
.power_search .table_default th {padding:14px 16px;vertical-align:middle;width:153px;padding:14px 14px 14px 16px;background-color:#676767;text-align:left;font-size:14px;color:#fff;}
.power_search .table_default td {padding:14px 16px; position:relative;vertical-align:middle;}
.power_search .table_default .space th {padding:28px 14px 14px 16px;vertical-align:top}
.power_search .category {position:relative;height:53px;overflow:hidden;}
/*.power_search .category .chk_list {width:676px;margin:0 auto;}*/
.power_search .category .tit_tab {position:relative;width:100%;}
.power_search .category .tit_tab ul {width:676px;margin:0 auto;padding-bottom:15px;}
.power_search .category .tit_tab li {float:left;width:132px;height:44px;margin-left:4px;}
.power_search .category .tit_tab li:first-child {margin-left:0;}
.power_search .category .tit_tab li a {display:block;margin-bottom:6px;padding:10px 0;border:1px solid #d2d2d2;text-align:center;}
.power_search .category .tit_tab li.on {background:url(../img/common/bg_arrow2.png) no-repeat 50% bottom;}
.power_search .category .tit_tab li.on a {border:1px solid #333;background-color:#333;color:#fff;}
.power_search .category .btn_move a {position:absolute;top:8px;display:block;width:10px;height:20px;font-size:1px;text-indent:-9999px;}
.power_search .category .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat -10px -475px;}
.power_search .category .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -45px -475px;}
.power_search .category .btn_off {position:absolute;right:18px;bottom:0;}
.power_search .brand {position:relative;}
.power_search .brand .btn {width:100px;border:1px solid #333;margin-bottom:15px;}
.power_search .brand .btn li {float:left;width:50px;}
.power_search .brand .btn li a {display:block;padding:5px 0 7px 0;text-align:center;}
.power_search .brand .btn li a.on {background-color:#333;color:#fff;}
/*.power_search .brand .chk_list li {width:180px;}*/
.power_search .brand .search {position:absolute;right:0;top:0;}
.power_search .brand .search input.l {margin-top:-3px;background-color:#f9f9f9;}
.power_search .brand .search .btn_off {padding-left:30px;background:url(../img/common/ico_search2.png) no-repeat 10px 50%;}
.power_search .chk_list {margin-top:-7px}
.power_search .chk_list li {margin-top:7px;}
.power_search .float {margin-top:0;}
.power_search .float li {display:block;float:left;width:177px;margin-top:0;padding:7px 0;}
.power_search .float li label {width:137px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#333;}
.power_search .btn_off {display:inline-block;padding:2px 15px 5px 15px;border:1px solid #e0e0e0;border-radius:2px;font-size:14px;color:#666;}
.power_search input.input {padding:5px;border:1px solid #e1e1e1;font-size:12px;}
.power_search input.s {width:80px;text-align:right;color:#e53433;}
.power_search input.l {width:260px;}
.power_search .slidebar_area {position:relative}
.power_search .search_slidebar {width:50%;height:42px; position:absolute;padding:30px 15px 0;left:0;top:-10px;}
.power_search .search_slidebar_rwap {width:50%;height:442px; position:absolute;padding:240px 215px 0;left:-200px;top:-220px;}
.power_search .search_slidebar .slidebar {position:relative;width:350px;height:9px;background:#979797;z-index:1}
.power_search .search_slidebar .slidebar .mask {position:absolute;left:0;top:0;width:0px;height:9px;background:#e43434;z-index:5}
.power_search .search_slidebar .slidebar .dim_mask {position:absolute;left:0;top:0;width:0px;height:9px;background:#979797;z-index:10}
.power_search .search_slidebar .slidebar .arrow {position:absolute;left:0;top:-2px;width:11px;height:17px;background:url(../img/sub/btn_barleft.png) no-repeat left top;display:block;cursor:pointer;z-index:15}
/*
.power_search .search_slidebar .slidebar #slidebar_left:hover {top:-102px;width:51px;height:217px;margin-left:-35px;background-position:35px 100px;}
.power_search .search_slidebar .slidebar #slidebar_right:hover {top:-102px;width:51px;height:217px;background-position:0 100px;}
*/
.power_search .search_slidebar .bubble {position:absolute;left:-33px;top:-26px; height:16px; padding:0 5px;display:block;border:1px solid #bfbfbf;background:#fff;}
.power_search .search_slidebar .bubble span.price {color:#e53433;font-size:10px;letter-spacing:-1px;font-weight:bold;display:block;height:16px;line-height:16px;}
.power_search .search_slidebar .bubble span.tag {position:absolute;right:-1px;top:16px;background:url('../img/sub/facet_arrow_left.png') no-repeat left top;width:5px;height:5px;display:block}
.power_search .search_slidebar .bubble_right span.tag {left:-1px;top:16px;background:url('../img/sub/facet_arrow_right.png') no-repeat left top;}
.power_search .search_price {float:right;width:50%;text-align:right}
.power_search .search_price > span {display:inline-block;margin-right:3px;}
.power_search .search_price > .dash {margin:0 4px 0 5px}
/*.power_search span.bubble {display:inline-block;width:56px;height:27px;padding-top:5px;background:url(../img/common/bg_bubble.png) no-repeat 0 0;text-align:center;letter-spacing:-1px;color:#e53433;}*/
.power_search .toggle_on {width:100%;color:#fff;}
.power_search .toggle_off {width:100%;color:#fff;}
.power_search .toggle_on span {background: url('../img/common/ico_arrow.png') no-repeat 28px -365px;}
.power_search .toggle_off span {background: url('../img/common/ico_arrow.png') no-repeat 28px -1155px;}
.power_search .select_item {padding:21px 15px 15px 102px;min-height:19px;border-bottom:1px solid #bfbfbf;background-color:#e6e6e6;color:#666;position:relative;line-height:16px;}
.power_search .select_item dt { position:absolute;left:15px;top:21px;font-weight:bold;border-right:1px solid #e6e6e6;}
.power_search .select_item dd {display:inline-block;padding-right:20px;margin-bottom:5px;vertical-align:top;}
.power_search .select_item dt + dd {padding-right:12px;}
.power_search .select_item dd img {margin-left:10px}
.power_search .select_item dd .all {padding-right:16px;color:#6d6050;text-decoration:underline;background: url(../img/common/bg_line_v_bfbfbf.png) no-repeat right 50%;}
.power_search .select_info {display:inline-block;margin-left:16px}
.power_search .more_select {background-color:#f7f7f7;}
.power_search .more_select .tit {display:none;}
.power_search.category_page .more_select .tit {display:block}
.power_search .more_select .tit a {display:block;padding:9px 0;color:#333;border-bottom:1px solid #bfbfbf;text-align:center;}
.power_search .more_select .tit span {position:relative;display:inline-block;height:18px;line-height:18px;padding-right:26px;}
.power_search .more_select .tit span:after {content:"";display:block;position:absolute;top:0;right:0;width:19px;height:19px;background:url('../img/common/ico_arrow.png') no-repeat 0 -880px;}
.power_search .more_select.on .tit span:after {background-position:0 -901px;}
.power_search .choice_more .chk_list + .chk_list {display:none}
.power_search .btn_language  {display:none;}
.power_search .on .btn_language  {display:block;}
.power_search .on .choice_more {width:710px;max-height:200px;/*overflow:hidden;overflow-y:scroll;*/}
/* .power_search .on .choice_more .chk_list + .chk_list {display:block} */
.power_search .brand_choice {margin-left:4px;display:none}
.power_search .brand_choice > a {display:inline-block;padding:7px 20px 7px 0;color:#aaa;font-size:12px;}
.power_search .brand_choice > a.on span{font-weight:bold;color:#FF0004}
.power_search .brand_choice > a span {color:#666;text-decoration:underline;}
.power_search .select_more {float:right;margin-top:2px;padding-right:14px;color:#ddd;font-size:12px;}
.power_search .btn_area {padding:16px 0 50px 0;text-align:center;}
.power_search .btn_area a {display:inline-block;min-width:120px;width:auto;margin:0 2px;padding:10px 0;border:1px solid #e53433;font-size:14px;text-align:center;}
.power_search .btn_area a.on {background-color:#333;color:#fff;}
.power_search .btn_result {display:inline-block;margin:4px 4px 4px 0;padding:0 10px;height:28px;line-height:28px;font-size:12px;color:#888;border:1px solid #e0e0e0;background-color:#fff;}
.power_search .btn_result span {display:inline-block;vertical-align:bottom;color:#333;}
.power_search .btn_result.on {border:1px solid #555;color:#aaa;background-color:#555;}
.power_search .btn_result.on span {color:#fff;}
.power_search .btn_language {width:100px;border:1px solid #333;margin-bottom:9px;}
.power_search .btn_language li {float:left;width:50px;}
.power_search .btn_language li a {display:block;padding:5px 0 7px 0;text-align:center;}
.power_search .btn_language li a.on {background-color:#333;color:#fff;}
.power_search + .search_option_box > .btn_box {margin-top:16px;}

/* product_list_wrap */
.product_list_wrap {position:relative;border:solid 1px #bfbfbf;}/* 17.05.16 수정 */
.product_list_wrap .tab_area {position:relative;padding:11px 15px;border-bottom:1px solid #bfbfbf;}
.product_list_wrap .tab_area.compare_type {padding:11px 215px 11px 115px;}
.search_option_box .product_list_wrap .tab_area.compare_type {border-bottom:none;} /*17.10.23 추가*/
.product_list_wrap .tab_area span.ea {position:absolute;left:15px;top:22px;}
.product_list_wrap .tab_area span.ea em {font-weight:bold;color:#ef3f3b;}
.product_list_wrap .tab_area select {position:absolute;right:15px;top:17px;width:95px;}
.product_list_wrap .tab_area.compare_type select {right:123px;}
.product_list_wrap .tab_area .btn_compare {position:absolute;right:15px;top:17px;display:block;width:98px;height:27px;line-height:27px;border:1px solid #e0e0e0;text-align:center;font-size:12px;color:#fff;background:#333333;}
.product_list_wrap .tab_area .btn_compare.on {background:#e53433;border-color:#e53433;color:#fff}
.product_list_wrap .tab_area .tit_tab {text-align:center;font-size:0;}
.product_list_wrap .tab_area .tit_tab li {display:inline-block;font-size:14px;}
.product_list_wrap .tab_area .tit_tab li a {display:block;padding:13px 16px 15px 16px;font-size:12px;background:url(../img/common/bg_line_v_e3e3e3.png) no-repeat 0 50%;}
.product_list_wrap .tab_area .tit_tab li a.on {position:relative;background-color:#e53433;background-image:none;font-weight:bold;letter-spacing:-1px;color:#fff;}
.product_list_wrap .tab_area .tit_tab li a.on:after {content:"";display:block;position:absolute;bottom:0;left:50%;margin-left:-4px;width:9px;height:5px;background:url('../img/common/ico_arrow.png') no-repeat 0 -58px}
.product_list_wrap .product_list {width:929px;overflow:hidden}
/*.product_list_wrap .product_list .list:first-child {border-top:1px solid #bfbfbf;}
.product_list_wrap .product_list .list {width:100%;}*/
.product_list_wrap .product_list .list + .pagination {position:relative;top:-1px;border-top:1px solid #bfbfbf;border-bottom:0;}
.product_list_wrap .product_list .tit_box + .pagination {position:relative;top:-1px;border-top:1px solid #bfbfbf;border-bottom:0;}
.product_list_wrap + .pagination {position:relative;top:-1px;border-top:1px solid #bfbfbf;border-bottom:0;}

/*.product_list_wrap .product_list .list:first-child {border-top:0;}*/
.product_list_wrap .product_list .list > li {position:relative;float:left;width:185.8px;}
.product_list_wrap .product_list .list > li > a {height:390px;margin:0 auto;}
.product_list_wrap .product_list .product_off .img > img {padding:40px 0 12px;width:150px;height:150px}
.product_list_wrap .product_list .product_off .tit {display:-webkit-box;width:auto;height: 91px;padding:0 10px;color:#555;text-overflow:ellipsis;overflow:hidden;white-space:normal;-webkit-line-clamp:4;-webkit-box-orient: vertical;}
.product_list_wrap .product_list .product_off .tit span {display:block;padding-bottom:8px;font-weight:bold;color:#444;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.product_list_wrap .product_list .price .won {padding-top:6px;}
.product_list_wrap .product_list .price .regular {font-weight:normal;color:#555;}
/*.product_list_wrap .product_list .outline .product_over {width:167px;left:8px;}
.product_list_wrap .product_list .outline .product_over .percent {top:200px;}*/
.product_list_wrap .product_list .outline .compare_over {box-sizing:border-box;position:absolute;top:0;left:0;width:100%;height:100%;padding:15px;border:1px solid #676362;background:url(../img/common/bg_dimmed.png);color:#fff;z-index:999;display:none}
.product_list_wrap .pagination {padding:20px 0}
.product_list_wrap .pagination {border-top:1px solid #bfbfbf} /*17.11.14 수정*/
.product_list_wrap .btn_box + .product_list_wrap {margin-top:16px;}
.product_list_wrap .popup_layer {border:none;}
.product_list_wrap .tit_box {text-align:center;padding:50px 0;}
.product_list_wrap .tit_box > img {width:50px;margin-bottom:15px;}
.product_list_wrap .tit_box p {font-size:22px;font-family:'Microsoft YaHei';color:#aaa;}
.product_list_wrap .tit_box.small_txt {padding:170px 0;}
.product_list_wrap .tit_box.small_txt p {line-height:13px;font-family:'Simsun';font-size:12px;color:#666;}

/* 검색결과_상품평_2016-06-24 */
.product_list.search_review .list {position:relative;}
.product_list.search_review .list .average_star {position: absolute;top:17px;left: 0;width: 100%;text-align: center;}
.product_list.search_review .list .product_off {margin-top: 45px !important;}
.product_list.search_review .list .product_off .pr_info {position:relative;padding-top:10px;}
.product_list.search_review .list .product_off .brand {height:14px;line-height:13px;margin-bottom:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:bold;color: #444;}
.product_list.search_review .list .product_off .name {height:28px;line-height:14px;margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box;white-space: normal;}
.product_list.search_review .list .product_off .review_cont {height:80px;line-height:16px;padding:13px 5px 0;border-top:1px solid #e0e0e0;overflow:hidden;text-align:left;color:#666;-webkit-line-clamp: 5;-webkit-box-orient: vertical;display: -webkit-box;white-space: normal;}

/* popup_favoritepage */
.pop_newwin .popup_favoritepage {width:420px;margin:0 auto;text-align:center;font-family:"Simsun";background:#f7f7f7;}
.pop_newwin .popup_favoritepage > h1 {padding:30px 0;font-size:26px;font-weight:bold;font-family:"Microsoft YaHei";background:#fff;border-bottom:1px solid #bfbfbf;}
.pop_newwin .popup_favoritepage .contents {padding:40px 20px 35px;}
.pop_newwin .popup_favoritepage .contents_top {margin-bottom:25px;border-bottom:1px solid #e0e0e0;}
.pop_newwin .popup_favoritepage .contents_top > h2 {margin-bottom:16px;font-size:18px;font-weight:bold;font-family:"Microsoft YaHei";}
.pop_newwin .popup_favoritepage .contents_top > p {color:#666;}
.pop_newwin .popup_favoritepage .contents_top .btn_area {padding:30px 0 40px;}
.pop_newwin .popup_favoritepage .contents_top .btn_area > a {height:50px;line-height:50px;font-weight:normal;}
.pop_newwin .popup_favoritepage .contents_bottom {text-align:left;}
.pop_newwin .popup_favoritepage .contents_bottom li:first-child {margin-bottom:20px;}
.pop_newwin .popup_favoritepage .contents_bottom p {float:right;line-height:1.5;color:#666;}
.pop_newwin .popup_favoritepage .contents_bottom p:first-child {float:left;}
.pop_newwin .popup_favoritepage .contents_bottom li + li > p + p {margin-top:21px;}
.pop_newwin .popup_favoritepage .contents_bottom p > a {position:relative;padding-right:12px;text-decoration:underline;color:#333;}
.pop_newwin .popup_favoritepage .contents_bottom p > a:after {content:"";display:block;position:absolute;top:50%;right:0;margin-top:-5px;width:5px;height:9px;background: url(../img/common/ico_arrow.png) no-repeat 0 0;}

/* product_list_wrap > popup_layer > compare */
.popup_layer .compare {position:absolute;top:0;left:0;background-color:#fff;border-bottom:1px solid #bfbfbf;padding:0 30px;}
.popup_layer .compare .title {position:relative;padding:30px 0;}
.popup_layer .compare .title h3 {font-size:26px;font-weight:bold;text-align:center;}
.popup_layer .compare .title h3 span.num {vertical-align:top;display:inline-block;margin-left:5px;}
.popup_layer .compare .title h3 span.num strong {color:#e53433}
.popup_layer .compare .title a.btn_close {position:absolute;right:0;top:50%;width:20px;height:20px;margin-top:-10px}
.popup_layer .compare .title a.btn_close img {width:100%;}
.popup_layer .compare .compare_cont {padding:0 30px;}
.popup_layer .compare .table_wrap {position:relative;padding-left:122px;overflow-y:hidden;overflow-x:auto;border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.popup_layer .compare .table_wrap .th_area {position:absolute;left:0;top:0;width:122px;padding-bottom:17px;background:#f7f7f7;text-align:center;}
.popup_layer .compare .table_wrap .th_area div {position:relative;padding:0 15px;border-right:1px solid #e0e0e0;border-top:1px solid #f0f0f0;font-size:12px;height:40px;line-height:40px;}
.popup_layer .compare .table_wrap .th_area .th_line01 {height:180px;line-height:180px;border-top:none;}
.popup_layer .compare .table_wrap .th_area .th_line02 {height:62px;line-height:62px;}
.popup_layer .compare .table_wrap .th_area .th_line06 {height:42px;line-height:42px;}
.popup_layer .compare .table_wrap .th_area .check_all {position:absolute;top:15px;left:15px;padding:0; border:none;line-height:1;}
.popup_layer .compare .table_scroll {width:746px;height:426px;overflow-y:hidden;overflow-x:auto;}
.popup_layer .compare .table_tbody {position:relative;float:left;width:186px;}
.popup_layer .compare .table_tbody tr th {width:0;font-weight:normal;padding:0;vertical-align:top;}
.popup_layer .compare .table_tbody tr td {width:186px;padding:13px 15px;border-right:1px solid #e0e0e0;border-top:1px solid #f0f0f0;line-height:14px;font-size:12px;color:#888;text-align:center;}
.popup_layer .compare .table_tbody tr:first-child td {border-top:none;}
.popup_layer .compare .table_tbody .coupon {height:14px;}
.popup_layer .compare .table_tbody strong {padding-right:4px;}
.popup_layer .compare .table_tbody input[type=checkbox].css-checkbox {left:0;top:0;}
.popup_layer .compare .table_tbody .star {vertical-align:middle;}
.popup_layer .compare .table_tbody .star + span {display:inline-block;height:16px;padding-left:10px;line-height:16px;font-weight:bold;vertical-align:middle;}
.popup_layer .compare .table_tbody .zero + .bold {color:#999;}

.popup_layer .compare .product_off {position:relative;height:150px;padding:2px 0;color:#333;}
.popup_layer .compare .product_off .check {position:absolute;top:0;left:0;}
.popup_layer .compare .product_off .img img {width:80px;height:80px;}
.popup_layer .compare .product_off .tit {width:148px;height:14px;background:none;border:none;padding:0;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.popup_layer .compare .product_off .desc {display:block;margin-top:10px;}
.popup_layer .compare .product_off .desc span {display:block;width:148px;height:14px;margin-top:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.popup_layer .compare .product_off .desc span:first-child {margin-top:0;}
.popup_layer .compare .internet {height:36px;}
.popup_layer .compare .internet li {padding-top:6px;}
.popup_layer .compare .internet li:first-child {padding-top:0;}
.popup_layer .compare .internet .price .sale {padding-right:4px;}
.popup_layer .compare .internet .price .won {padding-top:0;color:#666;}
.popup_layer .compare .internet .down {}
.popup_layer .compare .coupon {line-height:16px;}
.popup_layer .compare .zero + .bold {color:#888;}
.popup_layer .compare .bold {font-weight:bold;color:#eb3030;padding-left:10px;}
.popup_layer .compare .notice {padding:15px 0 30px;position:relative;line-height:18px;font-size:12px;color:#aaa;}
.popup_layer .compare .notice .btn_area {position:absolute;right:0;top:20px;}
.popup_layer .compare .notice .btn_area p {display:inline-block;padding-right:10px;color:#333;}
.popup_layer .compare .notice .btn_area p strong {color:#ef3f3b;}
.popup_layer .compare .notice .btn_area a {width:auto;padding:0 10px;}

/* prtit_wrap */
.prtit_wrap {position:relative;width:100%;padding-bottom:20px;border-bottom:2px solid #c6c6c6;}
.prtit_wrap .prtit_area {padding-bottom:15px;}
.prtit_wrap h3 {text-align:left !important;}
.prtit_wrap h3 span.en {font-family:"Tahoma";}
.prtit_wrap h3 span.desc {display:block;width:805px;padding-top:3px;font-size:24px;line-height:28px;font-family:"Tahoma", "Microsoft YaHei";font-weight:normal;white-space:normal}
.prtit_wrap h3 span.desc strong {color:#fa5450;font-weight:normal;}
.prtit_wrap .number {padding-top:13px;font-size:11px;color:#8f8f8f;}
.prtit_wrap dl.store {position:absolute;bottom:20px;right:0;width:118px;height:80px;border:1px solid #e3e3e3;font-size:12px;}
.prtit_wrap dl.store dt {position:relative;width:78px;margin:0 auto;padding:7px 9px;border-bottom:1px solid #e3e3e3;color:#666;}
.prtit_wrap dl.store dt:after {content:"";display:block;position:absolute;top:50%;right:0;margin-top:-5px;width:5px;height:9px;background:url('../img/common/ico_arrow.png') no-repeat 0 0}
.prtit_wrap dl.store dd {width:100%;padding:8px 0;}
.prtit_wrap dl.store dd img {width:116px;height:37px;}
.prtit_wrap h3 {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:820px}
.prtit_area li {float:left;margin:0 1px 1px 0;width:45px;height:17px;/*padding:2px 0 2px 0;*/background:url('../img/common/ico_flag_new.png') no-repeat;text-indent:-9999px;} /* 17.10.24 상품라벨 수정 */
/*.prtit_area .store {background-position:0 0;}
.prtit_area .new {background-position:0 -30px;}
.prtit_area .premiums {background-position:0 -60px;}
.prtit_area .best {background-position:0 -90px;}
.prtit_area .flat {background-position:0 -211px;}
.prtit_area .coupon {background-position:0 -150px;}
.prtit_area .soldout {width:56px;background-position:0 -180px;}*/
.prtit_area .sale {background-position:0 0;}/*세일*/
.prtit_area .new {background-position:0 -30px;}/*신상품*/
.prtit_area .gift {background-position:0 -60px;}/*사은품*/
.prtit_area .time {background-position:0 -90px;}/*당일구매*/
.prtit_area .flatfee {background-position:0 -120px;}/*균일가*/
.prtit_area .coupon {background-position:0 -150px;}/*쿠폰*/
.prtit_area .coupon2 {background-position:0 -180px;}/*쿠폰제외*//* 2016-10-07 상품라벨 수정 */
.prtit_area .savemoney {background-position:0 -210px;}/*적립금제외*//* 2016-10-07 상품라벨 수정 */
.prtit_area .erysipelas {background-position:0 -240px;}/*단독 17.10.24 추가*/
.prtit_area .hotsale {background-position:0 -270px;}/*핫세일 17.10.24 추가*/

/* pr_wrap */
.pr_wrap {position:relative;padding-top:20px;}
.pr_wrap .img {float:left;width:560px;}
.pr_wrap .img p {width:320px;margin:0 auto;text-align:center;}
.pr_wrap .img p > img {width:100%;}
.pr_wrap .img p span {display:block;padding-top:16px;font-size:12px;color:#aaa;}
.pr_wrap .img p span img {padding-right:10px;}
.pr_wrap .img p span a {color:#666;}
.pr_wrap .img .btn_prev {position:absolute;left:60px;top:413px;width:10px;height:13px;background:url('../img/common/ico_arrow.png') no-repeat 0 -587px;display:block;text-indent:-999px;overflow:hidden;} /*17.11.16 위치수정*/
.pr_wrap .img .btn_next {position:absolute;left:488px;top:413px;width:10px;height:13px;background:url('../img/common/ico_arrow.png') no-repeat right -587px;display:block;text-indent:-999px;overflow:hidden;} /*17.11.16 위치수정*/
.pr_wrap .img ul {width:302px;margin:0 auto;padding-top:20px;text-align:center;height:60px;overflow:hidden}
.pr_wrap .img ul li {width:57px;display:inline-block;margin-bottom:5px}
.pr_wrap .img ul li + li {margin-left:-4px}
.pr_wrap .img ul li a {display:block;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background-color:#fbfbfb;}
.pr_wrap .img ul li a img {width:100%;height:100%}
.pr_wrap .img ul li a.on {border-top-color:#e53433;border-bottom-color:#e53433;}
.pr_wrap .img .productimg {cursor:pointer;position:relative;overflow:hidden}
.pr_wrap .img .productimg img {max-height:320px;}
.pr_wrap .img .productimg .area {width:70px;height:70px;margin:0;padding:0;position:absolute;left:0;top:0;display:none;border:1px solid #000;opacity:0.4; filter: alpha(opacity = 40);background:#fff;}
/*.pr_wrap .img .productimg:hover .area {display:block}*/
.pr_wrap .img .zoom {position:absolute;top:0;right:0;box-sizing:border-box;width:450px;height:450px;border:1px solid #ef3f3b;z-index:100;display:block;visibility:hidden;overflow:hidden;background:#fff}
.pr_wrap .img .zoom img {position:absolute;left:0;top:0;width:auto;}
.pr_wrap .txt {float:right;width:350px;padding-right:15px;}
.pr_wrap .txt div {padding-top:20px;border-bottom:1px solid #f0f0f0;}
.pr_wrap .txt dt {float:left;width:100px;font-weight:bold;}
.pr_wrap .txt dd {float:right;width:235px;}
.pr_wrap .txt dd p {padding:7px 0 17px;}
.pr_wrap .txt .sale {padding-bottom:25px;}
.pr_wrap .txt .sale dd {font-weight:bold;}
.pr_wrap .txt .normal {padding-bottom:15px;}
.pr_wrap .txt .normal dd {font-weight:bold;}
.pr_wrap .txt .normal dd span {font-weight:normal;font-size:12px;color:#888;}
.pr_wrap .txt .regular {padding-bottom:20px;}
.pr_wrap .txt .regular dt {padding-top:10px;}
.pr_wrap .txt .regular dd {padding-bottom:5px;font-size:12px;color:#888;}
.pr_wrap .txt .regular dd em {font-size:32px;font-family:"Times New Roman";font-weight:bold;color:#e53433;}
.pr_wrap .txt .regular dd.login {font-size:12px;}
.pr_wrap .txt .regular dd.login a.btn {display:inline-block;padding:4px 10px 5px 10px;border:1px solid #e0e0e0;border-radius:2px;background-color:#f5f5f5;text-align:center;color:#666;}
.pr_wrap .txt .regular dd.login span {margin-left:10px;color:#ef3f3b;}
.pr_wrap .txt .r_sale {padding-bottom:25px;}
.pr_wrap .txt .r_sale dd.bold {font-weight:bold;}
.pr_wrap .txt .r_sale dd.download a.btn {display: inline-block;height: 23px;line-height: 21px;padding: 0 10px;border: 1px solid #e0e0e0;border-radius: 2px;font-size:12px;color: #333;}
.pr_wrap .txt .r_sale dd.download a.btn:first-child {margin-right:10px;}
.pr_wrap .txt .set dt {padding-top:5px;}
.pr_wrap .txt .select {padding-bottom:8px;}
.pr_wrap .txt .select dt {padding-top:7px;}
.pr_wrap .txt .select dd select {min-width:138px;width:auto;padding:5px !important;font-size:12px;}
.pr_wrap .txt .option .btn {display:inline-block;padding:4px 20px 6px 20px;border-radius:2px;background-color:#333;font-size:12px;text-align:center;color:#fff;}
.pr_wrap .txt .count {padding-bottom:25px;}
.pr_wrap .txt .count dt {padding-top:7px;}
.pr_wrap .txt .count div {position:relative;display:block;width:136px;height:23px;padding-top:7px;border:1px solid #e0e0e0;border-radius:2px;text-align:center;}
.pr_wrap .txt .count a {position:absolute;top:0;display:block;width:29px;height:30px;background:url(../img/common/ico_plus.png) no-repeat 50% 50%;text-indent:-999px;overflow:hidden}
.pr_wrap .txt .count a.minus {left:0;border-right:1px solid #e0e0e0;background-image:url(../img/common/ico_minus.png);}
.pr_wrap .txt .count a.plus {right:0;border-left:1px solid #e0e0e0;}
.pr_wrap .txt .count input {border:0 none;text-align:center;position:absolute;left:30px;top:0;height:28px;line-height:28px;width:74px;font-family:Verdana,SimSun;ime-mode:disabled}
.pr_wrap .txt .desc {padding-top:15px;border-bottom:none;font-size:12px;line-height:1.5;color:#666;}
.pr_wrap .txt .desc p {position:relative;margin-bottom:15px;}
/*.pr_wrap .txt .desc p:first-child {padding-bottom:15px;}*/
.pr_wrap .txt .desc span {color:#ef3f3b;}
.pr_wrap .txt .desc a {position:absolute;bottom:5px;right:0;display:block;min-width:36px;padding:4px 10px 5px 10px;border:1px solid #e0e0e0;border-radius:2px;background-color:#f5f5f5;}
.pr_wrap .txt .desc a > span {position:relative;display:inline-block;color:#666;padding-right:12px;background:#f5f5f5;}
.pr_wrap .txt .desc a > span:after {content:"";display:block;position:absolute;top:50%;right:0;margin-top:-5px;width:5px;height:9px;background:url('../img/common/ico_arrow.png') no-repeat 0 0}
.pr_wrap .txt .sold_out {margin-top:17px;padding-top:16px;font-size:12px;line-height:1.5;color:#666;border-top:1px solid #f0f0f0;border-bottom:0;}
.pr_wrap .txt .sold_out > strong {display:inline-block;font-size:14px;color:#e53433;}
.pr_wrap .txt .sold_out p {margin-top:4px;}
.pr_wrap .txt .sold_out + .btn_area {padding:12px 0 20px 0;}
.pr_wrap .txt .card_plus {margin:10px 0 20px;padding:15px 0;border-top:1px solid #f0f0f0;}
.pr_wrap .txt .card_plus dd {font-weight:bold;}
.pr_wrap .txt .card_plus dd span, .pr_wrap .txt .card_plus dd span a {font-weight:normal;font-size:12px;color:#888;}
.pr_wrap .btn_area {width:100%;}/* 2017-11-22 수정 */
.pr_wrap .btn_area li a {display:block;height:58px;text-align:center;font-size:18px;font-family:"Microsoft YaHei";line-height:58px;color:#fff; background-color:#ef3f3b;}
.pr_wrap .btn_area li.ea2 a {float:left;width:50%;}
.pr_wrap .btn_area li.ea2 a.btn1 {background-color:#ef3f3b;}
.pr_wrap .btn_area li.ea2 a.btn2 {background-color:#444;}
.pr_wrap .btn_area li a.btn_off {background-color:#979797;}
.pr_wrap .btn_area li .notice {background-color:#ef3f3b;}
/* 2016.03.21 수정 */
.pr_wrap .btn_area li .btn_soldout {background-color:#666}
/*.pr_wrap .sns li {display:inline-block;padding-right:2px;}
.pr_wrap .sns li > a {display:block;height:25px;line-height:25px;}
.pr_wrap .sns li > a > img {vertical-align: top;font-size:0;padding-top:5px;}
.pr_wrap .sns li a.btn {display:inline-block;height:23px;line-height:23px;margin-left:10px;padding:0 10px 0 33px;border:1px solid #e0e0e0;border-radius:2px;background:url(../img/common/ico_favorite.png) no-repeat 10px 50%;color:#666;}*/
.pr_wrap .badge {display:block;position:absolute;top:20px;left:10px;width:96px;height:72px;}

.sns_wrap {padding-top:0 !important;border-bottom:none !important;}
.sns_wrap span {float:left;font-size:12px;padding-top:6px;}
.sns_wrap .sns {float:left;width:108px;height:26px;overflow:hidden;margin-left:14px;}
.sns_wrap .sns li {float:left;margin:0 3px 3px 0;}
.sns_wrap .sns li img {width:24px;height:24px;}
.sns_wrap a.btn_togle {display:inline-block;vertical-align:middle;background:url(../img/common/ico_common.png) no-repeat 7px -768px;text-indent:-999em;width:7px;height:18px;margin-top:-2px;padding:6px 11px 0 7px;}
.sns_wrap a.btn_togle.on {background-position:-91px -768px;}
.sns_wrap a.btn {display:inline-block;height:23px;line-height:23px;margin-left:10px;padding:0 10px 0 33px;border:1px solid #e0e0e0;border-radius:2px;background:url(../img/common/ico_favorite.png) no-repeat 10px 50%;color:#666;}
.sns_wrap a.btn.on {background:url(../img/common/ico_favorite_on.png) no-repeat 10px 50%;}
.mypage_table .sns_wrap {padding:10px 10px 10px 447px !important;}
.mypage_table .sns_wrap a.btn_togle {background-position:7px -765px;}
.mypage_table .sns_wrap a.btn_togle.on {background-position:-91px -765px;}

/* detail_event_wrap */
.detail_event_wrap {padding:50px 0 0 0;}
.detail_event_wrap dl {box-sizing:border-box;float:left;width:300px;margin-left:15px;padding:15px 15px 15px 70px;border:1px solid #bfbfbf;background-color:#f5f5f5;}
.detail_event_wrap dl:first-child {margin-left:0;}
.detail_event_wrap dl dt {padding-bottom:5px;font-size:15px;font-family:"Microsoft YaHei";font-weight:bold;color:#333;}
.detail_event_wrap dl dd {line-height:1.3;color:#666;}
.detail_event_wrap dl.event1 {background:#f5f5f5 url(../img/sub/ico_detail_event1.png) no-repeat 12px 50%;}
.detail_event_wrap dl.event2 {background:#f5f5f5 url(../img/sub/ico_detail_event2.png) no-repeat 12px 50%;}
.detail_event_wrap dl.event3 {background:#f5f5f5 url(../img/sub/ico_detail_event3.png) no-repeat 12px 50%;}
.detail_event_wrap li {float:left;margin-left:15px;}
.detail_event_wrap li:first-child {margin-left:0;}
.detail_view.package .store {/*display:none*/}

/* detail_view common */
.detail_view .path {padding:15px 0 25px 0;}
.detail_view .tab_area .table_normal th {padding:13px 5px;border-top-color:#333;background-color:#f7f7f7;font-size:12px;}
.detail_view .tab_area .table_normal td {padding:15px 5px;color:#666;}
/* detail_view tab_cont (tab1) */
.detail_view .tab1 h4 {position:relative;z-index:1}
.detail_view .tab1 h4 + .scroll_area .desc {font-weight:bold;padding-top:30px;padding-bottom:11px;background:#fff;}
.detail_view .tab1 h4 + .scroll_area .desc:first-child {padding-top:0;}
.detail_view .tab1 h4 + .scroll_area {position:relative;top:-1px;z-index:2}
.detail_view .tab1 h4 + .scroll_area .table_default tr:first-child th, .detail_view .tab1 h4 + .scroll_area .table_default tr:first-child td {border-top:1px solid #bfbfbf}
.detail_view .scroll_area {height:685px;}
.detail_view .tab1 h4.border_none {border:none;padding-top:0;}
.detail_view .tab1 .sub_tit {margin-bottom:10px;font-size:12px;font-family:"Verdana","Simsun";font-weight:bold;color:#333;}/* 2017.01.23 수정 */
.detail_view .tab1 .brand_intro {padding-bottom:20px;border-bottom:1px solid #bfbfbf;font-size:12px;text-align:center;color:#666;}
.detail_view .tab1 .brand_intro .desc {padding:10px 0 20px 0;line-height:18px;}
.detail_view .tab1 .brand_intro .store {position:relative;font-size:18px;color:#333;}
.detail_view .tab1 .brand_intro .store span {display:inline-block;position:relative;top:4px;}
.detail_view .tab1 .brand_intro .store em {font-family:"Microsoft YaHei";}
.detail_view .tab1 .brand_intro .store a.btn {display:inline-block;margin-left:10px;padding:9px 10px;background-color:#555;font-size:12px;font-family:"Simsun";text-align:center;color:#fff;}
/* 2017.01.17 브랜드소개 추가 s */
.detail_view .brand_intro .cont {width:100%;padding:20px 0 40px 0;}
.detail_view .brand_intro .cont .tit {float:left;width:120px;font-size:16px;font-weight:bold;}
.detail_view .brand_intro .cont .txt {float:right;width:694px;line-height:1.5;}
.detail_view .brand_intro .cont .txt .brand_title {padding:0 0 10px 0;font-size:14px;font-weight:bold;}/* 2017.01.23 수정 */
.detail_view .brand_intro .cont .txt .brand_title span {float:left;display:block;padding-top:3px;}
.detail_view .brand_intro .cont .txt .brand_title a.btn_ss_white {float:left;display:block;width:70px;margin-left:10px;padding:0;font-weight:normal;text-align:center;}/* 2017.01.23 수정 */
.detail_view .brand_intro .cont .txt .brand_info {text-align:left;}
.detail_view .brand_intro .cont .txt .brand_info img {width:100%;height:auto;}
/* 2017.01.17 브랜드소개 추가 e */
/* 2017.01.17 브랜드 행사 추가 s */
.detail_view .exhibition {border-bottom:solid 1px #bfbfbf;padding-bottom:40px;}
.detail_view .exhibition .h4_area {position:relative;width:100%;}
.detail_view .exhibition .h4_area h4 {padding:20px 0;border-bottom:none;font-size:16px;text-align:left;font-weight:bold;z-index:0;font-family:'SimSun';}/* 2017.01.23 수정 */
.detail_view .exhibition .h4_area p {position:absolute;right:70px;top:25px;font-size:11px;font-family:"Tahoma";letter-spacing:-1px;color:#999;}
.detail_view .exhibition .h4_area p em {font-weight:bold;color:#eb3030;}
.detail_view .exhibition .h4_area ul {position:absolute;right:0;top:0;}
.detail_view .exhibition .img li {display:none;text-align:center;}
.detail_view .exhibition .img li.on {display:block;text-align:center;}
.detail_view .exhibition .img li img {width:869px;height:136px;}
.detail_view .exhibition .btn_area li {float:left;}
.detail_view .exhibition .btn_area li:first-child {margin-right:-1px;}
/* 2017.01.17 브랜드 행사 추가 e */
/* 2017.01.17 구매시 유의사항 s */
.detail_view .buy_notice {width:100%;}
.detail_view .buy_notice h4 {text-align:left;font-size:16px;font-weight:bold;border-bottom:none;float:left;padding:40px 0;} 
.detail_view .buy_notice ul {float:right;width:694px;margin-top:33px;}
.detail_view .buy_notice ul li {margin:8px 0;font-size:12px;color:#666;background:url('../img/common/ico_dot2.gif') no-repeat 0 5px;padding-left:8px;}/* 2017.01.23 수정 */
/* 2017.01.17 구매시 유의사항 e */
.detail_view .tab1 .table_default {margin-bottom:0;}
.detail_view .tab1 .table_default th {width:145px;background-color:#f7f7f7;text-align:left;color:#333;}
.detail_view .tab1 .table_default th, .detail_view .tab1 .table_default td {padding:15px 19px 15px 20px;border-top:none;border-bottom-color:#f0f0f0;font-size:12px;}
.detail_view .tab1 .scroll_area .table_default th, .detail_view .tab1 .table_default td {padding:15px 19px 15px 20px;border-top:none;border-bottom:1px solid #f0f0f0;font-size:12px;line-height:18px;}
.detail_view .tab1 .table_default tr:first-child {border-top:1px solid #e0e0e0;}
/*.detail_view .tab1 .table_default tr.last th, .detail_view .tab1 .table_default tr.last td {padding:15px 20px;border-bottom-color:#bfbfbf;}*/
.detail_view .tab1 .table_default td ul li {padding:5px 0;}
.detail_view .tab1 .table_default td ul li ul {padding:5px 0 5px 15px;}
.detail_view .tab1 .table_default td ul li ul li {padding:2px 0;}
.detail_view .tab1 .brand_img div.txt {padding-top:20px;font-size:12px;line-height:22px;color:#666;}
.detail_view .tab1 .brand_img p.img {text-align:center;}
.detail_view .tab1 .size_guide {position:absolute;top:10px;left:0;display:block;width:91px;padding:7px 0 10px 0;background-color:#444444;font-size:12px;text-align:center;color:#fff;}
.detail_view .tab1 .height_60px {height:60px;padding:0;line-height:60px;}
.detail_view .tab1 .detail_img {position:relative;padding:50px 0 30px 0;}
.detail_view .tab1 .detail_img p {width:400px;margin:0 auto;}
.detail_view .tab1 .detail_img p > img {width:100%;height:100%}
.detail_view .tab1 .detail_img .detail_img_slide_wrap {position:absolute;top:52px;right:0;width:80px;height:426px;overflow:hidden;}
.detail_view .tab1 .detail_img .detail_img_slide_wrap .detailPrev, .detail_view .tab1 .detail_img .detail_img_slide_wrap .detailNext {display: block;width:78px;height:13px;text-align: center;border: 1px solid #e0e0e0;}
.detail_view .tab1 .detail_img .detail_img_slide_wrap .detailPrev {position:absolute;top:0px;left:0px;font-size:0;text-indent:-999px;background:url('../img/common/bg_arrow_up.png') no-repeat center 10px;height:26px;}
.detail_view .tab1 .detail_img .detail_img_slide_wrap .detailNext {position:absolute;bottom:0px;left:0px;font-size:0;text-indent:-999px;background:url('../img/common/bg_arrow_down.png') no-repeat center 10px;height:26px;}
.detail_view .tab1 .detail_img ul {height:400px;margin:38px 0;overflow:hidden;}
.detail_view .tab1 .detail_img ul li {margin-bottom:10px;width:80px;height:80px;background-color:#f3f3f3;}
.detail_view .tab1 .detail_img ul li a {display:block;background-color:#f3f3f3; border:1px solid #e0e0e0;}
.detail_view .tab1 .detail_img ul li a.on {border-color:#ef3f3b;}
.detail_view .tab1 .detail_img ul li a img {max-width:78px;max-height:78px}

/* detail_view tab_cont (tab2) */
.detail_view .tab2 .tit_cont {padding-bottom:20px;font-size:16px;font-family:'Simsun';color:#333;font-weight:bold;}/* 2017.01.23 수정 */
.detail_view .tab2 .tit_cont span {font-size:12px;font-family:Verdana;font-weight:bold;color:#ef3f3b;}
.detail_view .tab2 .review_tit {padding-bottom:30px;border-bottom:1px solid #bfbfbf;text-align:center;}
.detail_view .tab2 .review_tit p:first-child {/*padding-bottom:20px;*/ font-size:24px;font-family:"Microsoft YaHei";color:#333;}
.detail_view .tab2 .review_tit p.desc {font-size:12px;color:#666;}
.detail_view .tab2 .review_tit p.desc span {color:#ef3f3b;}
.detail_view .tab2 .average {border:1px solid #bfbfbf;border-bottom:2px solid #333;}
.detail_view .tab2 .average ul {padding:25px 0;background:#f3f3f3 url(../img/common/bg_detail_average.png) no-repeat 0 0;}
.detail_view .tab2 .average ul li {box-sizing:border-box;float:left;width:24%;border-left:1px solid #bfbfbf;font-size:14px;font-family:"Microsoft YaHei";text-align:center;}
.detail_view .tab2 .average ul li:first-child {width:28%;border-left:none;}
.detail_view .tab2 .average ul li.bg_none {border-left:none;}
.detail_view .tab2 .average ul li span {display:block;}
.detail_view .tab2 .average ul li span.point {font-size:31px;font-family:"Times New Roman";color:#333;}
.detail_view .tab2 .average ul li span.point span {display:inline;padding-left:5px;font-size:18px;font-family:"Microsoft YaHei";}
.detail_view .tab2 .average ul li:first-child {padding-top:5px;}
.detail_view .tab2 .average ul li:first-child span.point {font-size:42px;padding-bottom:10px;}
.detail_view .tab2 .average ul li span.star_l {margin:0 auto;}
.detail_view .tab2 .average ul li span.star_m {margin:10px auto;}
.detail_view .tab2 .average ul li em {font-size:16px;font-family:"Microsoft YaHei";color:#333;}/* 2017.01.23 수정 */
.detail_view .tab2 .best_review {padding:30px 0;border-bottom:2px solid #e3e3e3;font-size:12px;}
.detail_view .tab2 .best_review div .cont {float:left;width:48%;margin-left:4%;color:#666;}
.detail_view .tab2 .best_review div .cont:first-child {margin-left:0;}
.detail_view .tab2 .best_review div .cont .img {float:left;width:116px;height:116px;background-color:#d3d3d3;}
.detail_view .tab2 .best_review div .cont .txt {float:right;width:280px;}
.detail_view .tab2 .best_review div .cont .txt li {padding-top:10px;line-height:1.5;}
.detail_view .tab2 .best_review div .cont .txt li:first-child {padding-top:0;}
.detail_view .tab2 .best_review div .cont .txt li span {display:inline-block;width:55px;margin-left:30px;color:#505050;}
.detail_view .tab2 .best_review div .cont .txt li span:first-child {margin-left:0;}
.detail_view .tab2 .img_review {position:relative;padding:30px 0;font-size:12px;color:#666;}
.detail_view .tab2 .img_review .cont {padding:20px 0;border-bottom:1px solid #d3d3d3;}
.detail_view .tab2 .img_review .cont .img {float:left;width:90px;height:90px;margin-right:25px;background-color:#d3d3d3;}
.detail_view .tab2 .img_review .cont .img img {width:100%;}
.detail_view .tab2 .img_review .cont .txt1 {float:left;width:455px;}
.detail_view .tab2 .img_review .cont .txt1 span.point {margin-right:10px;font-size:26px;font-family:"Times New Roman";color:#505050;}
.detail_view .tab2 .img_review .cont .txt1 p+p {padding-top:10px;line-height:1.5;}
.detail_view .tab2 .img_review .cont .txt2 {float:right;width:285px;}
.detail_view .tab2 .img_review .cont .txt2 li {padding-bottom:10px;line-height:1.5;}
.detail_view .tab2 .img_review .cont .txt2 li span {display:inline-block;width:55px;color:#505050;}
.detail_view .tab2 .img_review .cont .txt2 li.last {margin-top:10px;padding-top:10px;background:url(../img/common/bg_line_h.png) no-repeat 0 0;}
.detail_view .tab2 .img_review .cont .txt2 li.last span {margin-left:50px;}
.detail_view .tab2 .img_review .cont .txt2 li.last span:first-child {margin-left:0;}
.detail_view .tab2 .general_review {position:relative;padding:30px 0;font-size:12px;}
.detail_view .tab2 .general_review select, .detail_view .tab2 .general_review a {font-size:12px;}
.detail_view .tab2 .general_review .left {position:relative;}
.detail_view .tab2 .general_review .left img {position:absolute;right:14px;top:9px}
.detail_view .tab2 .general_review .left a {width:280px;}
.detail_view .tab2 .table_normal thead th {font-size:12px;}
/*.detail_view .tab2 .pagination {padding:0 0 15px 0;}*/
.detail_view .tab2 .guide {padding:0 0 30px;}/* 2017.01.17 추가 */
.detail_view .tab2 .btn_area {position:absolute;top:10px;right:0;} /* 2016-07-26_수정 */
.detail_view .tab2 .btn_area a {display:inline-block;width:90px;padding:8px 0 9px 0;background-color:#555;text-align:center;color:#fff;}
.detail_view .tab2 .star_point {padding-bottom:30px;}
.detail_view .tab2 .star_point li {float:left;padding-left:40px;background:url(../img/common/bg_line_v_e3e3e3.png) no-repeat 20px 50%;}
.detail_view .tab2 .star_point li:first-child {padding-left:8px;background:none;}
.detail_view .tab2 .star_point li > span {margin-left:8px;}
.detail_view .toggle_img_txt {padding:0;}
.detail_view .toggle_img_txt .img {float:left;width:90px;margin-left:20px;}
.detail_view .toggle_img_txt .img img {width:100%;}
.detail_view .toggle_img_txt p.txt {float:right;width:695px;line-height:1.8;word-break:break-all;word-wrap:break-word;}
.detail_view .toggle_img_txt div.txt {width:100%;line-height:1.8;}

/* detail_view tab_cont (tab3) */
.detail_view .tab3 .guide {padding:0 0 20px 0;border-bottom:1px solid #d2d2d2;}
.detail_view .tab3 .qna_list {position:relative;width:100%;margin-bottom:15px;padding-top:30px;}
.detail_view .qna_list table {margin-bottom:15px;}
.detail_view .tab3 .tit_cont {padding-bottom:20px;font-size:16px;font-family:"Simsun";color:#333;font-weight:bold;} /* 2017.01.17 추가 */
.detail_view .tab3 .tit_cont span {color:#e53433;}
.detail_view .tab3 .btn_area {padding:0;position:absolute;top:10px;right:0;}/* 2017.01.17 수정 */
.detail_view .tab3 .btn_area a {display:inline-block;width:90px;padding:6px 0 9px 0;background-color:#555;text-align:center;color:#fff;font-size:12px;}
.detail_view .toggle_img_txt ul {padding:0 50px;}/* 2017.01.17 수정 */
.detail_view .toggle_img_txt ul li {padding-left:40px;position:relative;line-height:20px;word-break:break-all;word-wrap:break-word;}
.detail_view .toggle_img_txt ul li:first-child {max-width:570px;}
.detail_view .toggle_img_txt ul li + li {margin-top:25px;}
.detail_view .toggle_img_txt ul li .ic_a { position:absolute;top:0;left:0;font-size:20px;font-family:"Verdana";font-weight:bold;line-height:1;color:#444444;}
.detail_view .toggle_img_txt ul li .ic_q { position:absolute;top:0;left:0;font-size:20px;font-family:"Verdana";font-weight:bold;line-height:1;color:#e53433;}


/* detail_view tab_cont (tab4) */
.detail_view .tab4 .guide {margin-bottom:30px;padding:0 0 30px 0;border-bottom:1px solid #e0e0e0;}
.detail_view .tab4 .txt_img {position:relative;margin-left:0;border:solid 1px #e0e0e0;}/* 2017.01.17 margin-left 수정 */
.detail_view .tab4 .txt_img .txt {width:265px;}
.detail_view .tab4 .txt_img .txt li {line-height:33px;}
.detail_view .tab4 .txt_img .txt li:last-child a.on {background:url(../img/common/bg_menu_receive.png) no-repeat 0 -50px;}/* 2017.01.23 추가 */
.detail_view .tab4 .txt_img .txt li a {display:block;height:33px;padding-left:20px;background:url(../img/common/bg_menu_receive.png) no-repeat 0 0;font-size:12px;line-height:33px;}
.detail_view .tab4 .txt_img .txt li a:hover, .detail_view .tab4 .txt_img .txt li a.on {background-position:0 -50px;color:#fff;}
.detail_view .tab4 .txt_img .img {position:absolute;right:0;top:0;z-index:-1;width:607px;padding:15px 0;text-align:center;height:87.5%;}/* 2017.01.23 수정 */
.detail_view .tab4 .txt_img .img li {display:none;width:400px;margin:0 auto;}/* 2017.01.23 수정 */
.detail_view .tab4 .txt_img .img li.on {display:block}
.detail_view .tab4 .txt_img .img li img {width:100%;}

/* detail_view common */
.detail_view h4 {padding:60px 0 20px 0;font-weight:bold;}/* 2017.01.23 수정 */
.detail_view h4, .detail_view h5 {border-bottom:1px solid #bfbfbf;font-size:24px;font-family:"Microsoft YaHei";text-align:center;color:#333;}
.detail_view h5 {font-size:18px;}
.detail_view .tab_area .fixed {position:fixed;left:50%;top:0;margin:60px 0 0 -465px;width:931px;z-index:1000}
.detail_view .tab_area .tit_tab {margin-top:55px;} /* 2016-09-08_수정 */
.detail_view .tab_area .tit_tab.fixed > li:first-child a {border-left: 0;}
.detail_view .tit_tab {box-sizing:border-box;width:100%;*zoom:1}
.detail_view .tit_tab > li {float:left;width:20%;}
/*.detail_view .tit_tab > li.tab1 a {background-position:90px -30px;}
.detail_view .tit_tab > li.tab1 a.on {background-position:90px 20px;}
.detail_view .tit_tab > li.tab2 a {background-position:110px -30px;} 
.detail_view .tit_tab > li.tab2 a.on {background-position:110px 20px;}2016-07-26_삭제 */
.detail_view .tit_tab > li.tab6 a,
.detail_view .tit_tab > li.tab6 a.on {padding:18px 0;border:1px solid #979797;background:#979797;color:#fff;font-weight:normal;letter-spacing:0px;cursor:default;}
.detail_view .tit_tab.fixed > li.tab6 a,
.detail_view .tit_tab > li.tab6 a.on {background:#979797;border-color:#979797;cursor:pointer;}
.detail_view .tit_tab > li a {box-sizing:border-box;display:block;padding:18px 10px 18px 10px;border:1px solid #bfbfbf;border-left:none;background:#e6e6e6;text-align:center;color:#6e6e6e;}/* 17.01.17 수정 -> background img 삭제, padding-left 수정 */
.detail_view .tit_tab > li:first-child a {border:1px solid #bfbfbf;}
.detail_view .tit_tab > li a.on {border-top:2px solid #e53433;border-bottom:none;background-color:#fff;background-position:140px 20px;font-weight:bold;letter-spacing:-1px;color:#e53433;border-left:1px solid #bfbfbf;}/* 개발 수정 */
.detail_view .tit_tab > li a span {font-weight:bold;font-size:12px;color:#ef3f3b;}
.detail_view .tab_cont {padding:50px 30px !important;border:1px solid #bfbfbf;border-top:none;} /* 2016-07-26_수정 */
.detail_view .tab_area .table_normal .table_toggle {padding:0;text-align:left;}
.detail_view .table_toggle > div {position:relative;padding:20px 0;background-color:#f8f8fb;}/* 2017.01.17 padding 수정 */
.detail_view .table_toggle .btn_ico {position:absolute;right:15px;top:15px;}
.detail_view .table_toggle dl {line-height:1.5;}
.detail_view .table_toggle dl span {float:left;display:block;}
.detail_view .table_toggle dl span.ico{width:30px;font-size:20px;font-weight:bold;}
.detail_view .table_toggle dl span.txt {float:right;width:720px;margin-right:60px;padding-top:5px;}
.detail_view .table_toggle dl dt {padding-bottom:10px;}
.detail_view .table_toggle dl dt span.ico{color:#ef3f3b;}
.detail_view .table_toggle dl dd span.ico {color:#443135;}
.detail_view .promotion {box-sizing:border-box; width:931px;margin-top:30px;}
.detail_view .promotion > .img {position:relative}
.detail_view .promotion .img .banner_img li {display:none}
.detail_view .promotion .img .banner_img li.on {display:block}
.detail_view .promotion .img .banner_nav {position:absolute;bottom:10px;left:0;width:100%;text-align:center}
.detail_view .promotion .img .banner_nav ul {display:inline-block}
.detail_view .promotion .img .banner_nav ul li {float:left;margin-right:6px;width:8px;height:8px;}
.detail_view .promotion .img .banner_nav ul li a {display:block;width:8px;height:8px;overflow:hidden;text-indent:-99px;background:url('../img/common/bg_dot_slidev2.png') no-repeat left -8px;}
.detail_view .promotion .img .banner_nav ul li a.on {background-position:0 0;}
.detail_view .premium {margin-top:50px;border:1px solid #bfbfbf;border-top:2px solid #333;font-size:12px;}
.detail_view .premium h4 {padding:20px 0;background-color:#fff;}
.detail_view .premium .gift {background-color:#f3f3f3;color:#989898;}/* 2016-10-07 수정 */
.detail_view .gift .img {float:left;width:535px;margin:18px 0 20px 20px;border-right:1px solid #bfbfbf;}
.detail_view .gift .img p {position:relative;float:left;width:160px;}
.detail_view .gift .img p img {width:158px;border:1px solid #bfbfbf;}
.detail_view .gift .img p span {position:absolute;top:0;left:0;width:100%;height:24px;background:#e53433;line-height:24px;text-align:center;color:#fff;font-size:13px;}
.detail_view .gift .img > ul {float:left;width:340px;padding-left:25px;color:#666;}
.detail_view .gift .img > ul > li {/*text-overflow:ellipsis;overflow:hidden;white-space:nowrap*/line-height:16px;}
.detail_view .gift .img > ul > li:first-child {padding:10px 0;font-size:18px;font-family:"Microsoft YaHei";color:#ef3f3b;line-height: 22px;}
.detail_view .gift .img > ul > li+li+li {padding-top:10px;}
.detail_view .gift .img > ul > li ul {padding-top:10px;line-height:18px;}
.detail_view .gift .txt {float:right;width:345px;margin-top:10px;padding:20px 0 25px 20px;color:#aaa;}
.detail_view .gift .txt li {padding:4px 0 4px 10px;background:url(../img/common/bg_dot1.png) no-repeat 0 13px;line-height:1.5;}
.detail_view .recommend {position:relative;z-index:1}
.detail_view .recommend h4 {padding:20px 0;border-top:2px solid #333;border-bottom:none;text-align:center;}
.detail_view .recommend h4 span {display:block;padding-top:10px;font-size:12px;font-weight:normal;font-family:"SimSun";color:#666;}
.detail_view .recommend .plus_on { position:absolute;display:block;width:26px;height:26px;background:url(../img/common/ico_symbol_mark.png) no-repeat 0 0;left:218px;top:208px;z-index:1000}
.detail_view .recommend .plus_off { position:absolute;display:block;width:26px;height:26px;background:url(../img/common/ico_symbol_mark.png) no-repeat 0 -26px;left:-13px;top:119px;z-index:1000}
.detail_view .recommend .equal_on { position:absolute;display:block;width:26px;height:26px;background:url(../img/common/ico_symbol_mark.png) no-repeat 0 -52px;right:218px;top:208px; z-index:1000}
.detail_view .recommend .list > li {box-sizing:border-box;float:left;width:25%;min-height:300px;height:auto;border-left:1px solid #bfbfbf;border-top:1px solid #bfbfbf;}
.detail_view .recommend .list > li:first-child {border:2px solid #ef3f3b;}
.detail_view .recommend .list > li.scroll {width:50%;}
.detail_view .recommend .list > li.scroll > div {overflow-x:scroll;width:463px;position:relative;z-index:5}
.detail_view .recommend .list > li.scroll > div > ul {white-space:nowrap;width:2000%;}
.detail_view .recommend .list > li.scroll > div > ul > li {position:relative;float:left;width:232px;height:280px;white-space:normal;border-right:1px solid #bfbfbf;}
.detail_view .recommend .list > li.scroll > div > ul > li:first-child .plus_off {display:none}
.detail_view .recommend .list > li.scroll > div > ul > li:last-child,
.detail_view .recommend .list > li.scroll > div > ul > li.last {border-right:none}
.detail_view .recommend .list .product_off {width:165px;margin:0 auto;color:#67564f;}
.detail_view .recommend .list .product_off .img > img {padding:15px 0px 10px;width:150px;height:150px;}
.detail_view .recommend .list > li:first-child .product_off .img > img {padding:25px 0px 10px 0;}
.detail_view .recommend .list .product_off .img .tit {min-height:36px;}
.detail_view .recommend .list .product_over .price .won {color:#fff;}
.detail_view .recommend .list .price {font-family:"Verdana";}
.detail_view .recommend .list .price .regular {color:#534a3f;font-weight:normal;}
.detail_view .recommend .list .price .won {color:#67564f;}
.detail_view .recommend .list .total {position:relative;width:165px;height:298px;margin:0 auto;}
.detail_view .recommend .list .total > p {padding-top:40px;font-size:18px;font-family:"Microsoft YaHei";}
.detail_view .recommend .list .total > p > span {font-family:"Verdana";font-weight:bold;color:#ef3f3b;}
.detail_view .recommend .list .total dl.price {position:absolute;bottom:100px;}
.detail_view .recommend .list .total dt {float:left;width:60px;padding-bottom:12px;}
.detail_view .recommend .list .total dt+dd+dt {padding-top:5px;}
.detail_view .recommend .list .total dd {float:right;width:100px;padding-bottom:12px;}
.detail_view .recommend .list .total dd.dc_price {font-size:22px;font-family:"Times New Roman";padding-right:0}
.detail_view .recommend .list .total p.btn {position:absolute;bottom:35px;width:100%;padding-top:10px;border-top:1px solid #bfbfbf;}
.detail_view .recommend .list .total p.btn a {display:block;width:100%;padding:8px 0;background-color:#ef3f3b;font-size:18px;text-align:center;color:#fff;}
.detail_view .guide {padding:30px 0;font-size:12px;}
.detail_view .guide p {float:left;width:150px;font-size:16px;font-family:"Simsun";font-weight:bold;}
.detail_view .guide ul {float:right;width:700px;color:#aaa;}
.detail_view .guide ul li {padding-bottom:8px;background:url('../img/common/bg_dot3.jpg') no-repeat 0 7px;padding-left:8px;line-height:1.5;}
.detail_view .guide ul li.line1 {line-height:1.6;background-position:0 9px;}
.detail_view .guide ul+ul {padding-top:10px;}
.detail_view .guide > ul > li:first-child {font-size:14px;color:#666;background:none;padding-left:0;}/* 2017.01.23 수정 */
.detail_view .guide > ul > li > ul {padding-top:12px;}
.detail_view .guide > ul > li > ul li {padding-left:8px;font-size:12px;}
.detail_view .guide ul li em {color:#e53433;}
.detail_view .guide ul li.normal {font-size:12px;color:#aaa;}
.detail_view .guide ul li.mar {padding-top:8px;padding-bottom:0;}
.detail_view .guide .cont li {padding-bottom:0;}
.detail_view .guide .cont li:first-child {padding:4px 0 5px;line-height:1;}
.detail_view .tab2 .guide {position:relative;}
.detail_view .tab2 .guide .btn_a_white {position:absolute;top:20px;right:0;}
.detail_view .tab2 .guide > ul > li:first-child {color:#333;}
/* .detail_view .tab5 .guide > ul > li > ul li {padding-left:0;} */
.detail_view .border {border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.detail_view .checkbox {position:absolute;left:15px;top:15px;}
.detail_view .checkbox input[type=checkbox].css-checkbox + label.css-label {display:inline-block;min-width:28px;height:28px;background-repeat:no-repeat;background-position:0 -200px;vertical-align:middle;cursor:pointer;}
.detail_view .recommend .list .checkbox input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position:0 -250px;
}
.detail_view .recommend .mark {position:absolute;top:208px;width:100%;z-index:9999;}
.detail_view .recommend .mark a {position:absolute;display:block;width:26px;height:26px;background:url(../img/common/ico_symbol_mark.png) no-repeat;}
.detail_view .recommend .mark a.plus_on {left:218px;background-position:0 0;}
.detail_view .recommend .mark a.plus_off {left:445px;background-position:0 -26px;}
.detail_view .recommend .mark a.equal_on {right:218px;background-position:0 -52px;}
.detail_view .relative {padding:40px 0;}
.detail_view .relative .tit_tab li {width:50%;}
.detail_view .relative .tit_tab > li > a {background-image:none;font-size:18px;font-family:"Microsoft YaHei";}
.detail_view .relative .list > li {position:relative;float:left;width:25%;min-height:319px;background:url(../img/common/bg_line_hl_260px.png) no-repeat 0 50%;}
.detail_view .relative .area {border:1px solid #bfbfbf;border-top:none;}
.detail_view .relative .detail_prod_slide .list > li {width:232px;}
.detail_view .relative.detail_prod_slide.tab_zero .list > li {width:232px;}

.detail_view .relative .list > li:first-child {background:url(../img/common/bg_line_hl_260px.png) no-repeat 100% 50%;}
.detail_view .relative .list > li:first-child + li {background:none}
.detail_view .relative .list .product_off {width:167px;margin:0 auto;color:#67564f;}
.detail_view .relative .list .product_off .tit {min-height:37px;color:#444444;}
.detail_view .relative .list .product_off .regular {color:#534a3f;font-weight:normal;}
.detail_view .relative .list .product_over .percent span {text-decoration:none;}
.detail_view .relative .list .product_over .tit {width:200px}
.detail_view .relative .list .product_over .regular {font-size:12px;}
.detail_view .area {position:relative;overflow:hidden;}
.detail_view .tab_zero {position:relative;margin-top:30px;padding:0;border:1px solid #bfbfbf;border-top:2px solid #333;overflow:hidden;}
.detail_view .tab_zero > h4 {padding:16px 0 25px;font-size:18px;font-weight:bold;border:none;}
.detail_view .tab_zero .list {border:none;}
.detail_view .detail_prod_slide  .list .product_off .img img {width:150px;height:150px}
.detail_view .btn_move a {overflow: hidden;position: absolute;top:125px;display: block;width: 32px;height: 50px;font-size: 1px;text-indent: -9999px;z-index:1000;}
.detail_view .btn_move a.prev {left:0;background:url(../img/common/ico_common.png) no-repeat 0 -530px;}
.detail_view .btn_move a.next {right:0;background:url(../img/common/ico_common.png) no-repeat -34px -530px;}
.detail_view .tab_zero a.prev, .detail_view .tab_zero a.next {top:180px;}
.detail_view .detail_prod_slide {width:auto !important;}

/* brand_shop > brand_intro */
.brand_shop .brand_intro {margin-bottom:30px;border:1px solid #bfbfbf;color:#333;}
.brand_shop .brand_intro .img_txt {padding:30px 0;*zoom:1}
.brand_shop .brand_intro .img_txt strong {float:left;width:146px;padding:0 12px 0 31px;font-size:16px;font-weight:bold;font-family:'Simsun';color:#333;line-height:1.8;text-align:left;}
.brand_shop .brand_intro .img_txt div {float:left;width:709px;padding:0 30px 0 0;font-size:12px;font-family:'Verdana','Simsun';line-height:1.8;text-align:justify;color:#666;}
.brand_shop .table_default th {position:static;}
/*.brand_shop .table_default td {position:static;}*/

/* brand_shop > best_product */
.brand_shop .best_product {border:1px solid #bfbfbf;border-top:none;}
.brand_shop .best_product .tit_area {padding:13px 0 12px 0;border-bottom:1px solid #bfbfbf;}
.brand_shop .best_product .tit_area h3 {font-size:22px !important;}
.brand_shop .best_product .tit_area h3 span {display:inline-block;margin-left:10px;padding:3px 10px 3px 5px;border:2px solid #fa5450;border-radius:30px;min-width:60px;font-size:18px;font-style:italic;text-align:center;color:#fa5450;}
.brand_shop .best_product .list > li {box-sizing:border-box;position:relative;float:left;width:20%;/*border-left:1px solid #e0e0e0;*/}
.brand_shop .best_product .list > li:first-child {border-left:none;}
.brand_shop .best_product .list > li:first-child span.rank,
.product_list .list > li:first-child span.rank {border-bottom-color:#e53433;color:#e53433;}
.brand_shop .best_product .list > li span.rank {left:15px;top:20px;}
.brand_shop .best_product .list > li > a {display:block;width:150px;min-height:286px;height:auto;margin: 0 auto;}
.brand_shop .best_product .product_off .img > img {padding:24px 0 10px 0;}
.brand_shop .best_product .product_off .img .tit {color:#555;min-height:56px;padding-bottom:0;}
.brand_shop .best_product .product_off .img .tit span {color:#444;}
.brand_shop .best_product .product_over .tit {top:20px;line-height:1.6;}
.brand_shop .best_product .product_over .tit span {font-size:12px;padding-bottom:6px;}
.brand_shop .best_product .price .sale {font-size:14px;}
.brand_shop .best_product .price .regular {font-size:12px;}

/* brand_shop > brand_banner */
.brand_shop .promotion {box-sizing:border-box; width:931px;margin-top:30px;}
.brand_shop .promotion > .img {position:relative}
.brand_shop .promotion .img .banner_img li {display:none}
.brand_shop .promotion .img .banner_img li.on {display:block}
.brand_shop .promotion .img .banner_nav {position:absolute;bottom:10px;left:0;width:100%;text-align:center}
.brand_shop .promotion .img .banner_nav ul {display:inline-block}
.brand_shop .promotion .img .banner_nav ul li {float:left;margin-right:6px;width:8px;height:8px;}
.brand_shop .promotion .img .banner_nav ul li a {display:block;width:8px;height:8px;overflow:hidden;text-indent:-99px;background:url('../img/common/bg_dot_slidev2.png') no-repeat left -8px;}
.brand_shop .promotion .img .banner_nav ul li a.on {background-position:0 0;}

/* brand_shop > btn_area */
.brand_shop .btn_area {padding:0 0 50px 0;}

/* tooltip layer */
.tool_tip_box {position:relative;}
.tool_tip_box a {display:inline-block;line-height:16px;padding-right:22px;font-size:12px;color:#666;background:url('../img/common/ico_tool_tip.png') no-repeat 100% 50%;}
.tool_tip_box .tool_tip {z-index:11;position:absolute;padding:20px;text-align:left;background:#fff;border:1px solid #000;display:none;}
.tool_tip_box:hover{z-index:10;}/* 2016-12-23 수정 */
.tool_tip_box:hover .tool_tip {display:block;}
.tool_tip_box .tool_tip > strong {display:block;margin-bottom:5px;color:#333;font-size:12px;line-height:20px;}
.tool_tip_box .tool_tip > p {color:#333;font-size:12px;line-height:20px;font-weight:normal;word-break:keep-all;} 
.tool_tip_box .tool_tip .ic {position:absolute;top:-7px;left:auto;width:14px;height:8px;display:block;background:url('../img/common/ico_arrow.png') no-repeat 0 -829px;z-index:999;}
.tool_tip_box .tool_tip .ic2{position:absolute;left:-7px;width:8px;height:14px;display:block;background:url('../img/common/ico_arrow.png') no-repeat 0 -184px;z-index:999;}

/* [s] 2017-04-05 lnb 리뉴얼 */
.category_wrap:after {display:block;content:'';clear:both;}
.lnb_new {width:178px;height:401px;border:1px solid #bfbfbf;border-top:solid 2px #6f6f6f;float:left;background:#eee;}/* 17.06.08 수정 */
.lnb_new h2 {padding:24px 0;margin:0 10px;text-align:center;color:#333 !important;font-size:20px !important;font-weight:bold;letter-spacing:-1px;line-height:1.2;}/* 17.06.08 수정 */
.lnb_new .menu_wrap:before {display:block;content:'';border-top:1px solid #c4c4c4;margin:0 0 12px;}/* 17.06.08 수정 */
.lnb_new .menu_wrap {padding:0 0 13px 0;}
.lnb_new .menu_wrap .lnb li:first-child {margin-top:0;}
.lnb_new .menu_wrap .lnb li.on, .lnb_new .menu_wrap .lnb li:hover, .lnb_new .menu_wrap .lnb li:focus {background:#dbdbdb url(../img/common/bullet_01.jpg) no-repeat 18px center;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li {position:relative;line-height:24px;background:url(../img/common/bullet_01.jpg) no-repeat 18px center;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li  a {display:block;padding:0 25px;color:#333;font-size:12px;letter-spacing:-1px;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li .cate1:before {display:block;content:'◀';position:absolute;left:-9px;top:29px;font-family:'Malgun Gothic';color:#fff;font-size:11px;z-index:90;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li .cate1 {position:absolute;left:178px;top:-35px;border:1px solid #dadad8;width:182px;background:#fff;z-index:100;display:none;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li .cate1 ul {padding:11px 20px;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li .cate1 ul li:first-child {font-weight:bold;border-bottom:solid 1px #dadada;padding-bottom:5px;margin-bottom:10px;}/* 17.06.08 추가 */
.lnb_new .menu_wrap .lnb li .cate1 ul li a {background:#fff;padding:0;line-height:22px;font-size:12px;}/* 17.06.08 수정 */
.lnb_new .menu_wrap .lnb li .cate1 ul li:hover, .lnb_new .menu_wrap .lnb li .cate1 ul li:focus {background:#fff;} 
.lnb_new .menu_wrap .lnb li .cate1 ul li  a:hover, .lnb_new .menu_wrap .lnb li .cate1 ul li a:focus {color:#333;font-size:12px;letter-spacing:-1px;font-weight:bold;} /* 17.06.08 수정 */
/* [e] 2017-04-05 lnb 리뉴얼 */

/* [s] 2017-04-05 Category 레이아웃 리뉴얼 */
.category_wrap {position:relative;width:100%;margin-bottom:30px;}
.category_wrap .lnb_wrap {float:left;width:179px;overflow:hidden;}
.category_wrap .category_visual {float:right;position:relative;}
.category_wrap .category_visual h3 {height:52px;line-height:52px;font-size:20px !important;font-weight:bold;text-align:center;}
.category_wrap .category_visual h3 span {display:inline-block;color:#e53433;}
.category_wrap .category_visual .img_wrap .banner_img2 {position:relative;height:360px;overflow:hidden;}
.category_wrap .category_visual .img_wrap .banner_img2 li img {display:block;border:1px solid #bbb;}
.category_wrap .category_visual .img_wrap .promotion_button {position: absolute;right: 0;width:42px;border-left:1px solid #bbb;border-right:1px solid #bbb;border-top:1px solid #bbb;border-bottom:2px solid #333;font-size:0;padding:14px 1px 15px;background: #fff;} /* 17.06.08 수정 */
.category_wrap .category_visual .img_wrap .promotion_button a {text-indent:-9999px;margin:0 auto;}
.category_wrap .category_visual .img_wrap .promotion_button a.pause {display: block; width: 10px;height: 12px;background: url(../img/common/sp_button2.png) 0 13px;}
.category_wrap .category_visual .img_wrap .promotion_button a.play {display: block; width: 10px;height: 12px;background: url(../img/common/sp_button2.png) 0 0;}
.category_wrap .category_visual .img_wrap .banner_nav {position:absolute;bottom:-44px;left:0;width:100%;height:44px;overflow:hidden;}/* 17.06.08 수정 */
.category_wrap .category_visual .img_wrap .banner_nav .slide_paging {width:3000px;}
.category_wrap .category_visual .img_wrap .banner_nav .slide_paging li {position:relative;float:left;width:174px;height:auto;padding-left:0;}/* 17.06.08 수정 */
.category_wrap .category_visual .img_wrap .banner_nav .slide_paging li a {display:block;height:44px;padding:15px 0;border-top:1px solid #bbb;border-bottom:2px solid #333;background:#fff;text-align:center;font-size:12px;color:#333;letter-spacing:-1px;text-indent:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing: border-box;}/* 17.06.08 수정 */
.category_wrap .category_visual .img_wrap .banner_nav .slide_paging li.on a {border-bottom-color:#e63432;color:#e53433;}
.category_wrap .category_visual .img_wrap .btn_move a {overflow: hidden; position: absolute;top: 171px; display: block;width:13px; height:26px;text-indent: -9999px;}
.category_wrap .category_visual .img_wrap .btn_move a.prev {left: 12px;background: url(../img/common/ico_prev6.png) no-repeat 0 0;}
.category_wrap .category_visual .img_wrap .btn_move a.next {right: 12px;background: url(../img/common/ico_next6.png) no-repeat 0 0;}
.category_wrap .category_visual .img_wrap .banner_nav .slide_paging li:before {display:inline-block;content:'';border-left:1px solid #bbb;height:42px;position:absolute;top:0;left:0;}/* 17.06.08 수정 */

/* 1차 카테고리 별 베스트 */
.best_brand_wrap {position:relative;clear:both;padding-top:40px;}/* 17.06.08 수정 */
.best_brand_wrap h4 {font-family:"Microsoft YaHei";font-size:16px;font-weight:bold;padding-bottom:22px;padding-top:22px;letter-spacing:-1px;color:#333;}/* 17.06.08 수정 */
.best_brand_wrap .best_slide {overflow:hidden;position:relative;border:1px solid #bfbfbf;background:#fff;padding:0 50px;}/* 17.06.08 수정 */
.best_brand_wrap .best_slide ul {overflow:hidden;}
.best_brand_wrap .best_slide ul li {float:left;width:166px;height:68px;line-height:68px;background:url(../img/sub/ban_line_img.jpg) no-repeat right center;}/* 17.06.08 수정 */
.best_brand_wrap .best_slide ul li a {display:block;text-align:center;}
.best_brand_wrap .best_slide .btn_move a {display: block;position: absolute;top: 0;text-indent: -9999px;width: 50px;height: 70px;cursor: pointer;}
.best_brand_wrap .best_slide .btn_move a.next {right:0;background: url(../img/sub/ico_next7.png) no-repeat;}
.best_brand_wrap .best_slide .btn_move a.prev {left:0;background: url(../img/sub/ico_prev7.png) no-repeat;}
.best_brand_wrap .best_tab1 {overflow:hidden;position:absolute;right:10px;top:10px;}/* 17.06.08 수정 */
.best_brand_wrap .best_tab1 li:before {display:inline-block;content:'';border-left:1px solid #e4e4e4;height:10px;padding-right:0;}/* 17.06.08 수정 */
.best_brand_wrap .best_tab1 li:first-child:before {border-left:0;}
.best_brand_wrap .best_tab1 li:last-child {padding-right:3px;}
.best_brand_wrap .best_tab1 li {float:left;padding:0;}/* 17.06.08 수정 */
.best_brand_wrap .best_tab1 li a {display:inline-block;font-size:12px;color:#333;letter-spacing:-1px;line-height:14px;padding:13px 12px;}/* 17.06.08 수정 */
.best_brand_wrap .best_tab1 li.on a {color:#fff;font-weight:bold;background:#e53433;}/* 17.06.08 수정 */
.best_brand_wrap .product_list_wrap {border:1px solid #bfbfbf;}
.best_brand_wrap .product_list_wrap .product_list {border-top:0;width:930px;}
.best_brand_wrap .product_list_wrap {border-top:0;border-bottom:0;}
.best_brand_wrap .product_list_wrap .list {border-bottom:1px solid #bfbfbf;background:url(../img/sub/bg_1depth_prd_list.jpg) no-repeat left top;}/* 17.06.08 수정 */
.best_brand_wrap .product_list_wrap .list>li {box-sizing:border-box;border-bottom:0;height:323px;}/* 17.06.08 수정 */
.best_brand_wrap .product_list_wrap .list>li:first-child {border-left:0;}
.best_brand_wrap .product_list_wrap .ico_rank {position: absolute;top: 0;left: 0;padding: 7px;background:#f3f3f3;color: #676767;font-size: 18px;font-weight: bold;font-family:'Tahoma';}
.best_brand_wrap .product_list_wrap .list li a {height:100%;}
.best_brand_wrap .product_list_wrap .list li .product_off .img {margin-bottom:10px;padding-top:40px;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt {margin:0 14px;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .tit {height:auto;padding:0;margin-bottom:18px;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .tit strong {margin-bottom:13px;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .tit span {padding-bottom:0;font-weight:normal;-webkit-line-clamp:inherit;display:block;min-height:auto;text-overflow:ellipsis;white-space:nowrap;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .price {font-family:'Tahoma', Simsun;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .price .sale {padding-right:3px;}
.best_brand_wrap .product_list_wrap .list li .product_off .txt .price .won {display:block;padding-top:4px;}
.best_brand_wrap .product_list_wrap .list li .product_over .percent {top:56%;font-family:'Tahoma', Simsun;margin:0;padding:13px 0 0;}
.best_brand_wrap .product_list_wrap .list li .product_over .percent span {font-family:'Times New Roman', Simsun;}
.best_brand_wrap .product_list_wrap .list li .product_over .soldout {top:56%;margin:0;}
.best_brand_wrap .product_list_wrap .list li .product_over .login_txt {top:56%;margin:0;}
.best_brand_wrap .product_list_wrap .list li .product_over .over_btn_area {bottom:6px;}
.best_brand_wrap .ctab {display:none;}
.best_brand_wrap .ctab.on {display:block;}
.best_brand_wrap .best_brand_wtop {position:relative;border:solid 1px #bfbfbf;padding-left:20px;}/* 17.06.08 추가 */
/* 2차 카테고리 별 베스트 */
.best_brand_wrap.cate2 {position:relative;clear:none;padding-top:0;width:740px;float:right;}
.best_brand_wrap.cate2 h4 {font-size:16px;font-weight:bold;padding:5px 0 9px;border-bottom:2px solid #676767;letter-spacing:-1px;}/* 17.06.08 수정 */
.best_brand_wrap.cate2 .best_tab2 {overflow:hidden;position:static;padding:11px 0 13px;}/* 17.06.08 수정 */
.best_brand_wrap.cate2 .best_tab2 li:first-child {padding-left:3px;}
.best_brand_wrap.cate2 .best_tab2 li:after {display:inline-block;content:'';border-right:1px solid #e4e4e4;height:10px;padding-left:5px;}
.best_brand_wrap.cate2 .best_tab2 li:last-child:after {border-right:0;}
.best_brand_wrap.cate2 .best_tab2 li {float:left;}
.best_brand_wrap.cate2 .best_tab2 li a {display:inline-block;font-size:12px;color:#4c4c4c;letter-spacing:-1px;height:20px;line-height:19px;padding:0 5px;}
.best_brand_wrap.cate2 .best_tab2 li.on a {background:#e53433;color:#fff;}
.best_brand_wrap.cate2 .best_tab2 li.on:after {border-right:0;}
.best_brand_wrap.cate2 .product_list_wrap .product_list {border-top:1px solid #bfbfbf;width:auto;}
.best_brand_wrap.cate2 .product_list_wrap {border-top:0;margin-left:2px;}/* 17.06.08 수정 */
.best_brand_wrap.cate2 .product_list_wrap .list {background:url(../img/sub/bg_2depth_prd_list.jpg) no-repeat left top;}/* 17.06.08 추가 */
.best_brand_wrap.cate2 .product_list_wrap.ctab .list > li {width:25%;height:326px;}/* 17.10.23 수정 */
.best_brand_wrap.cate2 .product_list_wrap .list>li .product_off .txt {margin:0 10px;}
/* [e] 2017-04-05 Category 레이아웃 리뉴얼 */

/* 17.10.19 마우스돋보기 기능 팝업 s */
.product_list_wrap .detail_view {}
.detail_view .popup_layer.productModuleNew {position: fixed !important;top:50% !important;left:50% !important;width: 638px;padding: 30px;margin-top:-350px; margin-left:-300px; border: 1px solid #666; font-family:"Microsoft YaHei"; display:none; z-index:999;}
.detail_view .popup_layer.productModuleNew .prtit_wrap {padding-bottom: 12px; border-bottom:1px solid #c6c6c6;}
.detail_view .popup_layer.productModuleNew .prtit_wrap h3 {padding: 0 145px 15px 0; width:100%; font-size:14px; font-weight:bold;}
.detail_view .popup_layer.productModuleNew .prtit_wrap h3 span {display:block; font-size:14px;}
.detail_view .popup_layer.productModuleNew .prtit_wrap h3 .desc {padding-top:0; line-height:19px; font-weight:normal;display:block;width:638px;}/* 2017-11-22 수정 */
.detail_view .popup_layer.productModuleNew .prtit_wrap p.number {padding-top:0;}
.detail_view .popup_layer.productModuleNew .prtit_wrap ul.store {overflow: hidden;bottom: 15px;width: auto; border: 0;position: absolute; right:0;}
.detail_view .popup_layer.productModuleNew .prtit_wrap ul.store li { float: left;margin-left: 10px}
.detail_view .popup_layer.productModuleNew .prtit_wrap ul.store li:first-child { margin-left: 0}
.detail_view .popup_layer.productModuleNew .prtit_wrap ul.store li a {display: block;width: 60px;height: 24px;margin: 0 auto;padding-left: 8px;border: 1px solid #e0e0e0;background: url('../img/common/ico_arrow.png') no-repeat 37px 7px;font-size: 11px;line-height: 22px;color: #666;}
.detail_view .popup_layer.productModuleNew .pr_wrap { padding-top: 29px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .img { width: 230px;margin-left: 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .img .productimg {width: 230px; padding-bottom:18px;} /*17.11.20 수정 */
.detail_view .popup_layer.productModuleNew .pr_wrap .img .productimg img {max-height: 230px;} /*17.11.20 수정 */
.detail_view .popup_layer.productModuleNew .pr_wrap .img .productimg_thum {width: 230px; margin-bottom: 0; padding-bottom:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .img .zoom_txt {font-size:11px; letter-spacing:-1px; color:#666;}
.detail_view .popup_layer.productModuleNew .pr_wrap .img .zoom_txt img {margin-right:3px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .img .zoom {top: -1px;width: 310px;height: 310px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt {position: relative; width:310px; padding-right: 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt div {padding-top:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt div.h90 {height:90px;} /*17.11.20 추가*/
.detail_view .popup_layer.productModuleNew .pr_wrap .txt div:nth-child(2) {border-bottom:0; margin-bottom:83px;} /*17.11.20 수정*/
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl dt {width: 142px; font-size: 12px; font-family:'Simsun';}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl dd {width: 168px; font-size: 14px; font-family:'Verdana'; margin-top:-5px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl dd span {font-size: 12px; font-family:'Microsoft YaHei'; color:#666; font-weight:normal;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.sale {padding-bottom:15px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.sale dd {margin-top:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.regular {padding-bottom:11px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.regular dd em {padding-right: 5px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.regular dd span.country-cost {display:block; margin-top:6px; color:#e53433;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.normal {padding: 0 0 9px 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.member {padding-bottom: 15px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.member dd em {padding-right: 7px;font-size: 32px; font-family: 'Times New Roman'; font-weight:bold;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.member dd span.pd-country-cost {padding-top: 4px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.money {padding: 15px 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.ea {padding: 20px 0 32px 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.ea dd div input.input {padding: 6px 8px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .tool_tip_box {vertical-align: top; border-bottom: 0; padding-top:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .tool_tip_box a {color:#333; font-size:14px; margin-top:-1px; background: url('../img/common/icoQuestNew.png') no-repeat 100% 2px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .tool_tip_box .tool_tip {top:21.5px !important;left:-158px;width:300px !important; padding:15px; border:1px solid #000;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .tool_tip_box .tool_tip > p {word-wrap: break-word; padding:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .tool_tip_box .tool_tip .ic {margin-left:248px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.r_sale dd {margin-top:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.r_sale dd div:nth-child(2) {}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.r_sale {padding: 15px 0; border-bottom: 1px solid #f0f0f0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.count {padding: 20px 0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.count dd {margin-top:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.count dd div {padding-top: 7px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt dl.count dd div input {color:#333;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .sold_out {border-top:none; font-family:'Simsun'; position:absolute; bottom:0; margin-bottom:60px; } /*17.11.20 수정*/
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .sold_out > p {font-size:12px; letter-spacing:-1px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .sold_out + .btn_area {width:300px; padding:0;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .btn_area li.ea2 a {height:50px; font-size:14px; line-height:50px;}
.detail_view .popup_layer.productModuleNew .pr_wrap .txt .btn_area li .btn_soldout {height:50px; font-size:14px; line-height:50px;}
.detail_view .popup_layer.productModuleNew a.btn_close {position: absolute; top: 30px; right: 31px;}
/*17.10.19  마우스돋보기 기능 팝업 e */

/*20180625문구수정*/
.detail_view .buy_notice ul.type02 li{letter-spacing:-1px;line-height:20px;word-break:keep-all;background-position:0 10px;}

/*20190219상품평UI수정*/
.detail_view .tab2 .star_point {padding-left:35px;}
.detail_view .table_view_tr.no_post .star_point {padding-bottom:0;}