/* 11번가 */
.promotion_wrap {background: #fff;}
.promotion_wrap .w100p img {width:100%;}
.promotion_wrap .entry_fm {height:188px;padding:25px 15px 0 15px;text-align:center;background:url('../../kr_mo/img/promotion/bg_promotion_top01.png') no-repeat center bottom;background-size:154px auto;}
.promotion_wrap .entry_fm.st11{height:80px;padding:0 15px;}
.promotion_wrap .entry_fm.st11, .promotion_wrap .entry_fm.malltail {background-color:#3f434f;}

.promotion_wrap .tr_btn {position:relative;}
.promotion_wrap .tr_btn a {position:absolute;left:50%;bottom:5%;width:50%;margin-left:-25%;text-align:center;}
.promotion_wrap .entry_fm.lgu {background:#474f66 url('../../kr_mo/img/promotion/bg_promotion_top02.png') no-repeat center bottom;background-size:154px auto;}
.promotion_wrap .entry_fm span.font_s {display:block;font-family:'RixGo B';font-size:12px;color:#dcdcdc;padding-bottom:10px;}
.promotion_wrap .entry_fm span.font_b {display:block;font-family:'RixGo B';font-size:18px;color:#fefefe;line-height:22px;}
.promotion_wrap .entry_fm span.font_b em {color:#fcce23;}
.promotion_wrap .entry_fm.lgu span.font_b em {color:#ff86d6;}
.promotion_wrap .entry_fm .btn_go {padding:20px 0;}
.promotion_wrap .entry_fm .btn_go a {display:block;padding:17px 0;color:#fff;font-family:'RixGo B';font-size:16px;border-radius:5px;}
.promotion_wrap .entry_fm .btn_go a span {padding-right:15px;background:url('../../kr_mo/img/promotion/bl_promotion_arr.png') no-repeat right 4px;background-size:7px auto;}
.promotion_wrap .entry_fm.st11 .btn_go a {background-color:#d81c13;}
.promotion_wrap .entry_fm.kbcard .btn_go a {background-color:#ef9310;}
.promotion_wrap .entry_fm.lgu .btn_go a {background-color:#e20998;}
.promotion_wrap .entry_fm.malltail .btn_go a {background-color:#0195bb;}
.promotion_wrap .entry_fm .entry_num {position:relative;padding-top:20px;background:url('../../kr_mo/img/promotion/bg_promotion_11st_line1.png') repeat-x left top;background-size:7px auto;}
.promotion_wrap .entry_fm .entry_num span {display:block;margin:0 125px 0 0;text-align: left;}
.promotion_wrap .entry_fm .entry_num span input {width:100%;padding:8px 10px;border:0;}
.promotion_wrap .entry_fm .entry_num label {position:absolute;top:20px;right:0;}
.promotion_wrap .entry_fm .entry_num label img {width:95px;}
.promotion_wrap .step_list {padding:0 15px 10px 15px;background:#9e9993 url('../../kr_mo/img/promotion/bg_promotio_11st03.gif') no-repeat center top;background-size:320px auto;}
.promotion_wrap .step_list.lgu {background-color:#82899f;}
.promotion_wrap .step_list.tr {background-color:#f2f5ea;}
.promotion_wrap .step_list p {padding-bottom:10px;font-family:'RixGo B';color:#fff;font-size:14px;text-align:center;}
.promotion_wrap .step_list.tr p {padding:20px 0 10px 0;color:#e3ac37;font-size:18px;}
.promotion_wrap .step_list img {width:226px;}
.promotion_wrap .step_list li {padding:1px 0;background:url('../../kr_mo/img/promotion/bg_promotion_11st_line2.png') repeat-x left bottom;background-size:5px auto;}
.promotion_wrap .step_list.tr li {padding:1px 0;background:url('../../kr_mo/img/promotion/bg_promotion_11st_line3.png') repeat-x left bottom;background-size:5px auto;}
.promotion_wrap .step_list li:last-child {background:none;}
.promotion_wrap .info {width:320px;}
.promotion_wrap p.tr_btn a.link1 {position:absolute;right:36%;top: 13%;width:40%;height:11%;margin-left:0;}
.promotion_wrap p.tr_btn a.link2 {position:absolute;right:20%;top: 44%;width:40%;height:11%;margin-left:0;text-align:center;}
.promotion_wrap p.tr_btn a.link3 {position:absolute;right:20%;bottom: 15%;width:40%;height:11%;margin-left:0;text-align:center;}

.promotion_wrap p.btn_fs1, .promotion_wrap p.btn_fs2{position:relative;}
.promotion_wrap p.btn_fs1 a.link1 {position:absolute;left: 25%;bottom: 30%;width: 48%;}
.promotion_wrap p.btn_fs2 a.link2 {position:absolute;left: 8%;top: 9%;width: 28%;}
.promotion_wrap .st11_01{position:relative}
.promotion_wrap .st11_01 a.link1{position:absolute;left: 5%;bottom: 5%;width: 90%;height: 28%;}



/*유학생혜택*/
.newwin{position:relative; *zoom:1; }
.pop_header{position:fixed;top:0;background-color:#fff;width:100%;border-top:3px solid #e53433;}
.pop_event_photo.pop_event {margin:0 auto;width:100%;}
.pop_event_photo.pop_event ul li{font-size:12px;color:#666666;list-style:none;line-height:20px;}
.pop_event_photo.pop_event ul li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../kr_mo/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.popup_wrap .pop_event_photo .ml13{margin-left: 13px;}
.pop_event_photo h1 {padding:20px 30px; border-bottom:2px solid #444444;font-weight:bold; font-size:16px; line-height:18px; color:#333333;; }
.popup_wrap .pop_event_photo .pop_inner{padding:50px 30px 30px 30px;}
.pop_event_photo h2 {margin:30px 0 10px 0;font-weight:bold;font-size:14px;color:#333333;}
.popup_wrap .pop_event_photo .newwin .terms {margin:0 0 10px 0;padding:0;border: 1px solid #bfbfbf;}
.popup_wrap .pop_event_photo .pop_table th{text-align: left;font-weight:normal;font-size:12px;color:#666666;line-height:18px;}
.popup_wrap .pop_event_photo .pop_table td{padding:2px 0;}
.popup_wrap .pop_event_photo .input_pop{height:24px;border:1px solid #d3d3d3;}
.popup_wrap .pop_event_photo a.btn_gray_sch{background-color: #979797;font-weight: bold;font-size:12px;color: #ffffff;padding: 9px 16px;vertical-align: middle;margin-left: 2px;line-height: 28px;}
.popup_wrap .pop_event_photo .btn_area {padding-top:30px;text-align:center;border-bottom:0 none}
.popup_wrap .pop_event_photo .btn_area a {display:inline-block;width:40%;text-align:center;font-size:12px;color:#fff;}
.popup_wrap .pop_event_photo .btn_area a.btn_red {background:#ef3f3b;}
.popup_wrap .pop_event_photo .btn_area a.btn_brown {background:#555;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box {margin:0 0 30px 0;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box .file {margin:0 0 7px 0;padding:10px 10px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background:#f7f7f7;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box input[type=file] {margin:0 0 10px 0;width:100%;border:1px solid #d3d3d3;background:#fff;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../kr_mo/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box label {display:block;background:red}
.ex_popup_btn{ position:absolute; top:21px; right:21px; }
.photo_box .file_input_textbox {float:left;width:208px;height:26px;padding-left:7px;font-size:12px;border: 1px solid #d3d3d3;}
.photo_box .file_input_div {width: 80px;height:36px;overflow:hidden;}
.photo_box .file_input_img_btn {padding:0 0 0 5px;}
.photo_box .file_input_hidden {font-size:29px;position:absolute;right:0px;top: 290px;opacity:0;filter: alpha(opacity=0);-ms-filter: alpha(opacity=0);cursor:pointer;}
.cont input[type="checkbox"]{border:1px solid #ccc;width:15px;height:15px;-webkit-appearance: checkbox;box-sizing: border-box;}

.promotion_wrap p.btn_kbcash{position:relative;}
.promotion_wrap p.btn_kbcash a.link1 {position:absolute;left: 5%;bottom: 2%;width: 90%;}

/*1억원을쏜다*/
.hundred_tab {border:none;margin-top:15px;padding:0;border-bottom:none;}
.hundred_tab > .hun_tab {border:none;width:100%;}
.hundred_tab > .hun_tab li {width:50%;display:block;float:left;}
.hundred_tab > .hun_tab li a {display:block;text-align:center;background-color:#453b32;font-weight:bold;font-size: 12px;color:#fff;letter-spacing:-2px;padding: 7px 0;}
.hundred_tab > .hun_tab li:first-child {width:50%;height: 60px;}
.hundred_tab > .hun_tab li:first-child a {border-left:0;}
.hundred_tab > .hun_tab li a.on{position: relative;background-color:#e73130;}
.hundred_tab > .hun_tab li a.on em{position: absolute;left: 0;bottom: -17px;display: block;background: url('../../kr_mo/img/promotion/event_tab_on.png') center 0 no-repeat;width: 100%;height: 17px;background-size: 10px 8px;}
.hundred_tab .event_view{margin-top:0;}

/*티켓몬스터*/
.promotion_wrap .entry_fm01.tmon {background-color:#ee4d31;height:75px;}


/*익스디피아*/
.promotion_wrap .entry_ex {padding:25px 15px;text-align:center;background:url('../../kr_mo/img/promotion/bg_promotion_top03.png') no-repeat center bottom #00355f;background-size:154px auto;}
.promotion_wrap .entry_ex .expedia_cp {padding-bottom:12px;}
.promotion_wrap .step_list.expedia {background-color:#002542;padding: 0 15px 35px 15px;}
.promotion_wrap .step_list.expedia li:last-child {padding: 1px 0;background: url('../../kr_mo/img/promotion/bg_promotion_11st_line2.png') repeat-x left bottom;background-size: 5px auto;}

/*용산점방문고객인증번호 적립금*/
.promotion_wrap .entry_vi {position: relative;background: url('../../kr_mo/img/promotion/event_visit_bg.jpg') no-repeat 0 bottom;padding:0 15px 30px 15px;background-size:100%;}
.promotion_wrap .entry_vi .entry_num span {display:block;margin:0 125px 0 0;text-align: left;}
.promotion_wrap .entry_vi .entry_num span input {width:100%;padding: 6px 10px;border: 2px solid #444444;}
.promotion_wrap .entry_vi .entry_num label {position:absolute;bottom:30px;right: 15px;}
.promotion_wrap .entry_vi .entry_num label img {width:95px;}

/*국민카드적립금 이벤트 */
.p_rev {position:relative;}
.sj_btn_wrap {padding-left:4.5%; padding-right:4.5%; background-color:#ffd42a;}
.sj_kb_img01 {text-align:center; margin-bottom:20px;}
.sj_kb_img01 img {width:237px !important; height:61px !important;}
.sj_info {padding:15px 12px 15px 12px; background:#f7f7f7; border:1px solid #bebebe;}
.sj_info h3 img {width:46px !important; height:10px !important;}
.sj_info ul {padding:8px 0 0 0;}
.sj_info ul li {color:#737373; line-height:17px; padding-bottom:5px; font-size:12px; background:url(../../kr_mo/img/promotion/mo_notice_bul.png) 0 6px no-repeat; background-size:5px 8px; padding-left:5px; letter-spacing:-0.5px;}
.sj_info ul li:last-child {padding-bottom:0px;}
.promotion_wrap .sj_btn_go {padding:10px 0 15px 0; text-align:center; display:block;}
.promotion_wrap .sj_btn_go a {display:block;padding:9px 0;color:#fff;font-family:'RixGo B';font-size:12px;border-radius:5px;}
.promotion_wrap .sj_btn_go a span {padding-right:15px;background:url('../../kr_mo/img/promotion/bl_promotion_arr.png') no-repeat right center;background-size:7px auto;}
.promotion_wrap .sj_btn_go a {background-color:#ee4d31;}
.promotion_wrap .entry_fm01.kbcard {background-color:#4f463f; height:80px;}

/*무이자할부혜택*/
.promotion_wrap .free_link{position:relative;}
.promotion_wrap .free_link a{display:inline-block;width:50%;position:absolute;font-size:0;height: 100%;cursor: pointer;}
.promotion_wrap .free_link a.link01{top:0;left:0;}
.promotion_wrap .free_link a.link02{top:0;left:50%;}
.promotion_wrap .card_open{display:none;margin-top:-17.5%;}

/*tr종사자 팝업*/
.pop_event_photo .photo_box.tr .file_input_hidden {font-size:29px; position:absolute; right:0px; top:100px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}

/*몰테일*/
.promotion_wrap .mall_link{position:relative;}
.promotion_wrap .mall_link a{display:inline-block;width: 55%;position:absolute;font-size:0;height: 15%;cursor: pointer;}
.promotion_wrap .mall_link a.link01{top: 25%;right: 0;}
.promotion_wrap .mall_link a.link02{top: 50%;right: 0;}
.promotion_wrap .mall_link a.link03{top: 80%;right: 0;}

.promotion_wrap .entry_mall .entry_num{position:relative;top:0;left:0;padding: 10px 10px 25px 10px;background-color: #3f434f;}
.promotion_wrap .entry_mall .entry_num span {display:block;margin: 0 124px 0 0;text-align: left;}
.promotion_wrap .entry_mall .entry_num span input {width:100%;padding:8px 10px;border:0;}
.promotion_wrap .entry_mall .entry_num label {position:absolute;bottom: 40%;right: 2%;}
.promotion_wrap .entry_mall .entry_num label img {width:95px;}


/**/
.promotion_wrap .entry_fm01 .entry_num {position:relative;padding:20px 15px;}
.promotion_wrap .entry_fm01 .entry_num span {display:block;margin:0 125px 0 0;text-align: left;}
.promotion_wrap .entry_fm01 .entry_num span input {width:100%;padding:8px 10px;border:0;}
.promotion_wrap .entry_fm01 .entry_num label {position:absolute;top:20px;right:15px;}
.promotion_wrap .entry_fm01 .entry_num label img {width:95px;}
.promotion_wrap .entry_fm01.lgu {background-color:#474f66;}
.promotion_wrap .entry_fm01.hyundai {background-color:#009f8b;}
.promotion_wrap .entry_fm01.tr {background-color:#015794;}
.promotion_wrap .entry_fm01.shinhan {background-color:#26649e;}

/*여행사 3종 적립금 이벤트*/
.promotion_wrap .tour_btn{position:relative;}
.promotion_wrap .tour_btn a.link1{position:absolute;left: 5%;bottom: 2%;width: 40%;height: 22%;}
.promotion_wrap .tour_btn a.link2{position:absolute;right: 5%;bottom: 2%;width: 40%;height: 22%;}

/*vip 적립금*/
.entry_numvip{background:url('../../kr_mo/img/promotion/event_vip02_bg.jpg') no-repeat; height:73px;}
.entry_numvip span {display:block;margin:0 124px 0 0;text-align: left;}
.entry_numvip span input {width:90%; padding:6px 0px;border:0; margin-top:20px; margin-left:25px;}
.entry_numvip label {position:absolute;top:19px;right: 8%;}
.entry_num label img {width:95px;}
.vip{position:relative;} 
a.vip_btn{position:absolute;left:50%; margin-left:-48px; top:10px;}
a.vip_btn img{width:50%;}

/*event_sns*/
.promotion_wrap .event_sns {overflow:hidden;;padding:60px 0 10px 0;text-align: center;margin:0 auto;background:#f1edea url('../../kr_mo/img/promotion/event_sns.jpg') no-repeat center 0;}
.promotion_wrap .event_sns .iframe_area {float:left;width:250px;}
.promotion_wrap .event_sns .ico_sms {float:left;width:24px;}

/*모바일웹전용적립금*/
.promotion_wrap .ctrip_btn2 {position:relative;}
.promotion_wrap .ctrip_btn2 a.link2 {position:absolute;left: 20%;bottom: 11%;width: 60%;}

/*데일리적립금*/
.promotion_wrap .op_btn {position:relative;}
.promotion_wrap .op_btn a.link1 {position:absolute;left: 22%;bottom: 11%;width: 56%;height: 9%;}