/* html 전용(추후 삭제) */
.footer_nav .layer_msg {display:none !important;}


/* curation_(rian) */
.curation_wrap ul p img {width:100%;}
.curation_wrap .txt_list {margin-bottom:10px;padding-bottom:10px;border-bottom:2px solid #000;}
.curation_wrap .txt_list li img {display:block;width:100%;max-width:320px;}
.curation_wrap .tip img, .curation_wrap .top_img img {width:100%;}
.curation_wrap .img_link {position:relative;width:device-width;}
.curation_wrap .img_link img {display:block;}
.curation_wrap .img_link.mens .link1 {position:absolute;top:24%;right:0;width:51%;height:29%;}
.curation_wrap .img_link.mens .link2 {position:absolute;top:37%;left:0;width:45%;height:40%;}
.curation_wrap .img_link.mens .link3 {position:absolute;bottom:3%;right:0;width:42%;height:38%;}
.curation_wrap .img_link.mens .link4 {position:absolute;top:12%;left:0;width:34%;height:84%;}
.curation_wrap .img_link.mens .link5 {position:absolute;top:12%;left:34%;width:29%;height:84%;}
.curation_wrap .img_link.mens .link6 {position:absolute;top:12%;right:0;width:36%;height:84%;}
.curation_wrap .img_link.mens .link7 {position:absolute;top:12%;left:0;width:67%;height:24%;}
.curation_wrap .img_link.mens .link8 {position:absolute;top:36%;right:0;width:57%;height:39%;}
.curation_wrap .img_link.mens .link9 {position:absolute;top:51%;left:0;width:40%;height:48%;}
.curation_wrap .img_link.mens .link10 {position:absolute;top:26%;left:0;width:61%;height:29%;}
.curation_wrap .img_link.mens .link11 {position:absolute;top:59%;left:0;width:49%;height:39%;}
.curation_wrap .img_link.mens .link12 {position:absolute;top:43%;right:0;width:38%;height:54%;}
.curation_wrap .img_link.mens .link13 {position:absolute;top:15%;left:0;width:100%;height:33%;}
.curation_wrap .img_link.mens .link14 {position:absolute;bottom:0;left:0;width:49%;height:46%;}
.curation_wrap .img_link.mens .link15 {position:absolute;bottom:0;right:0;width:39%;height:47%;}
.curation_wrap .img_link.mens .link16 {position:absolute;top:12%;left:0;width:31%;height:87%;}
.curation_wrap .img_link.mens .link17 {position:absolute;top:12%;left:35%;width:26%;height:87%;}
.curation_wrap .img_link.mens .link18 {position:absolute;top:12%;right:0;width:34%;height:87%;}
.curation_wrap .img_link.mens .link19 {position:absolute;top:22%;right:0;width:63%;height:33%;}
.curation_wrap .img_link.mens .link20 {position:absolute;top:30%;left:0;width:32%;height:69%;}
.curation_wrap .img_link.mens .link21 {position:absolute;bottom:0;right:0;width:66%;height:44%;}
.curation_wrap .img_link.mens .link22 {position:absolute;top:16%;left:0;width:100%;height:24%;}
.curation_wrap .img_link.mens .link23 {position:absolute;bottom:0;left:0;width:49%;height:59%;}
.curation_wrap .img_link.mens .link24 {position:absolute;bottom:0;right:0;width:50%;height:59%;}
.curation_wrap .img_link.duo .link1 {position:absolute;top:2%;left:0;width:77%;height:40%;}
.curation_wrap .img_link.duo .link2 {position:absolute;top:42%;right:0;width:100%;height:26%;}
.curation_wrap .img_link.duo .link3 {position:absolute;bottom:2%;left:0;width:47%;height:28%;}
.curation_wrap .img_link.duo .link4 {position:absolute;bottom:2%;right:0;width:52%;height:29%;}
.curation_wrap .img_link.duo .link5 {position:absolute;top:0;left:0;width:100%;height:31%;}
.curation_wrap .img_link.duo .link6 {position:absolute;top:31%;right:0;width:51%;height:35%;}
.curation_wrap .img_link.duo .link7 {position:absolute;bottom:8%;left:0;width:43%;height:38%;}
.curation_wrap .img_link.duo .link8 {position:absolute;bottom:2%;right:0;width:56%;height:31%;}
.curation_wrap .img_link.duo .link9 {position:absolute;top:2%;left:0;width:54%;height:25%;}
.curation_wrap .img_link.duo .link10 {position:absolute;top:27%;left:0;width:47%;height:38%;}
.curation_wrap .img_link.duo .link11 {position:absolute;top:46%;right:0;width:52%;height:32%;}
.curation_wrap .img_link.duo .link12 {position:absolute;bottom:0;left:0;width:47%;height:32%;}
.curation_wrap .img_link.duo .link13 {position:absolute;top:2%;left:0;width:62%;height:32%;}
.curation_wrap .img_link.duo .link14 {position:absolute;top:8%;right:0;width:37%;height:42%;}
.curation_wrap .img_link.duo .link15 {position:absolute;top:50%;right:0;width:69%;height:20%;}
.curation_wrap .img_link.duo .link16 {position:absolute;bottom:0;left:0;width:39%;height:29%;}
.curation_wrap .img_link.duo .link17 {position:absolute;bottom:0;right:0;width:60%;height:29%;}
.curation_wrap .img_link.sunglass .link1 {position:absolute;top:0;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link2 {position:absolute;top:20%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link3 {position:absolute;top:39%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link4 {position:absolute;top:0;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link5 {position:absolute;top:20%;left:0;width:100%;height:17%;}
.curation_wrap .img_link.sunglass .link6 {position:absolute;top:38%;left:0;width:100%;height:16%;}
.curation_wrap .img_link.sunglass .link7 {position:absolute;top:0;left:0;width:100%;height:20%;}
.curation_wrap .img_link.sunglass .link8 {position:absolute;top:20%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link9 {position:absolute;top:39%;left:0;width:100%;height:17%;}
.curation_wrap .img_link.sunglass .link10 {position:absolute;top:0;left:0;width:100%;height:20%;}
.curation_wrap .img_link.sunglass .link11 {position:absolute;top:20%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link12 {position:absolute;top:39%;left:0;width:100%;height:17%;}
.curation_wrap .img_link.sunglass .link13 {position:absolute;top:0;left:0;width:100%;height:20%;}
.curation_wrap .img_link.sunglass .link14 {position:absolute;top:21%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link15 {position:absolute;top:41%;left:0;width:100%;height:17%;}
.curation_wrap .img_link.sunglass .link16 {position:absolute;top:0;left:0;width:100%;height:20%;}
.curation_wrap .img_link.sunglass .link17 {position:absolute;top:21%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.sunglass .link18 {position:absolute;top:41%;left:0;width:100%;height:20%;}
.curation_wrap .img_link.watch .link1 {position:absolute;top:26%;left:0;width:45%;height:47%;}
.curation_wrap .img_link.watch .link2 {position:absolute;top:26%;right:0;width:53%;height:45%;}
.curation_wrap .img_link.watch .link3 {position:absolute;bottom:0;right:0;width:100%;height:26%;}
.curation_wrap .img_link.watch .link4 {position:absolute;top:26%;left:0;width:42%;height:65%;}
.curation_wrap .img_link.watch .link5 {position:absolute;top:26%;right:0;width:56%;height:35%;}
.curation_wrap .img_link.watch .link6 {position:absolute;bottom:5%;right:0;width:56%;height:33%;}
.curation_wrap .img_link.watch .link7 {position:absolute;top:26%;left:0;width:37%;height:40%;}
.curation_wrap .img_link.watch .link8 {position:absolute;top:21%;right:0;width:52%;height:42%;}
.curation_wrap .img_link.watch .link9 {position:absolute;bottom:2%;right:0;width:62%;height:33%;}
.curation_wrap .img_link.watch .link10 {position:absolute;top:26%;left:0;width:67%;height:37%;}
.curation_wrap .img_link.watch .link11 {position:absolute;bottom:2%;left:0;width:59%;height:33%;}
.curation_wrap .img_link.watch .link12 {position:absolute;top:32%;right:0;width:32%;height:65%;}
.curation_wrap .img_link.cleansing .link1 {position:absolute;top:17%;left:0;width:100%;height:33%;}
.curation_wrap .img_link.cleansing .link2 {position:absolute;top:50%;left:0;width:100%;height:18%;}
.curation_wrap .img_link.cleansing .link3 {position:absolute;bottom:0;left:0;width:100%;height:31%;}
.curation_wrap .img_link.cleansing .link4 {position:absolute;top:12%;left:0;width:100%;height:32%;}
.curation_wrap .img_link.cleansing .link5 {position:absolute;top:44%;left:0;width:100%;height:24%;}
.curation_wrap .img_link.cleansing .link6 {position:absolute;bottom:0;left:0;width:100%;height:31%;}
.curation_wrap .img_link.cleansing .link7 {position:absolute;top:12%;left:0;width:100%;height:27%;}
.curation_wrap .img_link.cleansing .link8 {position:absolute;top:41%;left:0;width:100%;height:25%;}
.curation_wrap .img_link.cleansing .link9 {position:absolute;bottom:0;left:0;width:100%;height:33%;}
.curation_wrap .img_link.cleansing .link10 {position:absolute;top:12%;left:0;width:100%;height:27%;}
.curation_wrap .img_link.cleansing .link11 {position:absolute;top:39%;left:0;width:100%;height:35%;}
.curation_wrap .img_link.cleansing .link12 {position:absolute;bottom:0;left:0;width:100%;height:25%;}
.curation_wrap .img_link.cleansing .link13 {position:absolute;top:12%;left:0;width:100%;height:28%;}
.curation_wrap .img_link.cleansing .link14 {position:absolute;top:40%;left:0;width:100%;height:26%;}
.curation_wrap .img_link.cleansing .link15 {position:absolute;bottom:0;left:0;width:100%;height:33%;}
.curation_wrap .img_link.lovelycouple .link1 {position:absolute;top:18%;left:0;width:63%;height:28%;}
.curation_wrap .img_link.lovelycouple .link2 {position:absolute;top:46%;right:0;width:75%;height:20%;}
.curation_wrap .img_link.lovelycouple .link3 {position:absolute;bottom:5%;left:0;width:100%;height:28%;}
.curation_wrap .img_link.lovelycouple .link4 {position:absolute;top:6%;right:0;width:42%;height:47%;}
.curation_wrap .img_link.lovelycouple .link5 {position:absolute;top:32%;left:0;width:57%;height:29%;}
.curation_wrap .img_link.lovelycouple .link6 {position:absolute;bottom:3%;left:11%;width:81%;height:35%;}
.curation_wrap .img_link.lovelycouple .link7 {position:absolute;top:0;left:0;width:61%;height:41%;}
.curation_wrap .img_link.lovelycouple .link8 {position:absolute;top:41%;right:0;width:81%;height:25%;}
.curation_wrap .img_link.lovelycouple .link9 {position:absolute;bottom:2%;left:0;width:100%;height:31%;}
.curation_wrap .img_link.lovelycouple .link10 {position:absolute;top:27%;right:0;width:39%;height:31%;}
.curation_wrap .img_link.lovelycouple .link11 {position:absolute;top:42%;left:0;width:53%;height:32%;}
.curation_wrap .img_link.lovelycouple .link12 {position:absolute;bottom:8%;right:0;width:46%;height:31%;}
.curation_wrap .img_link.lovelycouple .link13 {position:absolute;top:0;left:0;width:50%;height:60%;}
.curation_wrap .img_link.lovelycouple .link14 {position:absolute;bottom:0;left:0;width:59%;height:39%;}
.curation_wrap .img_link.lovelycouple .link15 {position:absolute;bottom:0;right:0;width:40%;height:42%;}
.curation_wrap .img_link.lovelycouple .link16 {position:absolute;top:7%;right:0;width:40%;height:47%;}
.curation_wrap .img_link.lovelycouple .link17 {position:absolute;top:37%;left:0;width:55%;height:35%;}
.curation_wrap .img_link.lovelycouple .link18 {position:absolute;bottom:6%;right:0;width:44%;height:35%;}
.curation_wrap .img_link.shilladfs .link1 {position:absolute;top:39%;left:20%;width:30%;height:5%;}
.curation_wrap .img_link.shilladfs .link2 {position:absolute;top:39%;left:51%;width:28%;height:5%;}
.curation_wrap .img_link.shilladfs .link3 {position:absolute;top:12%;right:0;width:40%;height:19%;}
.curation_wrap .img_link.shilladfs .link4 {position:absolute;top:29%;left:0;width:40%;height:19%;}
.curation_wrap .img_link.shilladfs .link5 {position:absolute;top:47%;right:0;width:40%;height:19%;}
.curation_wrap .img_link.shilladfs .link6 {position:absolute;bottom:16%;left:0;width:40%;height:19%;}
.curation_wrap .img_link.shilladfs .link7 {position:absolute;bottom:9%;left:30%;width:39%;height:4%;}
