@charset "utf-8";

.main .top_search .search {position:relative;padding:0 33px 0 5px;height:28px;border:solid 1px #e53433;}

/* 메인 bar bg */
.main_warp {width:100%;height:100%;background:#e6e4e5;}

.section_visual {position:relative;}
.section_visual .ix-list-viewport {overflow:hidden;}
.section_visual .ix-list-items li {float:left;width:100%;}
.section_visual .ix-list-items li img {width:100%;}
.section_visual .paging {position:absolute;bottom:0;right:27px;height:30px;padding:8px 0 0 8px;text-align:center;background:#000;opacity:0.6;color:#fff;font-size:13px;font-family:'Helvetica', sans-serif;box-sizing:border-box;}
.section_visual .paging .current {margin-right:2px;opacity:1;}
.section_visual .paging .total,
.section_visual .paging .current {display:inline-block;font-size:12px;font-weight:bold;}
.section_visual .paging .total {margin-left:2px;}
.section_visual .paging .total,
.section_visual .paging .line {opacity:0.6;}
.section_visual .open-popup{display:block;position:absolute;right:0;bottom:0;width:27px;height:30px;text-indent:-9999px;background:#000;opacity:0.6;z-index:98;}
.section_visual .open-popup:after {display:block;content:'';position: absolute;right:8px;top:9px;width:11px;height:11px;background:url(../img/common/ico_plus3.png) no-repeat center center;background-size:11px 11px;z-index:100;}

.popup_main {overflow-y:auto !important;width:100%;}
.popup_main .tit {position:fixed;top:0;width:100%;height:45px;line-height:1;text-align:center;font-size:16px;color:#fff;z-index:2;box-sizing:border-box;padding:15px 0;}
.popup_main .shadow {position:fixed;width:100%;height:45px;background:#000;opacity:0.7;z-index:1;}
.popup_main .cont {height:100%;position:relative;top:45px;}
.popup_main .cont .list li a img {width:100%;}
.popup_main .cont .list li {border-bottom:1px solid #333;}
.popup_main .btn_close {position:fixed;right:21px;top:11px;color:#fff;width:23px;height:23px;z-index:2;}
.popup_main .btn_close img {width:100%;}

#layer-pass-info .cont {height:100%;overflow:auto;-webkit-overflow-scrolling:touch;}
#layer-pass-info .cont .list {position:relative;margin-bottom:45px;}

.slide_test {position:relative;}
.slide_test .ix-list-viewport {overflow:hidden;}
.slide_test .ix-list-items {position:relative;left:0;top:0;height:100%;}
.slide_test li {float:left;}
.slide_test li img {width:100%;}

.section_tie_banner {padding-top:4px;background:#fff;}
.section_tie_banner a {display:block;}
.section_tie_banner img {width:100%;}

.section_menu {padding:6px 8px 15px;background:#fff;}
.section_menu:after {display:block;clear:both;content:'';}
.section_menu li {float:left;width:20%;padding:0 4px;text-align:center;box-sizing:border-box;}
.section_menu li a {display:block;}
.section_menu li img {width:100%;}

.section_issue {position:relative;margin-top:1px;padding:10px 10px 10px 87px;border-bottom:1px solid #ccc;background:#fff;}
.section_issue:after {display:block;clear:both;content:'';}
.section_issue .title {position:absolute;top:10px;left:10px;display:block;width:66px;height:16px;}
.section_issue .title img {width:100%;}
.section_issue .key_word {}
.section_issue .key_word .ix-list-viewport {overflow:hidden;height:16px;}
.section_issue .key_word li {}
.section_issue .key_word a {display:block;overflow:hidden;color:#333;line-height:16px;letter-spacing:-0.5px;white-space:nowrap;text-overflow:ellipsis;}

.section_spot_sale {margin-top:5px;padding-top:12px;background:#fff;border-bottom:1px solid #ccc;}
.section_spot_sale h2 {font-size:17px;font-weight:bold;color:#333;text-align:center;}
.section_spot_sale h2 span {position:relative;padding-left:24px;}
.section_spot_sale h2 span:before {position:absolute;top:50%;left:0;display:block;width:16px;height:16px;margin-top:-9px;background:url('../img/main/spr-main.png') no-repeat -23px -3px;background-size:250px;content:'';}
.section_spot_sale .list_spot {position:relative;margin-top:10px;}
.section_spot_sale .list_spot:before {position:absolute;top:0;bottom:0;right:0;width:29px;background:url('../img/main/bg_shadow.png') repeat-y left 0;background-size:100%;z-index:1;content:'';}
.section_spot_sale .list_spot:after {display:block;clear:both;content:'';}
.section_spot_sale .list_spot .ix-list-viewport {overflow:hidden;}
.section_spot_sale .list_spot li {float:left;width:40%;}
.section_spot_sale .list_spot li a {}
.section_spot_sale .list_spot li img {width:100%;}

.section_sale {position:relative;margin-top:5px;padding:13px 0 29px;background:#e53433;}
.section_sale h2 {font-size:17px;font-weight:bold;color:#fff;text-align:center;}
.section_sale h2 span {position:relative;padding-left:24px;}
.section_sale h2 span:before {position:absolute;top:50%;left:0;display:block;width:17px;height:17px;margin-top:-9px;background:url('../img/main/spr-main.png') no-repeat -3px -3px;background-size:250px;content:'';}
.section_sale .ix-list-viewport {overflow:hidden;}
.section_sale .sale_list {margin-top:17px;}
.section_sale .sale_list:after {display:block;clear:both;content:'';}
.section_sale .sale_list .ix-list-items li {position:relative;float:left;width:100%;text-align:center;}
.section_sale .sale_list .ix-list-items li a {position:relative;display:block;float:left;width:50%;padding:0 15px 0 25px;box-sizing:border-box;}
.section_sale .sale_list .ix-list-items li a:nth-child(even) {padding:0 25px 0 15px;}
.section_sale .sale_list .ix-list-items li .img {overflow:hidden;border-radius:100%;width:120px;height:120px;margin:0 auto;}
.section_sale .sale_list .ix-list-items li img {width:100%;}
.section_sale .sale_list .ix-list-items li .brand {display:block;margin-top:10px;font-size:15px;font-weight:bold;color:#1a1a1a;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section_sale .sale_list .ix-list-items li .product_name {font-size:12px;color:#fff;display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section_sale .sale_list .ix-list-items li .price {display:block;margin-top:3px;font-size:18px;font-weight:bold;color:#fff;font-family:'Helvetica',sans-serif;}
.section_sale .sale_list .ix-list-items li .price .cost {font-size:15px;font-weight:normal;color:#fff;text-decoration:line-through;}
.section_sale .sale_list .ix-list-items li .discount {position:absolute;top:-2px;left:10px;display:block;width:56px;height:40px;padding-top:5px;background:url('../img/main/spr-main.png') no-repeat -3px -23px;background-size:250px;font-size:10px;color:#fff;text-align:center;}
.section_sale .sale_list .ix-list-items li .discount .num {margin-right:4px;font-size:17px;font-weight:bold;letter-spacing:-2px;font-family:'Helvetica',sans-serif;}
.section_sale .sale_list .ix-list-items li a:nth-child(even) .discount {left:0;}
.section_sale .more_view {position:absolute;top:18px;right:8px;padding-right:8px;font-size:11px;color:#fff;opacity:0.6;}
.section_sale .more_view:before {position:absolute;top:3px;right:0;display:block;width:5px;height:8px;background:url('../img/main/spr-main.png') no-repeat -42px -11px;background-size:250px;content:'';}
.section_sale .ix-thumbs {position:absolute;bottom:17px;left:0;right:0;height:3px;text-align:center;}
.section_sale .ix-thumbs li {display:inline-block;margin:0 2px;text-indent:-999px;}
.section_sale .ix-thumbs li a {display:block;width:10px;height:3px;background:#000;opacity:0.5;}
.section_sale .ix-thumbs li.active a {background:#fff;opacity:1;}

.section_brand {position:relative;padding:12px 0 0px;background:#fff;margin-top:5px;}
.section_brand h2 {font-size:17px;font-weight:bold;color:#333;text-align:center;}
.section_brand .brand_inlist {margin-top:12px;width:100%;overflow:hidden;}
.section_brand .brand_inlist li {float:left;width:50%;box-sizing:border-box;border-bottom:solid 1px #fff;}
.section_brand .brand_inlist li a {display:block;position:relative;}
.section_brand .brand_inlist li:nth-child(even) a:after {display:inline-block;content:'';position:absolute;top:0;left:0;width:1px;height:100%;background:#fff;}

.section_brand .brand_inlist li:nth-of-type(11),
.section_brand .brand_inlist li:nth-of-type(12),
.section_brand .brand_inlist li:nth-of-type(13),
.section_brand .brand_inlist li:nth-of-type(14){display:none;}
.section_brand .brand_inlist li img {width:100%;}
.section_brand .more_list_view {display:none;text-align:center;}
.section_brand .more_list_view span {position:relative;display:inline-block;padding-right:11px;font-size:12px;color:#333;line-height:43px;}
.section_brand .more_list_view span:before {position:absolute;top:50%;right:0;display:block;width:7px;height:4px;margin-top:-2px;background:url('../img/main/spr-main.png') no-repeat -74px -3px;background-size:250px;content:'';}
.section_brand .more_list_view.close span:before {background-position:-83px -3px}

.section_brand .ix-list-viewport {overflow:hidden;}
.section_brand .list_brand {margin-top:15px;}
.section_brand .list_brand:after {display:block;clear:both;content:'';}
.section_brand .list_brand .ix-list-items li {float:left;width:100%;}
.section_brand .list_brand .ix-list-items li a {display:block;float:left;width:50%;padding:0 6px 0 14px;box-sizing:border-box;}
.section_brand .list_brand .ix-list-items li a:nth-child(even) {padding:0 14px 0 6px;}
.section_brand .list_brand .ix-list-items li img {width:100%;}
.section_brand .more_view {position:absolute;top:18px;right:8px;padding-right:8px;font-size:11px;color:#000;opacity:0.6;}
.section_brand .more_view:before {position:absolute;top:3px;right:0;display:block;width:5px;height:8px;background:url('../img/main/spr-main.png') no-repeat -49px -3px;background-size:250px;content:'';}
.section_brand .ix-thumbs {position:absolute;left:0;right:0;bottom:8px;height:3px;text-align:center;}
.section_brand .ix-thumbs li {display:inline-block;margin:0 2px;text-indent:-9999px;}
.section_brand .ix-thumbs li a {display:block;width:10px;height:3px;background:#000;opacity:0.5;}
.section_brand .ix-thumbs li.active a {background:#e53433;opacity:1;}

.section_theme {position:relative;overflow:hidden;margin-top:5px;}
.section_theme .img_box {position:absolute;top:0;left:0;width:100%;}
.section_theme .img_box img {width:100%;height:auto;}
.section_theme .list_theme {position:relative;margin:21.48% 10px 10px;padding-top:17px;}
.section_theme .list_theme:after {display:block;clear:both;content:'';}
.section_theme .list_theme li {float:left;width:50%;margin-top:8px;padding-left:4px;box-sizing:border-box;}
.section_theme .list_theme li:first-child {float:none;width:100%;margin:0;padding:0;}
.section_theme .list_theme li:nth-child(even) {padding:0 4px 0 0;}
.section_theme .list_theme li img {width:100%;}
.section_theme .more_view {position:absolute;top:13.58%;right:8px;padding-right:8px;font-size:11px;color:#333;}
.section_theme .more_view:before {position:absolute;top:3px;right:0;display:block;width:5px;height:8px;background:url('../img/main/spr-main.png') no-repeat -49px -3px;background-size:250px;content:'';}

.section_curation {background:#fff;margin-top:5px;}
.section_curation .curation_list {position:relative;}
.section_curation .curation_list .ix-list-viewport {overflow:hidden;}
.section_curation .curation_list .ix-list-items {}
.section_curation .curation_list .ix-list-item {float:left;}
.section_curation .curation_list .ix-thumbs {position:absolute;bottom:8px;left:0;right:0;height:3px;text-align:center;}
.section_curation .curation_list .ix-thumbs li {display:inline-block;margin:0 2px;text-indent:-9999px;}
.section_curation .curation_list .ix-thumbs li a {display:block;width:10px;height:3px;background:#000;opacity:0.5;}
.section_curation .curation_list .ix-thumbs li.active a {background:#fff;opacity:1;}
.section_curation img {width:100%;}

.section_category {position:relative;background:#697a81 url('../img/main/bg_bestseller.jpg') no-repeat left top;background-size:100%;font-family:'Noto Sans',sans-serif;margin-top:5px;}
.section_category h2 {color:#fff;font-size:16px;font-weight:bold;text-align:center;line-height:48px;padding-top:2px;}
.section_category .list_menu {white-space:nowrap;font-size:0;letter-spacing:0;word-spacing:0;}
.section_category .list_menu:after {display:block;clear:both;content:'';}
.section_category .list_menu li {display:inline-block;padding:6px 7px 2px;background:url('../img/main/bullet_line.jpg') no-repeat right center;background-size:1px;}
.section_category .list_menu li a {display:block;padding:0 4px;font-size:12px;color:#333;line-height:25px;box-sizing:border-box;}
.section_category .list_menu li.active {position:relative;}
.section_category .list_menu li.active a {border-bottom:3px solid #e53433;color:#e53433;font-weight:bold;}

.section_category .cont_wrap {}
.section_category .cont_box .list_category {}
.section_category .cont_box .list_category:after {display:block;clear:both;content:'';}
.section_category .cont_box .list_category li {position:relative;float:left;width:50%;border-top:1px solid #e6e6e6;background:#fff;box-sizing:border-box;}
.section_category .cont_box .list_category li:first-child,
.section_category .cont_box .list_category li:nth-of-type(2) {border-top:none;}
.section_category .cont_box .list_category li a {display:block;padding:15px;}
.section_category .cont_box .list_category li .thumb_img {padding:0;text-align:center;}
.section_category .cont_box .list_category li img {width:110px !important;}
.section_category .cont_box .list_category li .brand {margin-top:6px;font-size:13px;font-weight:bold;color:#1a1a1a;}
.section_category .cont_box .list_category li .product_name {margin-top:3px;font-size:11px;color:#666;}
.section_category .cont_box .list_category li .brand,
.section_category .cont_box .list_category li .product_name {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.section_category .cont_box .list_category li .price {display:table;width:100%;min-height:22px;margin-top:5px;font-family:'Helvetica',sans-serif;}
.section_category .cont_box .list_category li .price .sale {width:2%;padding:0 2px 0 0;font-size:17px;font-weight:bold;color:#e62f2d;}
.section_category .cont_box .list_category li .price span {display:table-cell;padding-bottom:3px;font-size:13px;font-weight:normal;color:#666;vertical-align:bottom;}
.section_category .cont_box .list_category li .price .cost{text-decoration:line-through;}
.section_category .cont_box .list_category li .label {position:absolute;top:5px;left:5px;width:24px;height:24px;padding-top:2px;background:#e62f2d;font-size:16px;font-weight:bold;color:#fff;text-align:center;box-sizing:border-box;font-family:'Helvetica',sans-serif;line-height:21px;}
.section_category .cont_box .more_view {display:block;background:#626266;font-size:12px;color:#fff;line-height:40px;text-align:center;}
.section_category .cont_box .more_view span {position:relative;display:inline-block;padding-right:11px;}
.section_category .cont_box .more_view span:before {position:absolute;top:50%;right:0;display:block;width:7px;height:4px;margin-top:-2px;background:url('../img/main/spr-main.png') no-repeat -56px -3px;background-size:250px;content:'';}
.section_category .cont_box .more_view.close span:before {background-position:-64px -3px;background-size:250px;}
.section_category .more_view_cont {display:none;}
.section_category .list_more {display:table;width:100%;table-layout:fixed;}
.section_category .list_more li {position:relative;display:table-cell;width:33.3%;border-top:1px solid #e6e6e6;background:#fff;box-sizing:border-box;}
.section_category .list_more li:nth-child(3n+1) {border-right:1px solid #e6e6e6;}
.section_category .list_more li:nth-child(3n+3) {border-left:1px solid #e6e6e6;}
.section_category .list_more li a {display:block;padding:13px;}
.section_category .list_more li img {width:100%;}
.section_category .list_more li .thumb_img {padding:0;}
.section_category .list_more li .brand {margin-top:3px;font-size:11px;font-weight:bold;color:#1a1a1a;}
.section_category .list_more li .product_name {font-size:10px;color:#666;}
.section_category .list_more li .brand,
.section_category .list_more li .product_name {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.section_category .list_more li .price {display:table;width:100%;min-height:17px;font-family:'Helvetica', sans-serif;padding-top:2px;}
.section_category .list_more li .price .sale {width:1%;padding-right:3px;font-size:13px;font-weight:bold;color:#e62f2d;padding-top:1px;}
.section_category .list_more li .price span {display:table-cell;font-size:10px;font-weight:normal;color:#666;vertical-align:middle;}
.section_category .list_more li .price .cost {text-decoration:line-through;}
.section_category .list_more li .label {position:absolute;top:3px;left:4px;width:20px;height:20px;padding-top:2px;background:#999797;font-size:13px;font-weight:bold;color:#fff;text-align:center;box-sizing:border-box;font-family:'Helvetica',sans-serif;line-height:17px;}
.section_category .scroll_area {position:relative;box-sizing:border-box;overflow-y:hidden;overflow-x:auto;margin:0 10px;background:#fff;border:solid 1px #cacaca;}
.section_category .scroll_area::-webkit-scrollbar {display:none;}
.section_category .scroll_area::-webkit-scrollbar-thumb {display:none;}
.section_category .cont_wrap {}
.section_category .cont_wrap .ix-list-viewport {overflow:hidden;height:700px;}
.section_category .cont_wrap .ix-list-items {position:relative;}
.section_category .cont_wrap .ix-list-items > li {float:left;width:100%;padding:8px 10px 10px;box-sizing:border-box;background-size:100%;}
.section_category .gra {display:block;position:absolute;top:51px;right:11px;width:30px;height:36px;background:url('../img/main/bg_tab_gra.png') no-repeat right top;}

.section_recommand {position:relative;background:#919191;padding-bottom:15px;margin-top:5px;}
.section_recommand .list_recommand {}
.section_recommand .list_recommand .ix-list-viewport {overflow:hidden;}
.section_recommand .list_recommand .ix-list-items > li {float:left;width:100%;}
.section_recommand .list_recommand li img {width:100%;}
.section_recommand .in_list {position:relative;padding:16px 0 0;background:#fff;}
.section_recommand .in_list:after {display:block;clear:both;content:'';}
.section_recommand .in_list:before {position:absolute;top:-6px;left:50%;width:0;height:0;margin-left:-6px;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;content:'';}
.section_recommand .in_list li {position:relative;float:left;width:25%;box-sizing:border-box;}
.section_recommand .in_list li:before {position:absolute;top:5px;left:0;bottom:12px;display:block;width:1px;background:#e7e6e6;content:'';}
.section_recommand .in_list li:first-child:before {display:none;}
.section_recommand .in_list li a {display:block;padding:0 9px 14px 7px;}
.section_recommand .in_list li .product_name {display:block;overflow:hidden;margin-top:9px;font-size:11px;font-weight:bold;color:#333;white-space:nowrap;text-overflow:ellipsis;}
.section_recommand .in_list li .price {display:table;width:100%;min-height:19px;font-family:'Helvetica',sans-serif;}
.section_recommand .in_list li .price .sale {width:1%;padding-right:2px;font-weight:bold;color:#e53433;}
.section_recommand .in_list li .price span {display:table-cell;font-size:12px;font-weight:normal;color:#666;vertical-align:bottom;overflow:hidden;}
.section_recommand .in_list li .price .cost {text-decoration:line-through;}
.section_recommand .ix-thumbs {position:absolute;left:0;right:0;bottom:6px;height:3px;text-align:center;}
.section_recommand .ix-thumbs li {display:inline-block;margin:0 2px;text-indent:-9999px;}
.section_recommand .ix-thumbs li a {display:block;width:10px;height:3px;background:#000;opacity:0.5;}
.section_recommand .ix-thumbs li.active a {background:#fff;opacity:1;}

/* main 원데이특가 추가 */
.oneday_off {padding-bottom:12px;background:#fff;margin-top:5px;position:relative;border-bottom:1px solid #ccc;}
.oneday_off .tit {text-align:center;height:50px;border-bottom:solid 1px #e6e4e5;line-height:50px;box-sizing:border-box;}
.oneday_off .tit h2 {display:inline-block;margin-right:7px;font-family:'Noto Sans',sans-serif;font-size:17px;font-weight:bold;color:#333;}
.oneday_off .tit span.txt {color:#666;font-size:12px;}
.oneday_date {display:inline-block;font-family:'Helvetica',sans-serif;margin-right:10px;}
.oneday_date span {color:#e53434 !important;}
.oneday_date .circ {display:inline-block;width:23px;height:23px;border:1px solid #e53434;border-radius:50%;line-height:24px;font-weight:bold;font-size:15px;text-align:center;}
.oneday_prd_list {}
.oneday_prd_list:after {content:"";display:block;clear:both;}
.oneday_prd_list .ix-list-viewport {overflow:hidden;}
.oneday_prd_list .ix-list-items li {position:relative;float:left;width:100%;}
.oneday_prd_list .ix-list-items li a {display:block;float:left;width:50%;box-sizing:border-box;text-align:center;padding:15px 15px 12px;}
.oneday_prd_list .ix-list-items li a img {width:110px;}
.oneday_prd_list .ix-list-items li span {display:block;margin-top:1px;font-size:13px;color:#333;overflow:hidden;}
.oneday_prd_list .ix-list-items li span.cost {display:inline-block;font-size:15px;color:#666;font-weight:normal;text-decoration:line-through;vertical-align:0;margin-left:-2px;line-height:1;padding-right:1px;}
.oneday_prd_list .ix-list-items li .brand {font-size:14px;color:#1a1a1a;font-weight:bold;margin-top:10px;text-overflow:ellipsis;white-space:nowrap;}
.oneday_prd_list .ix-list-items li .product_name {text-overflow:ellipsis;white-space:nowrap;}
.oneday_prd_list .ix-list-items li .price {color:#e53433;font-size:17px;font-weight:bold;margin:6px 10px 0;letter-spacing:-0.04em;font-family:'Helvetica',sans-serif;}
.oneday_off .ix-thumbs {position:absolute;bottom:10px;left:0;right:0;height:3px;text-align:center;}
.oneday_off .ix-thumbs li {display:inline-block;margin:0 2px;text-indent:-999px;}
.oneday_off .ix-thumbs li a {display:block;width:10px;height:3px;background:#7f7f7f;opacity:0.5;}
.oneday_off .ix-thumbs li.active a {background:#e8342d;opacity:1;}

/* 게릴라 특가추가 */
.section_guerrilla {margin-top:5px;padding-bottom:25px;border-bottom:1px solid #ccc;background-color:#fecdc9;}
.section_guerrilla .tit {height:50px;text-align:center;line-height:50px;}
.section_guerrilla .tit h2 {display:inline-block;font-family:'Noto Sans',sans-serif;font-size:17px;font-weight:bold;color:#333;}
.section_guerrilla .guerrilla_list ul:after {display:block;clear:both;content:'';}
.section_guerrilla .guerrilla_list li {float:left;width:50%;}
.section_guerrilla .guerrilla_list li a {display:block;margin:0 20px;}
.section_guerrilla .guerrilla_list .img img {display:block;max-width:100%;margin:0 auto;}
.section_guerrilla .guerrilla_list .txt {margin-top:7px;font-family:'Helvetica',sans-serif;text-align:center;}
.section_guerrilla .guerrilla_list .txt .txt_in {position:relative;display:inline-block;font-size:0;}
.section_guerrilla .guerrilla_list .txt .txt_in:before {content:'';display:inline-block;width:15px;height:15px;margin-right:4px;vertical-align:middle;background:url(../img/main/spr-main.png) no-repeat -233px -3px;background-size:250px;}
.section_guerrilla .guerrilla_list .txt .txt_in > p {display:inline-block;font-size:15px;color:#e54433;font-weight:bold;vertical-align:middle;}