﻿@charset "utf-8";

/* main_common */
/* Main */
.main_warp { width:100%; height:100%; background:#dcdcdc;}
.main_warp a {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent}
.main_warp .exhibition_banner{background:#fff;}

/* visual_top */
.visual_top { position:relative; overflow:hidden;}
.visual_list {width:100%; height:50%; overflow:hidden;}
.visual_list > li {display:none;}
.visual_list > li:first-child {display:block;}
.visual_list li img { width:100%; }

.product_thum {display:block; width:80px; height:80px; margin:0 auto 10px}
.product_thum img {max-width:100%; max-height:100%}
.product_thum {font-size:14px; color:#242424}
.product_txt .brand_tit {overflow:hidden; height:18px; white-space:nowrap; word-wrap:break-word; text-overflow:ellipsis; font-size:14px; font-weight:normal; color:#534a3f}
.product_txt .volume {overflow:hidden; height:16px; white-space:nowrap; word-wrap:break-word; text-overflow:ellipsis; font-size:14px; font-weight:normal; color:#534a3f}
.product_txt .brand_name {display:block; overflow:hidden; height:18px; white-space:nowrap; word-wrap:break-word; text-overflow:ellipsis; margin-bottom:3px; font-size:16px; font-weight:bold; color:#373231; line-height:18px}
.product_txt .cns_nprice {margin-top:2px; color:#ef3f3b; font-size:14px; font-weight:bold}
.product_txt .price {color:#e53433; font-size:16px}
.product_txt .price del {font-size:13px; font-weight:normal; color:#67554f}
.product_txt .price_yen {padding:0 0 0 1px; font-size:14px; color:#67564f}

.product_list {margin:0 0 5px; padding:0 4px}
.product_list:after {display:block; content:""; clear:both}
.product_list li {float:left; position:relative; width:50%; margin-bottom:10px; box-sizing:border-box}
.product_area {position:relative; margin:0 5px; padding:0 2px 0; font-size:11px; text-align:center;}
.product_area * {-webkit-tap-highlight-color:transparent; outline:none}
.product_area a {display:block}
.product_area .product_txt {margin:10px 0}
.product_area .product_txt .price_area {display:inline-block; vertical-align:middle}

.product_box {position:relative;}
.product_box .product_thum {position:absolute; top:50%; left:0; margin:-40px 0 0; width:80px; height:80px}
.product_box .brand_name { font-weight:bold}
.product_box .brand_tit {margin-top:6px; font-weight:normal}
.product_box .volume {line-height:14px;}
.product_box .price_area {margin-top:4px}
.product_box .price del {color:#534a3f}
.product_box .price_yen {color:#988978}
.product_box .login_txt {margin-top:6px; line-height:1.4; font-size:12px; color:#e53433;}

.product_boxm {padding:0; background:#fff}
.product_boxm .product_box_in {display:block; position:relative; min-height:130px; padding:0 10px 0 145px}
.product_boxm .product_box_in:after {display:block; content:""; clear:both}
.product_boxm .product_thum {width:100px; height:100px; margin:-50px 0 0 30px; vertical-align:middle}
.product_boxm .product_thum img {width:100%; height:100%; }
.product_boxm .product_txt {min-height:100px; margin:0 0 0; padding:15px 0; vertical-align:middle}

/* product_banner */
.product_banner{background-color:#fff;border-bottom:1px solid #cac9c9;padding-bottom:10px;}
.product_list_warp {position:relative;overflow:hidden;padding-bottom:9px;}
.product_list_warp .product_boxm {}
.product_list_warp .banner_nav {position:absolute;left:0;bottom:0;width:100%;font-size:0;line-height:0;text-align:center;z-index:2;}
.product_list_warp .banner_nav li {width:auto;display:inline-block;margin:0 4px;vertical-align:bottom}
.product_list_warp .banner_nav li:first-child {margin-left:0}
.product_list_warp .banner_nav li button {display:block;overflow:hidden;width:8px;height:8px;border-radius:50%;background:#cac9c9;font-size:0;line-height:0} 
.product_list_warp .banner_nav .slick-active button {background:#e53433}

/* sale icon*/
.product_box .badge {position:absolute; top:10px; left:10px; }

.main_bestbrand {padding-bottom:10px}
.main_box_wrap{background-color:#fff;padding-top:30px;}
.main_box_wrap .main_box_in {padding-bottom:15px;border-top:1px solid #cbcbcb;background-color:#fff;}
.main_box_wrap .main_box_in:first-child {border-top:2px solid #333333;}
.main_box_in {padding:0 10px}
.main_box_in .cnBtn_BanMore {right:0}
.main_banner {}
.main_banner img {width:100%}

.main_box {background:#fff;border-bottom:1px solid #ccc;}
.main_box.solo {border-bottom:0;}
.main_box .product_list {margin:0; padding:22px 0 0}
.main_box .product_list li {margin-bottom:0}
.main_box .product_area {padding:0 5px}
.main_box .product_area .product_thum {width:100px; height:100px; min-width:100px}

.main_box .brand_list {margin:10px 5px;}
.main_box .brand_list:after {display:block; clear:both; content:"";}
.main_box .brand_list li {float:left; box-sizing:border-box; width:33.3%;text-align:center; border-bottom: 1px solid #c8c8c8;border-right: 1px solid #c8c8c8;}
.main_box .brand_list li:nth-child(1) {border-top: 1px solid #c8c8c8;}
.main_box .brand_list li:nth-child(2) {border-top: 1px solid #c8c8c8;}
.main_box .brand_list li:nth-child(3) {border-top: 1px solid #c8c8c8;}
.main_box .brand_list li:nth-child(3n+1) {border-left: 1px solid #c8c8c8;}

.main_box .brand_list.set2 li {width:50%;}
.main_box .brand_list li a {display:block;}
.main_box .brand_list img {width: 90px;padding:10px 0;}

.banner_list {overflow:hidden;padding:5px;}
.banner_list li {float:left;box-sizing:border-box;width:50%;text-align: center;}
.banner_list img {width:100%}

.banner_list.new {padding:0;}
.banner_list.new li {padding:0;}
.banner_list.new li img {width:100%}

.banner_gift img { width:100%; }

/* main_info */
.main_info { position:fixed; width:100%; height:100%; background:url('../@img/main/bg_main_info.jpg') no-repeat 0 0; background-size:cover ; }
.main_info .logo { display:block; position:absolute; top:50%; left:50%; width:140px; height:60px; margin-top:-30px; margin-left:-70px; }
.main_info .logo img { max-width:100%;}
.main_info > p { position:absolute; bottom:5.3%; left:50%; width:247px; height:25px; margin-left:-123px; }
.main_info > p img { max-width:100%;}

/* banner_nav */
.visual_top .banner_nav {position:absolute;left:0;bottom:7px;width:100%;font-size:0;line-height:0;text-align:center;z-index:2;}
.visual_top .banner_nav li {width:auto;display:inline-block;margin:0 4px;vertical-align:bottom}
.visual_top .banner_nav li:first-child {margin-left:0}
.visual_top .banner_nav li button {display:block;overflow:hidden;width:8px;height:8px;border-radius:50%;background:#cac9c9;font-size:0;line-height:0} 
.visual_top .banner_nav .slick-active button {background:#e53433}

/* sns_link */
.main_warp .sns_link {border-top:none;}

/* 차후 수정 필요 */
.best_brand_wrap {position:relative}
.best_brand_wrap .btn_prev, 
.best_brand_wrap .btn_next {overflow:hidden; display:block; position:absolute; top:0; width:11px; height:48px; margin-top:0; padding:0 10px; background:url(../@img/common/bg_tab_prev.png) no-repeat 50% 50%; background-size:11px auto; font-size:0}
.best_brand_wrap .btn_prev {left:0}
.best_brand_wrap .btn_next {right:0; transform:rotate(180deg); -webkit-transform:rotate(180deg)}

/* banner_gift */
.banner_gift{overflow:hidden;}
.banner_gift  a {float:left;display:block;width:50%;}

/* rolling */
.rolling_nav {position:relative;overflow:hidden;height:48px;padding:0 20px;background-color:#fff;border-bottom:none;}
.rolling_nav .list {float:left;overflow:hidden;width:33.33%;height:48px;font-size:15px;color:#777;text-align:center;background:#fff;}
.rolling_nav .list span {display:inline-block;padding:0 10px;color:#7f8488;line-height:1.5;overflow:hidden;vertical-align:middle;}
.rolling_nav .slick-current.slick-active span, .rolling_nav .slick-current.on span, .rolling_nav .on span {position:relative;font-weight:bold;color:#fff;background:#e53433;text-align:center}
.rolling_nav .slick-current.slick-active span:after, .rolling_nav .slick-current.on span:after, .rolling_nav .on span:after {display:none;}

/* 단하루특가 */
.oneday_wrap{overflow:hidden;position:relative;}
.oneday_wrap .banner_img li{text-align:center;}
.oneday_wrap .banner_img li.slick-slide{margin-bottom:5px;background:#fff;box-shadow:2px 2px 2px #ccc}
.oneday_wrap .banner_img li img{width:100%;}
.oneday_wrap .banner_nav {position:absolute;left:0;bottom:12px;width:100%;font-size:0;line-height:0;text-align:center;z-index:2;}
.oneday_wrap .banner_nav li {width:auto;display:inline-block;margin:0 4px;vertical-align:bottom}
.oneday_wrap .banner_nav li:first-child {margin-left:0}
.oneday_wrap .banner_nav li button {display:block;overflow:hidden;width:8px;height:8px;border-radius:50%;background:#cac9c9;font-size:0;line-height:0} 
.oneday_wrap .banner_nav .slick-active button {background:#e53433}