.promotion_wrap {background: #fff;}
.promotion_wrap .w100p img {width:100%;}
.promotion_wrap .entry_fm {height:245px;padding:25px 15px 0 15px;text-align:center;background:url('../../cn_mo/img/promotion/bg_promotion_top01.png') no-repeat center bottom;background-size:154px auto;}
.promotion_wrap .entry_fm.st11, .promotion_wrap .entry_fm.malltail {background-color:#3f434f;}
.promotion_wrap .entry_fm.kbcard {background-color:#4f463f;}
.promotion_wrap .tr_btn {position:relative;}
.promotion_wrap .tr_btn a.link1 {position:absolute;left:9%;top:11%;width:19%;height:6%;}
.promotion_wrap .tr_btn a.link2 {position:absolute;left:50%;bottom:5%;width:50%;margin-left:-25%;text-align:center;}
.promotion_wrap .entry_fm.lgu {background:#474f66 url('../../cn_mo/img/promotion/bg_promotion_top02.png') no-repeat center bottom;background-size:154px auto;}
.promotion_wrap .entry_fm span.font_s {display:block;font-family:'RixGo B';font-size:12px;color:#dcdcdc;padding-bottom:10px;}
.promotion_wrap .entry_fm span.font_b {display:block;font-family:'RixGo B';font-size:18px;color:#fefefe;line-height:22px;}
.promotion_wrap .entry_fm span.font_b em {color:#fcce23;}
.promotion_wrap .entry_fm.lgu span.font_b em {color:#ff86d6;}
.promotion_wrap .entry_fm .btn_go {padding:20px 0;}
.promotion_wrap .entry_fm .btn_go a {display:block;padding:17px 0;color:#fff;font-family:'RixGo B';font-size:16px;border-radius:5px;}
.promotion_wrap .entry_fm .btn_go a span {padding-right:15px;background:url('../../cn_mo/img/promotion/bl_promotion_arr.png') no-repeat right 4px;background-size:7px auto;}
.promotion_wrap .entry_fm.st11 .btn_go a {background-color:#d81c13;}
.promotion_wrap .entry_fm.kbcard .btn_go a {background-color:#ef9310;}
.promotion_wrap .entry_fm.lgu .btn_go a {background-color:#e20998;}
.promotion_wrap .entry_fm.malltail .btn_go a {background-color:#0195bb;}
.promotion_wrap .entry_fm .entry_num {position:relative;padding-top:20px;background:url('../../cn_mo/img/promotion/bg_promotion_11st_line1.png') repeat-x left top;background-size:7px auto;}
.promotion_wrap .entry_fm .entry_num span {display:block;margin:0 125px 0 0;text-align: left;}
.promotion_wrap .entry_fm .entry_num span input {width:100%;padding:8px 10px;border:0;}
.promotion_wrap .entry_fm .entry_num label {position:absolute;top:20px;right:0;}
.promotion_wrap .entry_fm .entry_num label img {width:95px;}
.promotion_wrap .step_list {padding:0 15px 10px 15px;background:#9e9993 url('../../cn_mo/img/promotion/bg_promotio_11st03.gif') no-repeat center top;background-size:320px auto;}
.promotion_wrap .step_list.lgu {background-color:#82899f;}
.promotion_wrap .step_list.tr {background-color:#f2f5ea;}
.promotion_wrap .step_list p {padding-bottom:10px;font-family:'RixGo B';color:#fff;font-size:14px;text-align:center;}
.promotion_wrap .step_list.tr p {padding:20px 0 10px 0;color:#e3ac37;font-size:18px;}
.promotion_wrap .step_list img {width:290px;}
.promotion_wrap .step_list li {padding:1px 0;background:url('../../cn_mo/img/promotion/bg_promotion_11st_line2.png') repeat-x left bottom;background-size:5px auto;}
.promotion_wrap .step_list.tr li {padding:2px 0;background:url('../../cn_mo/img/promotion/bg_promotion_11st_line3.png') repeat-x left bottom;background-size:5px auto;}
.promotion_wrap .step_list li:last-child {background:none;}
.promotion_wrap .info {width:320px;}
.promotion_wrap .op_btn {position:relative;}
.promotion_wrap .op_btn a.link1 {position:absolute;left: 18%;bottom: 4%;width: 66%;height: 9%;}
.promotion_wrap .btn_hundred {position:relative;}
.promotion_wrap .btn_hundred a.link1 {position:absolute;left: 6%;bottom: 16%;width: 25%;}
.promotion_wrap .btn_hundred a.link2 {position:absolute;left: 37%;bottom: 16%;width: 25%;}
.promotion_wrap .btn_hundred a.link3 {position:absolute;left: 69%;bottom: 16%;width: 25%;}
.promotion_wrap .ctrip_btn1, .promotion_wrap .ctrip_btn2 {position:relative;}
.promotion_wrap .ctrip_btn1 a.link1 {position:absolute;left: 2%;bottom: 21%;width: 32%;}
.promotion_wrap .ctrip_btn2 a.link2 {position:absolute;left: 30%;bottom: 14%;width: 40%;}
.promotion_wrap .ma_btn1, .promotion_wrap .ma_btn2 {position:relative;}
.promotion_wrap .ma_btn1 a.link1 {position:absolute;left: 2%;bottom: 21%;width: 32%;}
.promotion_wrap .ma_btn2 a.link2 {position:absolute;left: 30%;bottom: 14%;width: 40%;}
.promotion_wrap p.btn_fs1, .promotion_wrap p.btn_fs2{position:relative;}
.promotion_wrap p.btn_fs1 a.link1 {position:absolute;left: 25%;bottom: 30%;width: 48%;}
.promotion_wrap p.btn_fs2 a.link2 {position:absolute;left: 8%;top: 7%;width: 28%;}

/* 유학생 3종 혜택 */
.newwin{position:relative; *zoom:1; }
.pop_header{position:fixed;top:0;background-color:#fff;width:100%;border-top:3px solid #e53433;}
.pop_event_photo.pop_event {margin:0 auto;width:100%;}
.pop_event_photo.pop_event ul li{font-size:12px;color:#666666;list-style:none;}
.pop_event_photo.pop_event ul li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../cn_mo/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.popup_wrap .pop_event_photo .ml13{margin-left: 13px;}
.pop_event_photo h1 {padding:20px 30px; border-bottom:2px solid #444444;font-weight:bold; font-size:16px; line-height:18px; color:#333333;; }
.popup_wrap .pop_event_photo .pop_inner{padding:50px 30px 30px 30px;}
.pop_event_photo h2 {margin:30px 0 10px 0;font-weight:bold;font-size:14px;color:#333333;}
.popup_wrap .pop_event_photo .newwin .terms {margin:0 0 10px 0;padding:0;border: 1px solid #bfbfbf;}

.popup_wrap .pop_event_photo .pop_table th{text-align: left;font-weight:normal;font-size:12px;color:#666666;}
.popup_wrap .pop_event_photo .pop_table td{padding:2px 0;}
.popup_wrap .pop_event_photo .input_pop{height:24px;border:1px solid #d3d3d3;}
.popup_wrap .pop_event_photo a.btn_gray{ background-color: #979797;font-weight: bold;font-size:12px;color: #ffffff;padding: 7px 30px; vertical-align: middle;margin-left: 2px;line-height: 28px;}
.popup_wrap .pop_event_photo .btn_area {padding-top:30px;text-align:center;border-bottom:0 none}
.popup_wrap .pop_event_photo .btn_area a {display:inline-block;width:40%;text-align:center;font-size:12px;color:#fff;}
.popup_wrap .pop_event_photo .btn_area a.btn_red {background:#ef3f3b;}
.popup_wrap .pop_event_photo .btn_area a.btn_brown {background:#555;}

.pop_event_photo .pop_event_photo .pop_inner .photo_box {margin:0 0 30px 0;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box .file {margin:0 0 7px 0;padding:10px 10px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background:#f7f7f7;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box input[type=file] {margin:0 0 10px 0;width:100%;border:1px solid #d3d3d3;background:#fff;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box li.dot {line-height:24px;font-size:12px; padding-left:12px; background:url('../../cn_mo/img/promotion/popup_dot01.png') 0 8px no-repeat; color:#666666;letter-spacing:-1px;}
.pop_event_photo .pop_event_photo .pop_inner .photo_box label {display:block;background:red}
.ex_popup_btn{ position:absolute; top:21px; right:21px; }
.file_input_textbox {float:left;width:208px;height:23px;padding-left:7px;font-size:12px;border: 1px solid #d3d3d3;}
.file_input_div {width:80px; height:36px; overflow:hidden;}
.file_input_img_btn {padding:0 0 0 5px;}
.file_input_hidden {font-size:29px; position:absolute; right:0px; top:415px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}

/* 1억원을쏜다 */
.hundred_tab {border:none;margin-top:15px;padding:0;border-bottom:none;}
.hundred_tab > .hun_tab {border:none;width:100%;}
.hundred_tab > .hun_tab li {width:50%;display:block;float:left;}
.hundred_tab > .hun_tab li a {display:block;text-align:center;background-color:#453b32;font-weight:bold;font-size: 12px;color:#fff;letter-spacing:-2px;padding: 7px 0;}
.hundred_tab > .hun_tab li:first-child {width:50%;height: 60px;}
.hundred_tab > .hun_tab li:first-child a {border-left:0;}
.hundred_tab > .hun_tab li a.on{position: relative;background-color:#e73130;}
.hundred_tab > .hun_tab li a.on em{position: absolute;left: 0;bottom: -17px;display: block;background: url('../../cn_mo/img/promotion/event_tab_on.png') center 0 no-repeat;width: 100%;height: 17px;background-size: 10px 8px;}
.hundred_tab .event_view{margin-top:0;}

.promotion_wrap p.btn_trick {position:relative;}
.promotion_wrap p.btn_trick a.link1 {position:absolute;left: 25%;top: 30.7%;width: 48%;}

div.event_wrap .info_box { padding:20px;background:#fff;border:1px solid #bfbfbf;margin-top:10px;border-right:0; border-left:0; }
div.event_wrap .event_list {padding:10px 0 10px 140px;font-size:11px;color:#666;background:url(../@img/bg_notice.png) no-repeat 0 0;}
div.event_wrap .event_list > li {margin-bottom:13px; padding-left:14px; background:url('../@img/sub/pc_notice_bul.png') 0 center no-repeat; font-size:11px; line-height:18px;}

/* tr종사자 팝업 */
.pop_event_photo .photo_box.tr .file_input_hidden {font-size:29px; position:absolute; right:0px; top:110px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.popup_wrap .pop_event_photo a.btn_gray_sch{background-color: #979797;font-weight: bold;font-size:12px;color: #ffffff;padding: 9px 16px;vertical-align: middle;margin-left: 2px;line-height: 30px;}

input[type="checkbox"] {border:1px solid #d3d3d3;padding:6px;color:#888;}


