@charset "utf-8";

.main_box.customer_info li {float:left; width:33.3%;box-sizing: border-box;border-left:1px solid #ccc;} 
.main_box.customer_info a {display:block; padding:30px 10px 30px 70px; letter-spacing:-1px;} 
.main_box.customer_info .menu01 {border-left:none; /*border-bottom:1px solid #e0e0e0;*/}
/*.main_box.customer_info .menu02 {border-bottom:1px solid #e0e0e0;}
.main_box.customer_info .menu03 {border-bottom:1px solid #e0e0e0;}*/
.main_box.customer_info .menu04 {border-left:none;}
.main_box.customer_info .menu01 a {background:url(../img/sub/bg_customer_01.png) no-repeat 20px 50%;}
.main_box.customer_info .menu02 a {background:url(../img/sub/bg_customer_02.png) no-repeat 19px 50%;}
.main_box.customer_info .menu03 a {background:url(../img/sub/bg_customer_03.png) no-repeat 19px 50%;}
.main_box.customer_info .menu04 a {background:url(../img/sub/bg_customer_04.png) no-repeat 24px 50%;}
.main_box.customer_info .menu05 a {background:url(../img/sub/bg_customer_05.png) no-repeat 20px 50%;}
.main_box.customer_info .menu06 a {background:url(../img/sub/bg_customer_06.png) no-repeat 19px 50%;}
.main_box.customer_info strong {font-size:14px;}
.main_box.customer_info p {margin-top:10px; font-size:12px;color: #666;line-height: 16px;}

.main_faq_search {padding:26px 0;border-bottom:1px solid #efefef;background:#f9f9f9;text-align:center;vertical-align:top;}
.main_faq_search .form_box {display:inline-block;padding:9px 9px 0 9px;height:29px;border:1px solid #e0e0e0;background-color:#fff;}/* 2016-08-19_추가 */
.main_faq_search .form_box select{padding:0;border:0;width:100px;height:20px;color:#999;vertical-align:middle;}/* 2016-08-19_수정 */
.main_faq_search .form_box input {padding:0;border:0;width:290px;height:20px;vertical-align:middle;}/* 2016-08-19_수정 */
.main_faq_search .btn_s_brown {width:80px; height:40px; line-height:40px; border:none; background-color:#444;}

.main_box.board .guide_list li {float:left; border-left:1px solid #efefef;}
.main_box.board .guide_list li:first-child {border-left:none;}
.main_box.board .guide_list a {display:block; width:80px; height:117px; padding:40px 20px; text-align:center; letter-spacing:-2px; font-size:16px;}
.main_box.board .guide_list a strong {display:block; padding-top:70px; background-image:url(../img/sub/bg_guide_link_03.png); background-repeat:no-repeat; background-position: center 0;}
.main_box.board .guide_list a.guide_sp strong {background-image:url(../img/sub/bg_guide_link_01.png);}
.main_box.board .guide_list a.guide_pay strong {background-image:url(../img/sub/bg_guide_link_02.png);}
.main_box.board .guide_list a p {margin-top:5px; color:#666;}