/* .signup_wrap > .staff  */
.signup_wrap .staff .staff_input > ul > li > input { width:318px; }
.signup_wrap .staff .staff_input .delivery_info .input { width:174px; height:46px; }

/* mypage_wrap > tab_type_07 */
.mypage_wrap .tit_tab_txt.tab_type_07 li:first-child{ width:14%; }
