@charset "utf-8";

/* 17.12.08 font s */
@font-face {
	font-family:Noto Sans;
	font-style:normal;
	src:url('../font/notokr-regular.eot') format('embedded-opentype'), url('../font/notokr-regular.woff') format('woff'), url('../font/notokr-regular.woff2') format('woff2'), url('../font/notokr-medium.eot') format('embedded-opentype'), url('../font/notokr-medium.woff') format('woff'), url('../font/notokr-medium.woff2') format('woff2'), url('../font/notokr-bold.eot') format('embedded-opentype'), url('../font/notokr-bold.woff') format('woff'), url('../font/notokr-bold.woff2') format('woff2');
}
/* 17.12.08 font e */

/* main_common */
/*body {background-color:#eeeff0;}*/
.category_view {display:block;font-family:'Noto Sans';} /*17.12.08 font 수정*/
.gnb_wrap .shopin_menu .shop_duty.main span {color:#fff;background: url(../img/common/ico_arrow.png) no-repeat right -979px;}
#main_visual_bg {position:absolute;top:163px;left:0;display:block;height:456px;width:100%;z-index:0;/*box-shadow:3px 2px 5px #d4d4d4 inset;*/}/*17.07.05 수정 17.09.13 높이값수정*/
.mainWrap #container  {width:100%;}

.mainWrap #container .main_top_cont {position:relative;width:931px;margin:0 auto;}
.main_wrap {width:100%;overflow:hidden;/*margin:0 auto;*/} /*17.09.18 메인 배너 사이즈 변경 */
.main_wrap .main_title {text-align:center;padding-bottom:20px;}
.conWrap {width:100%;}

.btn_area li {float:left;}
.btn_area li:first-child {margin-right:-1px;}
.img_list {position:relative;width:100%;}
.img_list .list {position:relative;float:left;width:231px;border:1px solid #bfbfbf;border-left:none;background-color:#fff;}
.img_list .list:first-child {border-left:1px solid #bfbfbf;width:232px;}
.img_list .list .badge_sale, .img_list .list .badge_img {left:26px;top:19px;}
.img_list .list p.img {position:relative;}
.img_list .list p.img > img {width:100%;height:213px;}
.img_list .list dl {padding:15px 20px 20px 20px;border-top:1px solid #bfbfbf;background-color:#fff;}
.img_list .list dl dt.tit,
.img_list .list dl dt.tit a {display:block;padding-bottom:7px;font-size:15px;font-weight:bold;letter-spacing:-1px;color:#000;}
.img_list .list dl dd.desc,
.img_list .list dl dd.desc a {display:block;color:#666;}
.img_list .list dl dd.date,
.img_list .list dl dd.date a {display:block;padding-top:10px;font-size:11px;font-family:'Noto Sans','Tahoma';color:#999;} /*17.12.08 font 수정*/
.box {border:1px solid #aeaeae;background-color:#fff;}
.h3_area {position:relative;width:100%;border-bottom:1px solid #ccc;}
.h3_area h3 {padding:20px;font-size:16px;font-weight:bold;letter-spacing:-2px;}
.h3_area p {position:absolute;right:75px;top:23px;font-size:11px;font-family:'Noto Sans','Tahoma';letter-spacing:-1px;color:#999;} /*17.12.08 font 수정*/
.h3_area p em {font-weight:bold;color:#eb3030;}
.h3_area ul {position:absolute;right:20px;top:18px;}

/* gnb */
.navigation .category_view .view_list > li:first-child .category_wrap {display:none;}
.navigation .category_view .view_list > li:first-child .category_wrap .category_list {display:none;}

/* 17.06.26 메인 둥둥이 배너 추가 s*/
.doongdoonge_banner {z-index:1; position:absolute; left:50%; margin-left: -170px; width:174px; height:174px;}
/*.doongdoonge_banner.fixed{z-index:1; position:fixed; top:100px; left:50%; margin-left: -711px; width:174px; height:174px;}*/
.doongdoonge_banner {
	animation:ani 1.3s infinite linear; 
	-webkit-animation:ani 1.3s infinite linear; 
	-moz-animation:ani 1.3s infinite linear; 
	-o-animation: ani 1.3s infinite linear;
	}
@keyframes ani {
    0% { top: 480px;} 
    50% { top: 475px;}
    100% { top: 480px;}
}
@-webkit-keyframes ani {
    0% { top: 480px;} 
    50% { top: 475px;}
    100% { top: 480px;}
}
.doongdoonge_banner.fixed {
	animation:anii 1.3s infinite linear; 
	-webkit-animation:anii 1.3s infinite linear; 
	-moz-animation:anii 1.3s infinite linear; 
	-o-animation: anii 1.3s infinite linear;
}
@keyframes anii {
    0% { top: 500px;} 
    50% { top: 495px;}
    100% { top: 500px;}
}
@-webkit-keyframes anii {
    0% { top: 500px;} 
    50% { top: 495px;}
    100% { top: 500px;}
}
.doongdoonge_banner a.btn_close {z-index:3; position:absolute; top:0; right:0; width:18px; height:18px; text-indent:-9999px; }

/* 17.09.07 main_visual 와이드 배너로 수정 S*/
.main_visual {position:relative;width:100%;height:456px;margin-bottom:30px;z-index:999;/*background:url('../img/main/bg_visual.gif') repeat-x 0 top;*/box-sizing:border-box;} /*17.09.13 수정*/
.main_visual .visual_detail {position:relative; height:456px; text-align:center;} 
.main_visual .visual_detail .img {/*float:right*/overflow:hidden; /*height:456px;*/} /*17.09.18 수정*/
.main_visual .visual_detail .img li {display:none; position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;} 
.main_visual .visual_detail .img li img {/*width:1920px;height:456px;*/}  /*17.09.18 수정*/
.main_visual .visual_detail .img li  a {display:block; position:relative; width:1320px; height:100%; margin:0 auto; z-index:1; } /*17.09.18 추가*/
.main_visual .visual_detail .img li  a img {position:absolute;top:0; left:50%; margin-left:-960px;} 
.main_visual .visual_detail .img:first-child li:first-child {display:block}
.main_visual .visual_detail p.bg_shadow {position:absolute; top:0; left:0; display:block; width:100%; height:10px;/*box-shadow:3px 3px 5px #000 inset;opacity: 0.1;*/} /*17.07.05  GNB영역 밑에 그림자 효과 삭제 */
.main_visual .menu {position:absolute;left:50%;margin-left:-341px;bottom:0; z-index:999; font-family:'Noto Sans';} /*17.12.08 font 수정*/
.main_visual .menu li a {overflow:hidden;display:block;text-align:center;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap;}
.main_visual .menu > li {position:relative;float:left;width:161px;}
.main_visual .menu > li > a {padding:14px 0; border:1px solid #ccc; border-right:none; background-color:#fff; font-weight:bold;}
.main_visual .menu > li:last-child a {border-right:1px solid #ccc;}
.main_visual .menu > li > a.on {border-bottom-color:#e53736;font-weight:bold;color:#eb3030;}
.main_visual .menu > li > ul {display:none;position:absolute;bottom:44px;width:100%;}
.main_visual .menu > li > ul li {margin-bottom:-1px;}
.main_visual .menu > li > ul li a {padding:10px 0;border:1px solid #5b5959;background-color:#6d6d6d;color:#fff;}
.main_visual .menu > li:last-child > ul li a {border-right:1px solid #5b5959;}
.main_visual .menu > li > ul li a:hover {border-color:#a0242i4;background-color:#e53433;}

.main_visual .btn_area {position:absolute;bottom:0px;left:50%;width:42px;margin-left:419px;border:1px solid #bbb;border-bottom:2px solid #e53433;font-size:0;padding:15px 1px 14px;background: #fff;}
.main_visual .btn_area a {text-indent:-999em;margin:0 auto;}
.main_visual .btn_area a img {display:none;}
.main_visual .btn_area a.play {display:block;width:10px;height:12px;background:url(../img/common/sp_button.png) 0 0;}
.main_visual .btn_area a.pause {display:block;width:10px;height:12px;background:url(../img/common/sp_button.png) 0 13px;}
/* //17.09.07 main_visual 와이드 배너로 수정 E*/

/* 17.09.07 main_visual  상단 버튼 추가 S*/
.main_visual .newBtnArea {
    overflow: hidden;
    position: absolute;
    top: 20px;
	left:50%;
	margin-left:384px;
    z-index: 100;
    height: 25px;
    border: 0;
	background:rgba(108,108,108,0.1);
}
/*17.10.20 숨기처리 */
/*.main_visual .newBtnArea .next:after {
	content:"";
	display:block;
	position:relative;
	margin-top:-3px;
	height:11px;
	background: url(../img/main/visualControls_bgline.png) no-repeat;
	clear:both;
}
.main_visual .newBtnArea .pause:after, .main_visual .newBtnArea .play:after {
	content:"";
	display:block;
	position:relative;
	margin-top:-4px;
	height:11px;
	background: url(../img/main/visualControls_bgline.png) no-repeat;
	clear:both;
}*/
.main_visual .newBtnArea a {
    overflow: hidden;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 1px;
    text-indent: -9999px;
    background: url(../img/main/visualControls_off.png) no-repeat;
}

.main_visual .newBtnArea a:hover {
    overflow: hidden;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    font-size: 1px;
    text-indent: -9999px;
    background: url(../img/main/visualControls_on.png) no-repeat;
}

.main_visual .newBtnArea a.play {
    background-position: 0 0;
	margin-right:-1px;
}

.main_visual .newBtnArea a.pause {
    background-position: -25px 0;
	margin-right:-1px;
}

.main_visual .newBtnArea a.prev {
    background-position: 0 -25px;
	margin-top:-1px;
}

.main_visual .newBtnArea a.next {
    background-position: -25px -25px;
	margin-top:-1px;
	margin-left:-1px;
}

/* 17.06.26 배너 사이즈 및 위치 수정 */
.brand_sale {/*overflow:hidden;*/ position:relative; width:931px; height:150px; margin:50px auto 0;}
/*.brand_sale .btn_area {position:absolute;top:115px;left:0;width:931px;}
.brand_sale .btn_area li+li {position:absolute;right:0;}*/
.brand_sale .banner_big {position:relative;width:462px; height:150px; overflow: hidden; /*visibility: hidden;*/}
.brand_sale .banner_bnL, .brand_sale .banner_bnR {position:absolute ;top:0; width:462px; height:150px; overflow: hidden;}
.brand_sale .banner_bnL {left:0;}
.brand_sale .banner_bnR {right:0;}
.brand_sale .bn_cont {position: relative; width:462px;height:150px; overflow: hidden;}
.brand_sale .bn_cont div img {width:462px;height:150px;}
.brand_sale .ico_navi {position: absolute;bottom:10px; left:20px !important;}
.brand_sale .ico_navi div, .brand_sale .ico_navi div:hover, .brand_sale .ico_navi .av {position: absolute;width:8px;height:8px;background: url("../img/common/bg_slide_paging.png") no-repeat;overflow: hidden;cursor: pointer;}
.brand_sale .ico_navi div { background-position:0 -8px; }
.brand_sale .ico_navi div:hover, .brand_sale .ico_navi .av:hover { background-position:0 0; }

/* SALE */
.sale_wrap {width:100%;height:320px;background:#f3eae5;}
.sale_wrap .sale_cont {overflow:hidden;width:931px;margin:0 auto 45px auto;}
.sale_wrap .sale_cont p.tit_img {float:left;width:241px;height:320px;}
.sale_wrap .sale_cont .img {float:left;}
.sale_wrap .sale_cont .single_slide {float:left;overflow:hidden;position:relative;width:665px;height:320px;padding-left:25px;}
.sale_wrap .sale_cont .single_slide .btn_area {position:absolute;top:95px;left:0;width:690px;}
.sale_wrap .sale_cont .single_slide .btn_area li a {position:absolute;margin-top:23px;display:block;width:9px;height:19px;background:url('../img/main/icon_arrow.png') no-repeat 0 0;text-indent:-9999px;}
.sale_wrap .sale_cont .single_slide .btn_area li a.next {right:0;background-position:0 -32px;}
.sale_wrap .sale_cont .single_slide .btn_area li a.prev {left:5px;background-position:0 0;}
.sale_wrap .sale_cont .single_slide .img_list .list {width:220px;padding:35px 0;border:0;background:none;}
.sale_wrap .sale_cont .single_slide .img_list .list p > img {width:170px;height:170px;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont {position:relative;width:199px;height:188px;text-align:center;    background-color: #fff;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont p.pro_img {height:175px;padding-top:5px;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont p.bg {position: absolute;top: -26px;left: -1px;width: 200px;height: 220px;background:url('../img/main/bg_sale_one.png') no-repeat center 0;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .txt {margin-top:15px;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .tit {font-weight:bold;letter-spacing:-1px;overflow:hidden;text-overflow:ellipsis;font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .tit strong {display:block;line-height:1.3;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} 
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .tit span {width:100%;display:block;padding-top:3px;font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .price {width:100%;padding-top:6px;letter-spacing:0;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .price .sale {text-decoration:line-through;color:#666;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .price .regular {padding-left:3px;font-size:14px;font-weight:bold;color:#eb3030;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .price .won {display:block;color:#999;padding-top:5px;}
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .percent {position:absolute;width: 42px;height: 42px;top:-5px;left:15px;font-family:'Noto Sans', 'Tahoma','맑은 고딕','Malgun Gothic';font-size:18px;color:#fff;padding-top:12px;text-align:center;background:url('../img/main/bg_sale.png') no-repeat center 0;} /* 17.12.08 font 수정 */
.sale_wrap .sale_cont .single_slide .img_list .list .product_cont .percent span {font-size:14px;}

/* event_banner */
.event_banner {position:relative;width:931px;margin:0 auto 40px auto;height:130px;}
.event_banner .cont {position:absolute;right:0;width:931px;height:130px;}
.event_banner .cont ul.img {width:100%;}
.event_banner .cont ul.img li {position:absolute;left:0;top:0;display:none;}
.event_banner .cont ul.img li img {width:931px;height:130px;}
.event_banner .slide_paging {position:absolute;bottom:10px;left:0;width:100%;text-align:center;margin-right:10px;z-index:9999;}
.event_banner.small {position:static;}
.event_banner.small .slide_paging {text-align:left;left:10px;bottom:4px;} /* 2016-06-30_수정 */
.event_banner.small, .event_banner.small .cont, .event_banner.small .cont ul.img li img {width:225px;height:55px;top: -10px;} /* 2016-06-29_수정 */
.event_banner.small .btn_area {display:none;position:absolute;left:65px;bottom:3px;width:8px;z-index:99999;}
.event_banner.small .btn_area a {display:block;overflow:hidden;width:8px;height:7px;background:url(../img/main/ico_play_pause2.png) no-repeat;font-size:0;text-indent:-9999px;}
.event_banner.small .btn_area a.pause {background-position:0 -12px;}
.event_banner.small .btn_area a.play {background-position:0 0px;}

.bn_set3 {position:relative;width:931px;height:180px;margin:0 auto;}
.bn_set3 .bn1, .bn_set3 .bn2, .bn_set3 .bn3 {position: absolute;top:0;width:305px;height:180px;overflow: hidden; /*visibility: hidden;*/}
.bn_set3 .bn1 {left:0;}
.bn_set3 .bn2 {left:313px;}
.bn_set3 .bn3 {right:0;}
.bn_set3 .bn_cont {position: relative; width:305px;height:180px;overflow: hidden;}
.bn_set3 .bn_cont div img {width:305px;height:180px;}
.bn_set3 .ico_navi {position: absolute;bottom:10px;left:20px !important;}
.bn_set3 .ico_navi div, .bn_set3 .ico_navi div:hover, .bn_set3 .ico_navi .av {position: absolute;width:8px;height:8px;background: url("../img/common/bg_slide_paging.png") no-repeat;overflow: hidden;cursor: pointer;}
.bn_set3 .ico_navi div { background-position:0 -8px; }
.bn_set3 .ico_navi div:hover, .bn_set3 .ico_navi .av:hover { background-position:0 0; }

/* 17.07.21 기획전 배너 높이값 수정 s*/
.bn_set4 {position:relative; overflow:hidden; width:931px; margin:0 auto;}
.bn_set4 .img_list {overflow:hidden;height:210px;}
.bn_set4 .img_list .list {width:305px; height:210px; overflow:hidden;}
.bn_set4 .img_list li {float:left; padding-left:8px; }
.bn_set4 .img_list li:first-child {padding-left:0;}
.bn_set4 img {width:305px; height:210px;} 

.bn_set4 .btn_area a {overflow:hidden;position:absolute;top:80px;display:block;width:32px;height:100%;font-size:1px;text-indent:-9999px;}
.bn_set4 .btn_area a.prev {left:0;background:url(../img/common/ico_common_arr_left.png) no-repeat 0 0; opacity:0.8;}
.bn_set4 .btn_area a.next {right:0;background:url(../img/common/ico_common_arr_right.png) no-repeat 0 0; opacity:0.8;} 
/* 17.07.21 기획전 배너 높이값 수정 e */


/* 17.06.26 원데이특가 신규 17.08.04 수정*/
.oneday_wrap {position:relative;width:931px; margin:0 auto 40px auto;}
.oneday_wrap > p {height:10px;} /*17.07.12 원데이특가 앵커부분 수정*/
.oneday_wrap .main_title {padding: 41px 0 0; text-align: center;} 
.oneday_wrap .main_title img {display:inline-block; margin-top:-2px;}
.oneday_wrap .improveTime {display: inline-block; padding: 5px 0; width: 36px; height: 36px; color: #e53434; background: url('../img/common/bgtime.png') no-repeat 0 0; font-size: 22px; text-align: center; font-weight: normal; font-family:'Tahoma';} 
.oneday_wrap .TimeDot {display: inline-block; position: relative;color: #e53434;font-size: 24px; top:-1px;}
.oneday_wrap .timeWrap {padding-left:13px; vertical-align:sub; }
.oneday_list_wrap {border-top:2px solid #e63434; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }  /*17.08.04 원데이특가 부분 hover 수정*/
/*.oneday_list_wrap .oneday_list li:hover .oneday_cont .tit span, .oneday_list_wrap .oneday_list li:hover .oneday_cont .tit strong {color:#e7302f; text-decoration:underline;}*/
.oneday_list_wrap .oneday_list .list > li {position:relative;float:left;width:232px;height:270px;padding:0;border-right:1px solid #ccc; border-bottom:1px solid #ccc; box-sizing:border-box; text-align:center;}
.oneday_list_wrap .oneday_list .list > li:nth-child(4), .oneday_list_wrap .oneday_list .list > li:nth-child(8) {border-right:none; width:233px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(5) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(6) > div, 
.oneday_list_wrap .oneday_list .list > li:nth-child(7) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(8) > div { border-top:1px solid #e53433; margin-top:-1px; height:272px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(4) > div,
.oneday_list_wrap .oneday_list .list > li:nth-child(8) > div { width:235px;}
.oneday_list_wrap .oneday_list .list > li:nth-child(5), .oneday_list_wrap .oneday_list .list > li:nth-child(6), .oneday_list_wrap .oneday_list .list > li:nth-child(7), .oneday_list_wrap .oneday_list .list > li:nth-child(8) {border-bottom:none;}
.oneday_list_wrap .oneday_list .list .img p img {width:150px;height:150px;}
.oneday_list_wrap .oneday_list .list .img p {padding:15px 0 11px;}
.oneday_list_wrap .oneday_cont {width:100%;}
.oneday_list_wrap .list .oneday_cont .tit {font-weight:bold;letter-spacing:-1px;overflow:hidden;text-overflow:ellipsis;padding:0 25px;color:#333;}
.oneday_list_wrap .list .oneday_cont .tit strong {display:block;line-height:1.3;font-family:'Noto Sans','맑은 고딕','Malgun Gothic';font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} /* 17.12.08 font 수정 */
.oneday_list_wrap .list .oneday_cont .tit span {display:block;width: 100%;padding-top:4px;font-family:'Noto Sans','맑은 고딕','Malgun Gothic'; font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} /* 17.12.08 font 수정 */
.oneday_list_wrap .list .oneday_cont .price {width:100%;padding-top:6px;letter-spacing:0; font-family:'Tahoma';} 
.oneday_list_wrap .list .oneday_cont .price .sale {font-size:13px;text-decoration:line-through;color:#666;}
.oneday_list_wrap .list .oneday_cont .price .regular {padding-left:5px;font-size:16px;font-weight:bold;color:#eb3030;}
.oneday_list_wrap .list .oneday_cont .price .won {display:block;color:#999;padding-top:5px;font-size:11px;}

/*17.08.04 원데이특가 hover 수정 s*/
.oneday_list li:hover > .oneday_over_bg {display:block;}
.oneday_list li:hover > .oneday_over_bg.big .price, .oneday_list li:hover > .oneday_over_bg.big .tit, .oneday_list li:hover .oneday_off .txt li.tit, .oneday_list li:hover .oneday_off .txt p.review_point {display:none;}
.oneday_over_bg {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9; width:233px; height:270px; margin-left:-1px; border:1px solid #e53433; border-top:none; border-bottom:none; background:url(../img/common/bg_dimmed.png); text-align:center;}
.oneday_over_bg .percent {position:absolute;left:0;top:51px;text-align:center;line-height:1;font-weight:bold;font-size:20px;color:#e53433;width: 100%;}
.oneday_over_bg .percent span {font-family:"Times New Roman";font-weight:bold;font-size:48px;} 

.oneday_over_bg .big {position:absolute;left:0;top:50%;margin-top:-32px;width:100%;line-height:1.5;}
.oneday_over_bg .big span {display:block;font-weight:bold;font-size:18px;color:#e53433;}

.oneday_over_bg .tit {position:absolute;left:0;top:126px;line-height:1.5;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#333;font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.oneday_over_bg .tit span {display:block;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:12px;letter-spacing:-1px;}  /*17.08.09 수정 */
.oneday_over_bg .tit strong {display:block;padding:0;font-size:12px;letter-spacing:-1px;word-break: keep-all;overflow: hidden;text-overflow: ellipsis;}

.oneday_over_bg .price {position:absolute;left:0;bottom:60px;width:100%;line-height:1;color:#666;}
.oneday_over_bg .price .sale {font-family:'Tahoma';font-size:14px;text-decoration:line-through;}
.oneday_over_bg .price .regular {margin-left:9px;font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg .price .won {padding-top:7px;font-family:'Tahoma';font-size:12px;color:#999;}
.oneday_over_bg .btn_area {position:absolute;left:0;bottom:0;z-index:10;width:100%;border-right:1px solid #444;}
.oneday_over_bg .btn_area a {box-sizing:border-box;display:block;float:left;width:50%;height:40px;line-height:39px;text-align:center;background:#444;font-family:'Noto Sans','맑은 고딕','Malgun Gothic';font-weight:bold;font-size:12px;color:#fff;} /* 17.12.08 font 수정 */
.oneday_over_bg .btn_area a:first-child {background:#e53433;}

/* oneday_over_bg_login */
.oneday_list li:hover > .oneday_over_bg_login {display:block;}
.oneday_over_bg_login {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9;width:233px;height:270px; margin-left:-1px; border:1px solid #e53433;border-top:0;background:url(../img/common/bg_dimmed02.png);text-align:center;}
.oneday_over_bg_login .big {position:absolute;left:0;top:54px;width:100%;line-height:1.4;font-weight:bold;font-size:20px;color:#e53433;}
.oneday_over_bg_login .big span {display:block;font-family:'Noto Sans','맑은 고딕','Malgun Gothic';font-size:14px;color:#e53433;} /* 17.12.08 font 수정 */

.oneday_over_bg_login .tit {position:absolute;left:0;top:134px;line-height:1.4;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#333;}
.oneday_over_bg_login .tit span {display:block;padding:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:12px;letter-spacing:-1px;}  /*17.08.09 수정 */
.oneday_over_bg_login .tit strong {display:block;padding:0;font-size:12px;letter-spacing:-1px;word-break: keep-all;overflow: hidden;text-overflow: ellipsis;}

.oneday_over_bg_login .price {position:absolute;left:0;bottom:61px;width:100%;line-height:1;color:#666;}
.oneday_over_bg_login .price .regular {margin-left:5px;font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg_login .price .won {padding-top:4px;font-family:'Tahoma';font-size:12px;color:#999;}  

.oneday_over_bg_login .button {box-sizing:border-box;position:absolute;left:0;bottom:1px; z-index:10;padding:15px 10px;width:100%; font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.oneday_over_bg_login .button a {box-sizing:border-box;display:block;margin:0 auto;width:120px;height:24px;line-height:22px;text-align:center;border:1px solid #f4817e;background:#fff url(../img/common/ico_over.png) no-repeat 72% 50%;font-size:12px;color:#e53433 !important; text-indent:-12px;} /*17.12.08 line-height 20px*/

/* oneday_over_bg_soldout */
.oneday_list li:hover > .oneday_over_bg_soldout {display:block;}
.oneday_over_bg_soldout {display:none;box-sizing:border-box;position:absolute;top:0;left:0;z-index:9;width:233px;height:270px; margin-left:-1px; border:1px solid #e53433;border-top:0;background:url(../img/common/bg_dimmed.png);text-align:center;}

.oneday_over_bg_soldout .big {position:absolute;left:0;top:60px;width:100%;line-height:1.5;font-size:24px;color:#e53433;font-family:'Noto Sans';} /* 17.12.08 font 수정 */

.oneday_over_bg_soldout .tit {position:absolute;left:0;top:134px;line-height:1.4;width:80%;padding: 0 10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#333;font-family:'Noto Sans','맑은 고딕','Malgun Gothic';} /* 17.12.08 font 수정 */
.oneday_over_bg_soldout .tit span {display:block; padding:0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:12px; letter-spacing:-1px;} /*17.08.09 수정 */
.oneday_over_bg_soldout .tit strong {display:block;padding:-2px;font-size:12px;letter-spacing:-1px;word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}

.oneday_over_bg_soldout .price {position:absolute;left:0;bottom:61px;width:100%;line-height:1;color:#666;}
.oneday_over_bg_soldout .price .sale {font-family:'Tahoma';font-size:14px;text-decoration:line-through;}
.oneday_over_bg_soldout .price .regular {margin-left:9px;font-weight:bold;font-size:16px;color:#e7302f;}
.oneday_over_bg_soldout .price .won {padding-top:4px;font-family:'Tahoma';font-size:12px;color:#999;}

.oneday_over_bg_soldout .button {box-sizing:border-box; position:absolute; left:0; bottom:1px; z-index:10; padding:15px 10px;width:100%;font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.oneday_over_bg_soldout .button a {box-sizing:border-box;display:block;margin:0 auto;width:120px;height:24px;line-height:22px;text-align:center;border:1px solid #f4817e;background:#fff url(../img/common/ico_over.png) no-repeat 95% 50%;font-size:12px;color:#e53433 !important;text-indent:-12px;} /*17.12.08 line-height 20px*/

/*17.08.04 원데이특가 hover 수정 e*/

/* 베스트셀러 */
.marketing_wrap {position:relative;width:931px;margin:0 auto 50px auto;} /* 17.06.28 하단 여백 수정 */
.marketing_wrap .main_title {padding: 55px 0 21px 0;text-align: center;} /* 17.06.28 상단 여백 수정 */
.marketing_wrap .btn_lnk {padding:10px 15px 0 0;text-align:right;background:#efefef;}
.marketing_wrap .btn_lnk a.btn_ic_red_s {padding:4px 0 7px 10px;min-width: 122px; background: #fff url(../img/common/bg_arrow1.png) no-repeat 105px 50%;text-align:left;}
.marketing_wrap .btn_lnk a.btn_ic_red_s:after {background:none;}
.marketing_wrap .tab_cont {display:none;background-color:#fff;border:1px solid #e4e4e4;}
.marketing_wrap .tit_tab_txt {width:100%;background:#fff;}
.marketing_wrap .tit_tab_txt li {float:left;/*width:155px;*/width:186px;} /* 운영시 탭이 6개가 될때 155px로 수정 */
.marketing_wrap .tit_tab_txt li:first-child {/*width:156px;*/width:187px;} /* 운영시 탭이 6개가 될때 156px로 수정 */
.marketing_wrap .tit_tab_txt li a {display:block;padding:15px 0;border-top:3px solid #4b4b4b;border-bottom:1px solid #919191;border-right:1px solid #919191;font-weight:bold;text-align:center;color:#191919;background:#fff;}
.marketing_wrap .tit_tab_txt li:first-child a {border-left:1px solid #988e8a;}
.marketing_wrap .tit_tab_txt li a.on {border-top:3px solid #ee413d;border-bottom:1px solid #fff;font-weight:bold;color:#ee3f3a;}
.marketing_wrap .box {border:1px solid #ccc;}
.marketing_wrap .more {position:absolute;right:0;top:61px;}
.marketing_wrap .more a {font-size:11px;font-family:'Noto Sans','Dotum';color:#636262;letter-spacing:-1px;padding-right:8px;background: #fff url('../img/main/bl_more.gif') no-repeat right 5px;} /* 17.12.08 font 수정 */
.product_list_wrap .product_list li:hover > .product_over_outline {display:block;}
.product_list_wrap .product_list li:hover .product_cont .tit span, .product_list_wrap .product_list li:hover .product_cont .tit strong {color:#e7302f;text-decoration:underline;}
.product_list_wrap li .product_over_outline {display:none;box-sizing:border-box;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #e53433;cursor: pointer;}
.product_list_wrap .product_list .list.ea2 > li {position:relative;float:left;width:464.5px;height:240px;padding:0;border-right: 1px solid #e0e0e0;box-sizing: border-box;}
.product_list_wrap .product_list .list.ea2 > li:first-child {width:464.4px;}
.product_list_wrap .product_list .list.ea2 > li:last-child {border-right:0;}
.product_list_wrap .product_list .list.ea2 .img {float:left;width:210px;margin-bottom:0;}
.product_list_wrap .product_list .list.ea2 .img img {width:180px;height:180px;}
.product_list_wrap .product_list .list.ea2 .img p {width:30px;height:30px;padding:35px 0px 30px 38px;background:url('../img/main/icon_number.gif') no-repeat 13px 10px;}
.product_list_wrap .product_list .list.ea2 > li:last-child .img p {background:url('../img/main/icon_number.gif') no-repeat 13px -75px;}
.product_list_wrap .product_list .list.ea2 .txt {position:relative;float:right;width:204px;padding:0 20px 20px 0;}
.product_list_wrap .product_list .list.ea2 .tit {padding-top:61px;height:65px;font-size:12px;}
.product_list_wrap .product_list .list.ea4 > li {position:relative;float:left;width:232.2px;height:260px;padding:0;border-right: 1px solid #e0e0e0;border-top: 1px solid #e0e0e0;box-sizing: border-box;text-align:center;}
.product_list_wrap .product_list .list.ea4 > li:first-child, .product_list_wrap .product_list .list.ea4 > li::nth-child(4) {width: 232.4px;}
.product_list_wrap .product_list .list.ea4 > li:nth-child(4), .product_list_wrap .product_list .list.ea4 > li:last-child {border-right:none;}
.product_list_wrap .product_list .list.ea4 .img {height:170px;}
.product_list_wrap .product_list .list.ea4 .img p img {width:150px;height:150px;}
.product_list_wrap .product_list .list.ea4 .img p {width:30px;height:20px;padding:20px 0 20px 41px;background:url('../img/main/icon_number.gif') no-repeat;}
.product_list_wrap .product_list .list.ea4 li:nth-child(1) .img p {background-position:11px -155px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(2) .img p {background-position:11px -220px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(3) .img p {background-position:11px -295px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(4) .img p {background-position:11px -365px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(5) .img p {background-position:11px -440px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(6) .img p {background-position:11px -515px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(7) .img p {background-position:11px -590px;}
.product_list_wrap .product_list .list.ea4 li:nth-child(8) .img p {background-position:11px -660px;}
.product_list_wrap .product_cont {width:100%;}
.product_list_wrap .list.ea2 .product_cont .tit {font-weight:bold;letter-spacing:-1px;overflow:hidden;text-overflow:ellipsis; font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.product_list_wrap .list.ea2 .product_cont .tit strong {display:block;line-height:2;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} 
.product_list_wrap .list.ea2 .product_cont .tit span {font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:normal;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;}
.product_list_wrap .list.ea2 .product_cont .price {width:100%;padding-top:10px;letter-spacing:0;}
.product_list_wrap .list.ea2 .product_cont .price .sale {text-decoration:line-through;color:#666;}
.product_list_wrap .list.ea2 .product_cont .price .regular {padding-left:3px;font-size:14px;font-weight:bold;color:#eb3030;}
.product_list_wrap .list.ea2 .product_cont .price .won {display:block;color:#999;padding-top:5px;}
.product_list_wrap .list.ea4 .product_cont .tit {font-weight:bold;letter-spacing:-1px;overflow:hidden;text-overflow:ellipsis;padding:0 25px; font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.product_list_wrap .list.ea4 .product_cont .tit strong {display:block;line-height:1.3;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} 
.product_list_wrap .list.ea4 .product_cont .tit span {display:block;width: 100%;padding-top:7px;font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.product_list_wrap .list.ea4 .product_cont .price {width:100%;padding-top:6px;letter-spacing:0;}
.product_list_wrap .list.ea4 .product_cont .price .sale {text-decoration:line-through;color:#666;}
.product_list_wrap .list.ea4 .product_cont .price .regular {padding-left:5px;font-size:14px;font-weight:bold;color:#eb3030;}
.product_list_wrap .list.ea4 .product_cont .price .won {display:block;color:#999;padding-top:5px;}
.marketing_wrap .img_menu {position:relative;border-bottom:2px solid #e03333;background:#fafafa;}
.marketing_wrap .img_menu ul {}
.marketing_wrap .img_menu li {float:left;width:77px;}
.marketing_wrap .img_menu li:nth-child(4) {width:82px;}
.marketing_wrap .img_menu li a {position:relative;display:block;width:100%;height:24px;padding-top:53px;text-align:center;color:#737373;font-size:12px;font-family:'Noto Sans','Dotum';} /* 17.12.08 font 수정 */
.marketing_wrap .img_menu li a.on {color:#fff;background:#e63434;}
.marketing_wrap .img_menu li a span.ic {display:block;position:absolute;left:50%;top:14px;width:30px;height:30px;margin-left:-15px;background:url(../img/main/bg_bestshop_menu_new.png) no-repeat;}/*개발 수정*/
.marketing_wrap .img_menu li.menu0 a span.ic {background-position:-1px 0;}
.marketing_wrap .img_menu li.menu0 a.on span.ic {background-position:-1px -30px;}
.marketing_wrap .img_menu li.menu1 a span.ic {background-position:-32px 0;}
.marketing_wrap .img_menu li.menu1 a.on span.ic {background-position:-32px -30px;}
.marketing_wrap .img_menu li.menu2 a span.ic {background-position:-55px 0;}
.marketing_wrap .img_menu li.menu2 a.on span.ic {background-position:-55px -30px;}
.marketing_wrap .img_menu li.menu3 a span.ic {background-position:-81px 0;}
.marketing_wrap .img_menu li.menu3 a.on span.ic {background-position:-81px -30px;}
.marketing_wrap .img_menu li.menu4 a span.ic {background-position:-111px 0;}
.marketing_wrap .img_menu li.menu4 a.on span.ic {background-position:-111px -30px;}
.marketing_wrap .img_menu li.menu5 a span.ic {background-position:-138px 0;}
.marketing_wrap .img_menu li.menu5 a.on span.ic {background-position:-138px -30px;}
.marketing_wrap .img_menu li.menu6 a span.ic {background-position:-165px 0;}
.marketing_wrap .img_menu li.menu6 a.on span.ic {background-position:-165px -30px;}
.marketing_wrap .img_menu li.menu7 a span.ic {background-position:-198px 0;}
.marketing_wrap .img_menu li.menu7 a.on span.ic {background-position:-198px -30px;}
.marketing_wrap .img_menu li.menu8 a span.ic {background-position:-232px 0;}
.marketing_wrap .img_menu li.menu8 a.on span.ic {background-position:-232px -30px;}
.marketing_wrap .img_menu li.menu9 a span.ic {background-position:-264px 0;}
.marketing_wrap .img_menu li.menu9 a.on span.ic {background-position:-264px -30px;}
.marketing_wrap .img_menu li.menu10 a span.ic {background-position:-297px 0;}
.marketing_wrap .img_menu li.menu10 a.on span.ic {background-position:-297px -30px;}
.marketing_wrap .img_menu li.menu11 a span.ic {background-position:-326px 0;}
.marketing_wrap .img_menu li.menu11 a.on span.ic {background-position:-326px -30px;}

/* 테마 */ 
.thema_wrap {width:931px;margin:0 auto;}
.thema_wrap ul.cont {overflow:hidden; position:relative;height:622px; font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.thema_wrap ul.cont div.area{ display:none;position:absolute;top:50px;left:0;}
.thema_wrap ul.cont > li {float:left;width:25%;text-align:center;border-bottom:2px solid #e63434;}
.thema_wrap ul.cont > li > a {display:block;position:relative;padding:16px 0;border:1px solid #ccc;border-left:0;border-bottom:0;background:#fbfbfb;font-size:14px;font-weight:bold;}
.thema_wrap ul.cont > li:first-child > a {border-left:1px solid #ccc;}
.thema_wrap ul.cont > li:last-child > a {font-weight:normal;}
.thema_wrap ul.cont > li.active > a {border:1px solid #e63434;background:#e63434;color:#fff;}
.thema_wrap ul.cont > li.active div.area {display:block;width:100%;padding:50px 0 0 0;border:1px solid #e0e0e0;box-sizing:border-box;}
.thema_wrap .main_title {padding:45px 0 21px 0;text-align:center;}
.thema_wrap .more {position:absolute;right:15px;top:16px;border:1px solid #d7d7d7;}
.thema_wrap .more a {display: block;font-size:11px;font-family:'Noto Sans','Dotum';color:#636262;padding: 4px 8px 3px 10px;margin-right: 7px;background: #fff url('../img/main/bl_more.gif') no-repeat right 7px;} /* 17.12.08 font 수정 */
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.ea4 > li {border:0;}
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.thema > li:first-child {float:left;}
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.thema > li:last-child {float:right;}
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.thema > li.banner {width:464px;text-align:center;}
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.thema > li.banner p {width:464px;}
.thema_wrap ul.cont > li.active div.area .product_list_wrap .product_list .list.thema > li.banner p img {width:446px;}
.thema_wrap .product_list_wrap .product_list .list.ea4 .img p {background:none;}




/* 브랜드 */
.brand_wrap {width:931px;margin:0 auto 40px auto;}
.brand_wrap .main_title  {padding: 45px 0 22px 0;text-align: center;}
.brand_wrap .slide_wrap {position:relative;}
.brand_wrap .slide_wrap .brand_list {overflow:hidden;border:1px solid #ccc;}
.brand_wrap .slide_wrap .banner {float:left;}
.brand_wrap .slide_wrap ul.list {float:right;}
.brand_wrap .slide_wrap > .btn_area {opacity:0.5;}
.brand_wrap .slide_wrap > .btn_area a {display: block;position: absolute;top:23px;text-indent:-9999px;width:20px;height:30px;background: url('../img/main/icon_arrow.png') no-repeat;cursor:pointer;}
.brand_wrap .slide_wrap > .btn_area .prev {left: 20px;background-position: 0 0;}
.brand_wrap .slide_wrap > .btn_area .next {right:10px;background-position: 0 -32px; }
.brand_wrap .slide_wrap .slide_menu {position:relative;height:60px;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
.brand_wrap .slide_wrap .slide_menu .menu {position:absolute;left:0;width:3000px;margin:0 auto}
.brand_wrap .slide_wrap .slide_menu .menu li {float:left;width:155px;margin-left:55px;padding-right:20px;background:url("../img/main/bl_brand_bar.gif") right 25px no-repeat;}
.brand_wrap .slide_wrap .slide_menu .menu li:nth-child(4) {background:none;}
.brand_wrap .slide_wrap .slide_menu .menu li a {display:table-cell;vertical-align:middle;/*padding:14px 0;*/opacity:0.2;} /* 2016-06-29_수정, 개발 수정 */
.brand_wrap .slide_wrap .slide_menu .menu li a.on, .brand_wrap .slide_wrap .slide_menu .menu li a:hover {opacity:1;}
.brand_wrap .slide_wrap .product_box {display:none;}
.brand_wrap .slide_wrap .product_box:first-child{display:block}
.brand_wrap .slide_wrap .product_box .list:first-child{padding:30px 0 20px 0}
.brand_wrap .slide_wrap .product_box .product_off{width:191px}
.brand_wrap .best_brand .tit{padding:0 0 15px 15px;font-size:16px;font-family:'NotoSansBold'}
.brand_wrap .best_brand .slide_brand{position:relative;width:100%}
.brand_wrap .best_brand .slide_brand .img{position:relative;height:221px}
.brand_wrap .best_brand .slide_brand .img li{position:absolute;left:0;top:0}
.brand_wrap .best_brand .slide_brand .img li img{width:929px;height:221px}
.brand_wrap .best_brand .slide_brand .slide_paging{position:absolute;left:50%;bottom:20px;width:50px;margin-left:-25px}
.brand_wrap .best_brand .slide_brand .slide_paging a{background-position:0 -16px}
.brand_wrap .best_brand .slide_brand .slide_paging a.on{background-position:0 0}
.brand_wrap .best_brand .slide_brand .btn_area{position:absolute;right:15px;top:15px}
.brand_wrap .list.ea4 li:hover > .product_over_outline {display:block;}
.brand_wrap .product_over_outline {display:none;box-sizing:border-box;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #e53433;cursor:pointer;}
.brand_wrap .list.ea4 li:hover .product_cont .tit span, .brand_wrap .list.ea4 li:hover .product_cont .tit strong {color:#e7302f;text-decoration:underline;}
.brand_wrap .list.ea4 > li {position:relative;float:left;width:232px;height:270px;padding:0;box-sizing: border-box;text-align:center;background:#fff;}
.brand_wrap .list.ea4 .img p {width:100%;text-align:center;margin-top:18px;}
.brand_wrap .list.ea4 .img p img {width:150px;height:150px;}
.brand_wrap .list.ea4 .txt ul {width:100%;}
.brand_wrap .list.ea4 .product_cont .tit {font-weight:bold;letter-spacing:-1px;overflow:hidden;text-overflow:ellipsis;padding:0 25px; font-family:'Noto Sans';} /* 17.12.08 font 수정 */
.brand_wrap .list.ea4 .product_cont .tit strong {display:block;line-height:1.3;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} 
.brand_wrap .list.ea4 .product_cont .tit span {width:100%;display:block;padding-top:7px;font-size:12px;font-weight:normal;line-height:1.3;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.brand_wrap .list.ea4 .product_cont .price {width:100%;padding-top:6px;letter-spacing:0;}
.brand_wrap .list.ea4 .product_cont .price .sale {text-decoration:line-through;color:#666;}
.brand_wrap .list.ea4 .product_cont .price .regular {padding-left:3px;font-size:14px;font-weight:bold;color:#eb3030;}
.brand_wrap .list.ea4 .product_cont .price .won {display:block;color:#999;padding-top:3px;}

/*  하단배너 */
.banner_wrap {width:931px;margin:0 auto 34px auto;}
.banner_wrap img {width:929px;height:144px;text-align:center;}