@charset "utf-8";

/*
==============
     signup start
==============
*/

/* signup common */
.signup_wrap h3 {font-size:24px;font-weight:bold;letter-spacing:-2px;line-height:1.5;}
.signup_wrap h4 {font-size:20px;font-weight:bold;letter-spacing:-2px;line-height:1.5;} 
.signup_wrap h3 > span , .signup_wrap h4 > span {color:#e53433;}
.signup_wrap .signup_contents {width:929px;text-align:center;border:1px solid #bfbfbf;}
.signup_wrap .btn_box {font-weight:bold;}

/* sign_up > signup_wrap >  signup_step */
.signup_wrap .signup_step .txt_box {margin-top:55px;border:1px solid #bfbfbf;}
.signup_wrap .signup_step .txt_box > .title {padding:40px 0; text-align:center;border-bottom:1px solid #e0e0e0;}
.signup_wrap .signup_step .txt_box > .title > h3 {font-size:24px;font-weight:bold;line-height:40px;letter-spacing:-1px;}
.signup_wrap .signup_step .txt_box > .title > p {font-size:18px;font-weight:bold;}
.signup_wrap .signup_step .txt_box > .title span {color:#eb3030;}
.signup_wrap .signup_step .txt_box > .info {font-size:15px;color:#e53433; padding:20px 0px;background:#f9f9f9;line-height:15px;letter-spacing:-1px;text-align:center;}
.signup_wrap .signup_step .txt_box > .info label {padding-left:20px;font-weight:bold;}
.signup_wrap .signup_step .terms {margin-top:40px;}
.signup_wrap .signup_step .terms h4 {font-size:17px;font-weight:bold;}
.signup_wrap .signup_step .terms > ul > li {margin-bottom:40px;}
.signup_wrap .signup_step .terms ul li .title {height:23px;}
.signup_wrap .signup_step .terms ul li .left_area {float:left;}
.signup_wrap .signup_step .terms ul li .left_area h4 {float:left;letter-spacing:-1px;margin-right:15px;}
.signup_wrap .signup_step .terms ul li .left_area.type01 h4 {float:left;font-weight:normal;letter-spacing:-1px;margin-right:15px;}
.signup_wrap .signup_step .terms ul li .left_area .btn_ss_white {width:55px;padding-right:8px; background:url('../img/common/ico_arrow_red_s.png') no-repeat 68px 8px;line-height:24px;}
.signup_wrap .signup_step .terms ul li .left_area.type01 .btn_ss_white {width:55px;padding-right:13px; background:url('../img/common/ico_arrow_red_s.png') no-repeat 75px 8px;line-height:24px;}
.signup_wrap .signup_step .terms ul li .left_area.type02 .btn_ss_white {width:27px;min-width:27px;padding-right:14px; background:url('../img/common/ico_arrow_red_s.png') no-repeat 34px 7px;line-height:24px;}
.signup_wrap .signup_step .terms ul li .left_area.type03 .btn_ss_white {width:50px;min-width:50px;padding-right:14px; background:url('../img/common/ico_arrow_red_s.png') no-repeat 55px 8px;line-height:24px;}
.signup_wrap .signup_step .terms ul li .right_area {float:right;padding-top:5px;}
.signup_wrap .signup_step .terms ul li .right_area label {position:relative;top:3px;line-height:14px;}
.signup_wrap .signup_step .terms ul li .section {float:left;width:880px;height:224px;padding:24px;margin-top:10px;border:1px solid #bfbfbf;overflow:auto;}
.signup_wrap .signup_step .terms .section > ul > li {margin-top:8px;line-height:1.5;}
.signup_wrap .signup_step .terms .section > ul > li:first-child {margin-top:0;}
.signup_wrap .signup_step .terms .section > p {line-height:1.5;}
.signup_wrap .signup_step .terms .section h5,
.signup_wrap .signup_step .terms .section h6 {font-weight:bold;line-height:22px;font-size:12px;}
.signup_wrap .signup_step .terms .section h6 {margin:20px 0 0;}
.signup_wrap .signup_step .terms .section h6 + p {margin-bottom:10px;}
.signup_wrap .signup_step .terms .table_normal {margin-top:20px;border-bottom:1px solid #bfbfbf;}
.signup_wrap .signup_step .terms .table_normal tr th {border-right:1px solid #bfbfbf;}
.signup_wrap .signup_step .terms .table_normal tr td {text-align:left;padding:15px 10px;}
.signup_wrap .signup_step .btn_area {text-align:center;}
.signup_wrap .signup_step .btn_area .btn_a_red {width:115px;}
.signup_wrap .signup_step .btn_area .btn_a_gray {width:155px;height:60px;line-height:60px;font-weight:bold;font-size:16px;padding:0 10px;}

/* .signup_wrap > .staff  */
.signup_wrap .staff {background-color:#f7f7f7;border:1px solid #bfbfbf;}
.signup_wrap .staff .title {padding:40px 0 30px;background-color:#fff;border-bottom:1px solid #d2d2d2;}
.signup_wrap .staff .title h3 {color:#0071bf !important;text-align:center;letter-spacing:-1px;}
.signup_wrap .staff .staff_input {width:360px;margin:0 auto;padding:36px 0px 40px;}
.signup_wrap .staff .staff_input .login {position:relative;left:-150px;width:660px;font-size:16px;font-weight:bold;text-align:center;color:#333;margin-bottom:30px;line-height:26px;}
.signup_wrap .staff .staff_input > ul  {border-bottom:1px solid #d2d2d2;}
.signup_wrap .staff .staff_input > ul > li:first-child {padding-bottom:15px;}
.signup_wrap .staff .staff_input > ul > li {padding-bottom:20px;}
.signup_wrap .staff .staff_input > ul > li > input {width:360px;height:50px;line-height:50px;padding: 0 20px !important;box-sizing: border-box;}
.signup_wrap .staff .staff_input > ul > li.fail {color:#e53433;text-align:center;font-size:12px;padding-bottom:10px;margin-top:15px;}
.signup_wrap .staff .staff_input > ul > li.fail span {display:inline-block;height:15px;padding-left:20px;background:url('../img/common/ico_warring_red.png') no-repeat;}
.signup_wrap .staff .staff_input .btn {width:100%;padding:16px 0;text-align:center;font-weight:bold;background-color:#0071bf;display:inline-block;color: #fff;margin:30px 0 0 0;font-size:15px;}
.signup_wrap .staff .staff_input .delivery_info {margin-top:20px;color:#666;border-bottom:1px solid #d2d2d2;padding-bottom:20px;text-align:center;}
.signup_wrap .staff .staff_input .delivery_info .delivery {font-size:14px;color:#333;font-weight:bold;margin-bottom:15px;}
.signup_wrap .staff .staff_input .delivery_info .cer_info {float:left;width:100%; margin-top:10px;color:#aaa;margin:12px 0 15px;font-size:11px;text-align:center;}
.signup_wrap .staff .staff_input .delivery_info .btn {float:left;width:133px;margin:0;background-color:#444444;padding:16px 0;font-size:15px;letter-spacing:-1px;}
.signup_wrap .staff .staff_input .delivery_info .input {width:216px;height:48px;line-height:48px;padding: 0 20px !important;box-sizing: border-box;display:block;float:right;}
.signup_wrap .staff .staff_input .delivery_info .chk_list {float:left;width:100%;text-align:center;}
.signup_wrap .staff .staff_input .delivery_info .chk_list li:first-child {margin-left:60px;}
.signup_wrap .staff .desc {padding:40px 0 35px;border-top:1px solid #d2d2d2;background-color:#fff;text-align:center;color:#666;}
.signup_wrap .staff .desc .btn_ss_white {width:55px;padding-right:8px;margin-left:5px; background:url('../img/common/ico_arrow_red_s.png') no-repeat 65px 8px;line-height:24px;}

/* signup > members_select */ 
.members_select_wrap .signup_contents {margin-top:35px;}
.members_select_wrap .signup_contents .title {padding:40px 0;}
.members_select_wrap .signup_contents .title .h3_area {margin-bottom:18px;}
.members_select_wrap .signup_contents .title p {font-size:14px;}
.members_select_wrap .signup_contents .select {border-top:1px solid #e0e0e0;background:#f7f7f7;padding:0 20px;}
.members_select_wrap .signup_contents .cupon {padding:40px 0;border-bottom:1px solid #e0e0e0;}
.members_select_wrap .signup_contents .cupon > ul > li {float:left;/*margin-left:38px;*/width:25%;}
.members_select_wrap .signup_contents .cupon > ul > li:first-child {margin-left:0;}
.members_select_wrap .signup_contents .btn_area {padding:75px 0 99px;}
.members_select_wrap .signup_contents .btn_area  .h4_area {margin-bottom:44px;}
.members_select_wrap .signup_contents .btn_area  .h4_area > h4 {line-height: 1.5;}
.members_select_wrap .signup_contents .btn_area .btn_box .btn_m_red {height:50px;line-height:50px;}
.members_select_wrap .signup_contents .btn_area .btn_box a {font-weight:bold;}

/* signup > members_nationals */ 
.members_nationals_wrap .signup_contents .title {padding:78px 0 72px;border-bottom:1px solid #e0e0e0;}
.members_nationals_wrap .signup_contents .title .h3_area {margin-bottom:40px;}
.members_nationals_wrap .signup_contents .title .btn_m_red {width:255px;height:50px;line-height:50px;}
.members_nationals_wrap .signup_contents .sns .h4_area {padding-bottom:39px;}
.signup_wrap .signup_contents .sns {margin:0 auto;padding: 64px 0 77px 0;border-top:1px solid #e0e0e0;}
.signup_wrap .signup_contents .sns .sns_icon {margin-top:40px;}
.signup_wrap .signup_contents .sns .sns_icon > ul  {width:250px;margin: auto;}
.signup_wrap .signup_contents .sns .sns_icon > ul > li {float:left;margin:0 3px;}
.members_nationals_wrap .signup_contents .btn_area {background:#f7f7f7;padding:30px 0;}
.members_nationals_wrap .signup_contents .btn_area > p {margin-bottom:30px;}

/* signup > members_foreigner */ 
.members_foreigner_wrap .signup_contents .title {padding:90px 0 90px;text-align:center;border-bottom:1px solid #e0e0e0;} 
.members_foreigner_wrap .signup_contents .title .h3_area h3 {margin-bottom:53px;}
.members_foreigner_wrap .signup_contents .title ul {width:320px;margin:0 auto;}
.members_foreigner_wrap .signup_contents .title > ul > li {float:left;width:70px;padding:0 5px;}
.members_foreigner_wrap .signup_contents .title > ul > li > a > dl > dt {margin-bottom:8px;border:1px solid #e0e0e0;}
.members_foreigner_wrap .signup_contents .title > ul > li > a > dl > dt img {width:100%;}
.members_foreigner_wrap .signup_contents .sns .h4_area {padding-bottom:40px;}

/* .signup_wrap .members_proof_wrap */
.members_proof_wrap .signup_contents {margin-top:55px;} 
.members_proof_wrap .title .h3_area {padding:40px 0;border-bottom:1px solid #e0e0e0;}
.members_proof_wrap .title .h3_area h3 {line-height:1;}
.members_proof_wrap .select {padding:60px 0;background:#f7f7f7;}
.members_proof_wrap .select > a {line-height:1.5;background:url('../img/common/bg_arrow3.png') no-repeat 330px 50%;display:block;float:left;background-color:#fff;border:1px solid #e0e0e0;padding:18px 0 25px 25px;width:335px;text-align:left;height:69px;color:#666;}
.members_proof_wrap .select > a > strong {display:block;font-size:18px;font-weight:bold;color:#333;padding-bottom:11px;}
.members_proof_wrap .select > a:first-child {margin-right:30px;margin-left:89px;padding-top:25px;height:62px;}
.members_proof_wrap .txt_box {border-top:1px solid #e0e0e0;padding:30px 0;}
.members_proof_wrap .txt_box ul {padding-left:135px;}
.members_proof_wrap .txt_box ul li {text-align:left;color:#666;letter-spacing:-1px;padding-top:9px;}
.members_proof_wrap .txt_box ul li:first-child {padding-top:0;}
.members_proof_wrap .find_id .cont .nationals > a {display:block;}

/* .members_select_wrap .signup_proof */
.members_select_wrap .signup_proof .title .h3_area {margin-bottom:0;}
.members_select_wrap .signup_proof .title .h3_area h3 {line-height:1;}
.members_select_wrap .signup_proof .select {padding:60px 0;}
.members_select_wrap .signup_proof .select > a {line-height:1.5;background:url('../img/common/bg_arrow3.png') no-repeat 330px 50%;display:block;float:left;background-color:#fff;border:1px solid #e0e0e0;padding:18px 0 25px 25px;width:335px;text-align:left;height:69px;color:#666;}
.members_select_wrap .signup_proof .select > a > strong {display:block;font-size:18px;font-weight:bold;color:#333;padding-bottom:11px;}
.members_select_wrap .signup_proof .select > a:first-child {margin-right:30px;margin-left:89px;padding-top:25px;height:62px;}
.members_select_wrap .signup_proof .txt_box {border-top:1px solid #e0e0e0;padding:30px 0;}
.members_select_wrap .signup_proof .txt_box ul {padding-left:135px;}
.members_select_wrap .signup_proof .txt_box ul li {text-align:left;color:#666;letter-spacing:-1px;padding-top:9px;}
.members_select_wrap .signup_proof .txt_box ul li:first-child {padding-top:0;}

/* .signup_wrap .foreigner_proof */
.foreigner_proof .select {text-align:center;padding:40px 0;}
.foreigner_proof .select > ul {width:380px;display:inline-block;}
.foreigner_proof .select > ul > li {padding-top:12px;}
.foreigner_proof .select > ul > li:first-child {padding-top:0;}
.foreigner_proof .select > ul > li > span {display:block;width:120px;float:left;line-height:29px;text-align:left;font-weight:bold;}
.foreigner_proof .select > ul > li > p {float:left;margin-left:1px;}
.foreigner_proof .select > ul > li > p > input {border:none;}
.foreigner_proof .select > ul > li > .input {width:240px;}
.foreigner_proof .select .passport_date {width:256px;border:1px solid #d3d3d3;background:#fff;text-align:left;}
.foreigner_proof .select .passport_date .input {width:197px;float:left;}
.foreigner_proof .select .passport_date .ic {display:block;float:right;width:18px;height:18px;margin:4px 5px;padding-left:10px;border-left:1px solid #e0e0e0;background:url(../img/common/ico_calender.png) no-repeat right 0;}
.foreigner_proof .btn_payment {margin-top:30px;}

.foreigner_proof .join_email > label {padding-right:30px;}
.foreigner_proof .join_email > select {width:150px;padding:4px 5px;}

/* .signup_wrap .members_sns_wrap */
.members_sns_wrap .select > strong {display:block;font-size:20px;padding-bottom:40px;}
.members_sns_wrap .select > strong + a {margin-right:30px;margin-left:89px;}
.members_sns_wrap .select > a {height:auto;}

/* .signup_wrap .sns_wrap */
.signup_wrap .sns_wrap .select {text-align:left;padding-bottom:30px;}
.signup_wrap .sns_wrap .select > .desc {padding-top:30px;font-weight:bold;}
.signup_wrap .sns_wrap .signup_step .terms {margin-top:0;}
.signup_wrap .sns_wrap .signup_step .terms ul li .title {padding:25px 0 15px;}
.signup_wrap .sns_wrap .signup_step .terms > ul > li {float:left;width:430px;margin-bottom:0;}
.signup_wrap .sns_wrap .signup_step .terms ul li .section {background-color:#fff;width:380px;height:140px;}
.signup_wrap .sns_wrap .signup_step .terms ul li.mar {margin-right:29px;}
.signup_wrap .sns_wrap .signup_step .terms ul li .btn_bottom {position:relative;padding-top:10px;clear:both;}
.signup_wrap .sns_wrap .signup_step .terms ul li .btn_bottom a {position:absolute;right:0;text-decoration:underline;color:#666;}
.signup_wrap .sns_wrap .membership_form {padding-top:50px;}
.signup_wrap .sns_wrap .membership_form .h3_area {padding-bottom:20px;}


/* sign_up > signup_wrap > membership_wrap > membership_form */
.membership_form .h2_area {position:relative;width:100%;padding-bottom:20px;/* margin-top:40px;*/}
.membership_form .h2_area h2 {font-size:24px;font-weight:bold;}
.membership_form .h2_area a.btn_ic_red_s {position:absolute;right:0;bottom:20px;background-position:100px 50%;}
.membership_form .table_tbody {margin-bottom:50px;}
.membership_form .table_tbody tr:first-child th, .membership_form .table_tbody tr:first-child td {border-top:2px solid #333;}
.membership_form .table_tbody th {padding:19px 15px;background-color:#fafafa;}
.membership_form .table_tbody td {padding:19px 15px;}
.membership_form .table_tbody .v_top {vertical-align:top;}
.membership_form .table_tbody .input {padding:6px 8px;border-color:#e9e9e9;}
.membership_form .table_tbody .l {width:300px;}
.membership_form .table_tbody .m {width:300px;}
.membership_form .table_tbody .ml {width:210px;}
.membership_form .table_tbody .ms {width:130px;}
.membership_form .table_tbody .s {width:77px;}
.membership_form .table_tbody .desc_red {font-size:11px;color:#e53433;}
.membership_form .table_tbody .desc_red img {padding:0 10px 0 5px}
.membership_form .table_tbody .desc_gray{padding-top:10px;font-size:11px;color:#999;}
.membership_form .table_tbody .txt_info_agree {padding-bottom:25px;}
.membership_form .table_tbody .txt_info_agree li {padding-bottom:5px;font-size:11px;color:#999;}
.membership_form .table_tbody .txt_info_agree li:first-child {padding-bottom:10px;font-size:12px;color:#333;}

.membership_form .table_tbody .txt_info {padding: 10px 0 0;}
.membership_form .table_tbody .txt_info li {padding-bottom:5px;padding-left:10px;font-size:11px;color:#999;position:relative;}
.membership_form .table_tbody .txt_info li > span {position:absolute;left:0;top:3px;}

.my_regular_member .membership_form .table_tbody .korea_visited li {width:92px;}

.membership_form .table_tbody .tel_add {padding:20px 0;}
.membership_form .table_tbody .tel_add dt {float:left;width:60px;height:35px;font-weight:bold;line-height:35px;}
.membership_form .table_tbody .tel_add dd {float:right;width:640px;height:35px;line-height:35px;}
.membership_form .table_tbody .tel_add dd ul {padding-top:12px;}
.membership_form .table_tbody .tel_add dd ul li {line-height:1;}
.membership_form .table_tbody .passport_date {width:270px;}
/*.membership_form .table_tbody a.btn_brown_s {width:65px;border-color:#40362a;background-color:#534a3f;font-weight:normal;}*/
.signup_wrap .pro_bg {margin-top:30px;}
.signup_wrap .btn_payment {text-align:center;padding-top:30px;}
.signup_wrap .btn_payment a {font-size:16px;}

/* sign_up > signup_wrap > membership_wrap > membership_form */
.membership_form {position:relative;width:100%;margin-top:15px;}
.membership_form .h2_area {position:relative;width:100%;padding-bottom:20px;}
.membership_form .h2_area h2 {font-size:24px;font-weight:bold;padding-top:50px;}
.membership_form .h2_area.type01 h2 {padding-top:10px;}
.membership_form .h2_area a.btn_ic_red_s {position:absolute;right:0;bottom:20px;background-position:100px 50%; padding:3px 10px 6px 7px;}
.membership_form .h2_area a.btn_ic_red_s:after {display: none;}
.membership_form .table_tbody {margin-bottom:0;}
.membership_form .table_tbody tr:first-child th, .membership_form .table_tbody tr:first-child td {border-top:2px solid #333;}
.membership_form .table_tbody th {padding:19px 15px;background-color:#fafafa;}
.membership_form .table_tbody th img {margin-top:-1px;padding-left:5px;}
.membership_form .table_tbody td {padding:19px 15px;}
.membership_form .table_tbody .v_top {vertical-align:top;}
.membership_form .table_tbody .input {padding:6px 8px;border-color:#e9e9e9;}
.membership_form .table_tbody .l {width:300px;}
.membership_form .table_tbody .m {width:300px;}
.membership_form .table_tbody .ml {width:210px;}
.membership_form .table_tbody .ms {width:130px;}
.membership_form .table_tbody select {padding:5px;}
.membership_form .table_tbody .s {width:77px;}
.membership_form .table_tbody .desc_red {font-size:11px;color:#e53433;}
.membership_form .table_tbody .desc_red img {padding:0 10px 0 5px}
.membership_form .table_tbody .desc_gray {padding-top:10px;font-size:11px;color:#999;}
.membership_form .table_tbody .txt_info_agree {padding-bottom:0;}
.membership_form .table_tbody .txt_info_agree li {padding-bottom:5px;font-size:11px;color:#999;}
.membership_form .table_tbody .txt_info_agree li.red {color:#e53433;}
.membership_form .table_tbody .txt_info_agree li:first-child {padding-bottom:10px;font-size:12px;color:#333;}
.membership_form .table_tbody .tel_add {padding:20px 0;}
.membership_form .table_tbody .tel_add dt {float:left;width:60px;height:35px;font-weight:bold;line-height:35px;}
.membership_form .table_tbody .tel_add dd {float:right;width:640px;height:35px;line-height:35px;}
.membership_form .table_tbody .tel_add dd ul {padding-top:12px;}
.membership_form .table_tbody .tel_add dd ul li {line-height:1;}
.membership_form .table_tbody .chk_list li {padding:6px 0;width:15%;}
.membership_form .table_tbody .chk_list.type01 li {padding:6px 0;width:21%;}
.membership_form .table_tbody a.btn_brown_s {width:65px;border-color:#40362a;background-color:#979797;font-weight:normal;}
.membership_form .btn_payment {text-align:center;}
.membership_form .btn_payment a {font-size:16px;}

/*sign_up > signup_wrap > membership_form > tooltip_layer */
.membership_form .tooltip_layer .box ul {width:400px;}
.membership_form .tooltip_layer .box ul li {padding-top:10px;font-size:11px;font-weight:normal;letter-spacing:-1px;}
.membership_form .tooltip_layer .box ul li:first-child {padding-top:0;}

/*sign_up > signup_wrap > membership_wrap > popup_layer */
#passport_info_guide.popup_layer {width:480px;position:absolute;}
#passport_info_guide.popup_layer .padding {padding:30px 20px 12px;font-size:11px;}
#passport_info_guide.popup_layer .txt1 li:first-child {padding-bottom:7px;}
#passport_info_guide.popup_layer .img {padding:20px 0;}
#passport_info_guide.popup_layer .txt2 > li {padding-bottom:18px;}
#passport_info_guide.popup_layer .txt2 > li > ul {padding-left:16px;padding-top:8px;}
#passport_info_guide.popup_layer .txt2 > li > ul > li {line-height:1.5;}
.membership_form .btn_payment a {font-size:16px;}
.membership_form_layer {width:480px;}
.membership_form_layer .padding {padding:30px 20px 12px;font-size:11px;}
.membership_form_layer .txt1 li:first-child {padding-bottom:7px;}
.membership_form_layer .img {padding:20px 0;}
.membership_form_layer .txt2 > li {padding-bottom:18px;}
.membership_form_layer .txt2 > li > ul {padding-left:16px;padding-top:8px;}
.membership_form_layer .txt2 > li > ul > li {line-height:1.5;}

/*sign_up > signup_wrap > associate_form */
.membership_form .table_tbody .radio_list li {float:left;}
.membership_form .table_tbody .radio_list li:first-child {margin-right:20px;} 
.membership_form .table_tbody .birthday > span {margin-right:10px;}
.membership_form .table_tbody input + span.desc {margin-left:7px;}
.membership_form .table_tbody .desc_gray li:first-child {padding-bottom:5px;}
.membership_form .interested_brand .chk_brand li.select select+select {min-width:240px;}
.membership_form .interested_brand .chk_brand li.result {padding-top:10px;}
.membership_form .interested_brand .chk_brand li.result span {margin-right:30px;}
.membership_form .interested_brand .chk_brand li.result span a { text-indent: -9999px;display:inline-block;width:10px;height:10px;line-height:10px; background:url("../img/common/ico_close_red.png") no-repeat 0 0;}


/*sign_up > signup_wrap > foreigner_form */
.foreigner_form .table_tbody .desc_gray li {padding-top:3px;}
.foreigner_form .table_tbody .desc_gray li:first-child {padding-top:0;}
.foreigner_form .table_tbody .nationality > select {width:208px;}
.foreigner_form .table_tbody .passport_date {width:208px;}
.foreigner_form .table_tbody .ml {width:153px;}
.foreigner_form .table_tbody .input_lg {width:650px;}
.foreigner_form .table_tbody .agree_txt {display:block;padding-bottom:10px;}
.foreigner_form .table_tbody .chk_brand li {padding-bottom:5px;}
.foreigner_form .interested_brand .chk_brand li.select select+select {min-width:240px;}
.foreigner_form .interested_brand .chk_brand li.result {padding-top:10px;}
.foreigner_form .interested_brand .chk_brand li.result span {margin-right:30px;}
.foreigner_form .interested_brand .chk_brand li.result span a { text-indent: -9999px;display:inline-block;width:10px;height:10px;line-height:10px; background:url("../img/common/ico_close_red.png") no-repeat 0 0;}




/*sign_up > signup_wrap > membership_fin */
.membership_fin {margin-top:60px;border-top:1px solid #e0e0e0;}
.membership_fin .h2_area {position:relative; width:100%;padding-top:60px;}
.membership_fin .h2_area h2 {width:170px;padding-top:5px;}
.membership_fin .h2_area .txt {width:735px; padding-top:5px;}
.membership_fin .h2_area .txt li {padding-top:5px; letter-spacing:-1px;color:#666;}
.membership_fin .h2_area .txt span {color:#e53433;}
/* .membership_fin .h2_area .txt a.btn_ss_white {display:block;position:absolute;top:0;right:0;} */
.membership_fin .h2_area .tooltip_wrap {display:block;position:absolute;top:60px;right:0;}
.membership_fin .h2_area .txt a.btn_ss_white img {padding-right:7px;}

.membership_fin .save_star {position:relative;text-align:center;margin-top:40px;padding:30px 40px;border:1px solid #efefef;background-color:#f7f7f7;font-size:24px;font-weight:bold;}
.membership_fin .save_star em {color:#333;font-size:22px;font-weight:bold;position:relative;top:-5px;}
.membership_fin .save_star span.star {/*display:block;position:absolute;right:40px;top:25px;*/}

.membership_fin .h2_area .tooltip_layer {left:-350px;top:-58px;width:336px;z-index:999;}
.membership_fin .h2_area .tooltip_layer .ic {left:335px;background-image:url(../img/common/ico_arrow_right.png);}
.membership_fin .h2_area .tooltip_layer .box {}
.membership_fin .h2_area .tooltip_layer .box dl {font-size:11px;font-weight:normal;letter-spacing:-1px;}
.membership_fin .h2_area .tooltip_layer .box dt {padding-bottom:10px;font-weight:bold;}
.membership_fin .h2_area .tooltip_layer .box dd {line-height:1.5;}
.membership_fin .table_tbody .chk_list li {width:15%;padding:5px 0;}
.membership_fin .table_tbody .chk_brand li {padding-top:10px;}
.membership_fin .table_tbody .chk_brand li:first-child {padding-top:0;}
.membership_fin .table_tbody select {padding:5px;}
.membership_fin .table_tbody .anniversary_select select {float:left;margin-right:10px;}
.membership_fin .table_tbody .anniversary_select .passport_date {float:left;width:200px;}
.membership_fin .table_tbody .anniversary_select .passport_date .input {width:130px;}

/* .popup_wrap .login */
.popup_wrap .login {width:465px;margin:0 auto;}
.popup_wrap .login .h1_area {background-color:#f7f7f7;}
.popup_wrap .login .newwin .cont .login_write, .popup_wrap .login .newwin .cont .sns {width:360px;margin:0 auto;}
.popup_wrap .login .newwin .cont .login_write .btn {padding-top:20px;}
.popup_wrap .login .newwin .cont .login_write .btn a.btn_ic_red_s {background-position:117px 50%;}

/* .popup_wrap .login .login_write */
.popup_wrap .login .login_write {padding:30px 0 35px;border-bottom:1px solid #e0e0e0;}
.popup_wrap .login .login_write h2, .popup_wrap .login .sns h2 {font-size:20px;font-weight:bold;text-align:center;padding-bottom:20px;}
.popup_wrap .login .login_write .input {width:342px;padding:0 8px;height:46px;line-height:46px;margin-bottom:10px;}
.popup_wrap .login .login_write p.save {padding-top:6px;}
.popup_wrap .login .login_write a.btn_red {display:block;margin:20px 0 15px;padding:16px 0;width:358px;text-align:center;background-color:#e53433;font-weight:bold;font-size:16px;color:#fff;}
.popup_wrap .login .login_write .find_area li {float:left;}
.popup_wrap .login .login_write .find_area li > a {color:#666;text-decoration:underline;padding-right:10px;margin-right:14px;background:url('../img/common/bg_arrow2.png') no-repeat right 4px;}
.popup_wrap .login .login_write .find_area li.right {float:right;}
.popup_wrap .login .login_write .find_area li.right > a {margin:0;}
.popup_wrap .login .login_write .caution {color:#ef3f3b;text-align:center;padding-bottom:18px;line-height:1.3;background:url('../img/common/ico_warring_red.png') no-repeat 42px 0;}

/* .popup_wrap .login .sns */
.popup_wrap .login .sns {padding:30px 0;}
.popup_wrap .login .sns h2 {padding-bottom:30px;} 
.popup_wrap .login .sns ul li {float:left;margin-left:5px;}
.popup_wrap .login .sns ul li:first-child {margin-left:80px;}
.popup_wrap .login .sns ul li a {display:block;border-radius:4px;border:1px solid #000;}
.popup_wrap .login .sns ul li a.facebook {border-color:#3864a3;}
.popup_wrap .login .sns ul li a.tw {border-color:#52a8ea;}
.popup_wrap .login .sns ul li a.kakao {border-color:#fbe300;}
.popup_wrap .login .sns ul li a.insta {border-color:#2a5b83;}
.popup_wrap .login .sns ul li a.google {border-color:#ef3f3b;}

/* .popup_wrap .login .no_member */
.popup_wrap .login .no_member {border-top:1px solid #e1e1e1;background-color:#f7f7f7;text-align:center;padding:22px 0;}
.popup_wrap .login .no_member p a.btn_ic_red_s {margin-left:20px;background-position:110px 50%;padding:4px 15px 6px 6px;}
.popup_wrap .login .buy p a.btn_ic_red_s {margin-left:20px;background-position:51px 50%;}

/* .popup_wrap .login .limits */
.popup_wrap .login .limits {text-align:center;}
.popup_wrap .login .limits .img {padding:10px 0 30px;}
.popup_wrap .login .limits p {line-height:1.6;color:#666;}
.popup_wrap .login .limits p.fail {color:#333;padding-bottom:15px;}
.popup_wrap .login .limits .btn_area {text-align:center;}
.popup_wrap .login .limits .btn_area > a {display:inline-block;padding:11px 0;width:120px;font-size:13px;font-weight:bold;color:#fff;}
.popup_wrap .login .limits .btn_area > a.btn_red {background-color:#e53433;}
.popup_wrap .login .limits .btn_area > a.btn_brown {background-color:#555;}

/* .popup_wrap .login .no_mem_lookup */
.popup_wrap .login .no_mem_lookup {width:/*360px*/100%;margin:0 auto;padding:30px 0 35px;}
.popup_wrap .login .no_mem_lookup p {text-align:center;padding-bottom:15px;line-height:1.5;}
.popup_wrap .login .no_mem_lookup .input {width:342px;padding:16px 8px;margin-bottom:10px;}
.popup_wrap .login .no_mem_lookup a.btn_red {display:block;margin:8px 0 0;padding:16px 0;width:358px;text-align:center;background-color:#e53433;font-weight:bold;font-size:16px;color:#fff;}
.popup_wrap .login .no_mem_lookup a.btn_red2 {margin:8px auto 0;}
.popup_wrap .login .no_mem_lookup .caution {text-align:left;padding-left:23px;background-position:0 0;}

/* .popup_wrap .login .passport_date */
.popup_wrap .login .passport_date h2 {text-align:center;font-size:20px;font-weight:bold;padding-bottom:20px;}
.popup_wrap .login .passport_date h2 > span {color:#ef3f3b;}
.popup_wrap .login .passport_date a.btn_red {margin-top:35px;}

/* .pr_wrap .img .gift - 디테일페이지 사은품 */
.pr_wrap .img .gift {border-top:1px solid #f0f0f0;padding:18px 0 18px 15px;text-align:center;font-size:11px;color:#666;letter-spacing:-1px;}
.pr_wrap .img .gift > span {background:#aba000;border:1px solid #9a9000;color:#fff;padding:1px 4px;margin-right:5px;}
.pr_wrap .img .gift > a {font-size:11px;color:#e53433;text-decoration:underline;margin-left:5px;}

/* .pr_wrap .txt .area .reorder_apply - 디테일페이지 재입고알림 */
.pr_wrap .txt .area .reorder_apply > p {font-size:11px;}
.pr_wrap .txt .area .reorder_apply > p > strong {display:block;font-size:12px;padding-bottom:8px;}
.pr_wrap .txt .area .reorder_apply a.btn_brown {margin-top:15px;font-size:16px;font-weight:bold;color:#fff;background-color:#444444;border:1px solid #000;width:100%;display:block;text-align:center;padding:21px 0;}

/* .pr_wrap .txt .area .special_order - 디테일페이지 스페셜오더 */
pecial_order > p {font-size:11px;}
.pr_wrap .txt .area .special_order > p > strong {display:block;font-size:12px;padding-bottom:8px;}
.pr_wrap .txt .area .special_order a.btn_red {margin-top:15px;font-size:16px;font-weight:bold;color:#fff;background-color:#e53433;border:1px solid #d3222a;width:100%;display:block;text-align:center;padding:21px 0;}

/* .popup_wrap .address */
.popup_wrap .newwin.pop_add {border-top:1px solid #000;}
.popup_wrap .newwin.pop_add .h1_area {padding:32px 0 29px 0;text-align:center;}
.popup_wrap .newwin.pop_add .h1_area h1 {font-size:26px;}
.popup_wrap .address {width:465px;margin:0 auto;}
.popup_wrap .address .cont {padding:20px 15px 30px;}


/* .popup_wrap .address .search_form .select_city */
.popup_wrap .address .search_form .select_city {background-color:#f7f7f7;border:1px solid #e0e0e0;border-left:none;border-right:none;padding:13px 0;}
.popup_wrap .address .search_form .select_city > p {float:right;margin-right:20px;}
.popup_wrap .address .search_form .select_city > p:first-child {float:left;margin-left:20px;}
.popup_wrap .address .search_form .select_city > p > strong {padding-right:19px;}
.popup_wrap .address .search_form .select_city > p > select {min-width:107px;}
.popup_wrap .address .search_form > .chk_list {padding:20px 0 10px;}

/* .popup_wrap .address .search_form .write */
.popup_wrap .address .search_form .write > .input {width:387px;float:left;}
.popup_wrap .address .search_form .write > a {float:right;border:1px solid #ef3f3b;background:#ef3f3b url('../img/common/ico_search_12px.png') no-repeat 7px 5px;width:26px;height:23px;display:block;text-indent:-999em;}

/* .popup_wrap .address .search_form .ex */
.popup_wrap .address .search_form .ex {padding-top:11px;}
.popup_wrap .address .search_form .ex li {color:#999;font-size:11px;}
.popup_wrap .address .search_form .ex li:first-child {padding-bottom:5px;}

/* .popup_wrap .address .select_address */
.popup_wrap .address .select_address {padding-top:30px;}
.popup_wrap .address .select_address .table_normal {margin-top:15px;}
.popup_wrap .address .select_address .table_normal th {padding:13px 5px;background-image:none;font-weight:bold;color:#333;}
.popup_wrap .address .select_address .table_normal td {line-height:1.5;border-bottom:1px solid #e0e0e0;padding:12px 10px;}
.popup_wrap .address .select_address .table_normal td.alignL {text-align:left;}
.popup_wrap .address .select_address .table_normal td a:hover {font-weight:bold;}

/* .popup_wrap .address .detail_address */
.popup_wrap .address .detail_address {padding-top:30px;}
.popup_wrap .address .detail_address .write {padding-top:15px;}
.popup_wrap .address .detail_address .ma_num {width:102px;margin-bottom:8px;background-color:#f7f7f7;color:#666;}
.popup_wrap .address .detail_address .add {width:285px;margin-bottom:8px;background-color:#f7f7f7;color:#666;}
.popup_wrap .address .detail_address .det {width:345px;}
.popup_wrap .address .detail_address .write > a.btn_brown_s {height:25px;line-height:25px;font-weight:normal;}
.popup_wrap .address .detail_address .radio_address {padding-top:30px;}
.popup_wrap .address .detail_address .radio_address > .chk_list {border:1px solid #bfbfbf;border-left:none;border-right:none;margin-top:15px;}
.popup_wrap .address .detail_address .radio_address > .chk_list li {padding:20px 0 19px 15px;border-top:1px solid #e0e0e0;float:none;}
.popup_wrap .address .detail_address .radio_address > .chk_list li:first-child {border-top:none;}
.popup_wrap .address .detail_address .radio_address > .chk_list li > label {width:95px;}

/* .popup_wrap .address .btn_area */
.popup_wrap .address .btn_area {text-align:center;padding-top:30px;}
.popup_wrap .address .btn_area > a.btn_red {display:inline-block;background-color:#ef3f3b;border:1px solid #cb3632;width:180px;color:#fff;padding:21px 0;font-size:16px;font-weight:bold;}


/* .popup_wrap > newwin > terms */
.popup_wrap .newwin .terms {padding:20px 15px 30px 15px;}
.popup_wrap .newwin .terms .section {height:271px;overflow:auto;padding:15px 10px;border:1px solid #bfbfbf;}
.popup_wrap .terms .section h2 {padding-top:20px; font-weight:bold;line-height:22px;font-size:12px;}
.popup_wrap .terms .section > ul > li {margin-top:10px;line-height:1.5;}
.popup_wrap .terms .section > ul > li:first-child {margin-top:0;}
.popup_wrap .terms .section > p {line-height:1.5;}
.popup_wrap .terms .table_normal {border-bottom:1px solid #bfbfbf;line-height:1.5;}
.popup_wrap .terms .table_normal tr th {text-align:left;padding:15px 10px;border-right:1px solid #bfbfbf;background:#f7f7f7;}
.popup_wrap .terms .table_normal tr td {text-align:left;padding:15px 10px;}


/*
==============
    signup end
==============
*/



/*
==============
   member start
==============
*/

/* member common */
.member_wrap h3 {font-size:24px;font-weight:bold;letter-spacing:-2px;line-height:1.5;}
.member_wrap h4 {font-size:20px;font-weight:bold;letter-spacing:-2px;line-height:1.5;} 
.member_wrap h3 > span , .member_wrap h4 > span , .member_wrap strong > span{color:#e53433;}
.member_wrap .member_contents {width:929px;text-align:center;border:1px solid #bfbfbf;}
.member_wrap .member_contents .title strong {font-size:20px;font-weight:bold;color:#666;line-height:1.5;}
.member_wrap .member_contents .btn_box {font-weight:bold;}
.member_wrap .alert {display:inline-block;margin-bottom:30px;padding-left:18px;line-height:18px;color:#ef3f3b; background:url(../img/common/ico_warring_red.png) no-repeat 0 50%;}

/* .member_wrap .find_id */
.member_wrap .find_id .title .h3_area {padding:40px 0;}
.member_wrap .find_id .title .h3_area h3 {line-height:1;}
.member_wrap .find_id .title .h3_area p {padding-top:15px;color:#666;}
.member_wrap .find_id .cont {background-color:#f7f7f7;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding-bottom:45px;}
.member_wrap .find_id .cont .nationals, .member_wrap .find_id .cont .foreigner {width:360px;float:left;padding:0 52px;margin-top:43px;}
.member_wrap .find_id .cont .nationals {border-right:1px solid #dddddd;}
.member_wrap .find_id .cont .nationals p, .member_wrap .find_id .cont .foreigner p {margin:10px 0 20px;line-height:1.25;}
.member_wrap .find_id .cont .nationals p.in_people {margin-bottom:15px;}
.member_wrap .find_id .cont .nationals p > strong, .member_wrap .find_id .cont .foreigner p > strong {display:block;font-size:20px;padding-bottom:13px;color:#333;}
.member_wrap .find_id .cont .nationals p > strong.people {padding-bottom:20px;}
.member_wrap .find_id .cont .nationals p > span.bold {font-size:13px;font-weight:bold;}
.member_wrap .find_id .cont .nationals p > span.me {margin-right:30px;}
.member_wrap .find_id .cont .nationals > a.certify {line-height:1.5;background:url('../img/common/bg_arrow3.png') no-repeat 330px 50%;display:block;background-color:#fff;border:1px solid #e0e0e0;padding:18px 0 22px 25px;width:335px;text-align:left;height:69px;color:#666;}
.member_wrap .find_id .cont .nationals > a > strong {display:block;font-size:18px;font-weight:bold;color:#333;padding-bottom:11px;}
.member_wrap .find_id .cont .nationals > a.first {padding-top:25px;height:62px;margin-bottom:8px;}

.member_wrap .find_id .cont .nationals p.fail {background:url('../img/common/ico_warring_red.png') no-repeat 35px 1px;color:#ef3f3b;}
.member_wrap .find_id .cont .nationals input.type01 {display:block;width:342px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_id .cont .nationals input.type02 {display:inline-block;width:148px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_id .cont .nationals span.gol {font-size:18px;padding:0 1px;color:#999;}
.member_wrap .find_id .cont .nationals select {display:block;width:360px;padding:17px 8px;color:#999;}
.member_wrap .find_id .cont .nationals .btn_brown {display:block;margin-top:10px;padding:18px 0;width:360px;background-color:#555;font-weight:bold;font-size:15px;color:#fff;}

.member_wrap .find_id .cont .foreigner .input {display:block;width:342px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_id .cont .foreigner a.btn_brown {background-color:#e53433;display:block;width:360px;color:#fff;padding:18px 0;font-size:15px;font-weight:bold;margin-top:10px;}
.member_wrap .find_id .cont .foreigner p.fail {color:#ef3f3b;background:url('../img/common/ico_warring_red.png') no-repeat 28px 94px;}
.member_wrap .find_id .cont .foreigner p.fail span {display:block;margin-top:55px;}
.member_wrap .find_id .find_area {padding:45px 0;}
.member_wrap .find_id .find_area a {color:#666;background:url('../img/common/bg_line_11px_c9c9c9.png') no-repeat right;padding-right:10px;margin-right:10px;}
.member_wrap .find_id .find_area a.none {background-image:none;}
.member_wrap .find_id .cont .nationals p > span.txt {display:block;padding-top:20px;line-height:18px;}

/* member > find_id_info */
.member_wrap .find_id_info .title {padding:100px 0 95px;border-bottom:1px solid #e0e0e0;}
.member_wrap .find_id_info .title .h3_area {padding-bottom:47px;}
.member_wrap .find_id_info .title .h3_area h3 {padding-bottom:24px;}
.member_wrap .find_id_info .txt_area {text-align:center;}
.member_wrap .find_id_info .txt_area > ul {display:inline-block;padding:45px 0;}
.member_wrap .find_id_info .txt_area > ul > li {float:left;}
.member_wrap .find_id_info .txt_area > ul > li:first-child {padding-right:10px;margin-right:10px;border-right:1px solid #e0e0e0;}
.member_wrap .find_id_info .find_area {padding:45px 0;}
.member_wrap .find_id_info .find_area a {color:#666;background:url('../img/common/bg_line_11px_c9c9c9.png') no-repeat right;padding-right:10px;margin-right:10px;}
.member_wrap .find_id_info .find_area a.none {background-image:none;}

/* member > find_pw */
.member_wrap .find_pw .title .h3_area {padding:40px 0;}
.member_wrap .find_pw .title .h3_area h3 {line-height:1;}
.member_wrap .find_pw .title .h3_area p {padding-top:15px;color:#666;}
.member_wrap .find_pw strong {display:block;font-size:20px;padding-bottom:13px;}
.member_wrap .find_pw strong.in_people {padding-bottom:20px;}
.member_wrap .find_pw .cont {background-color:#f7f7f7;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.member_wrap .find_pw .cont .nationals, .member_wrap .find_pw .cont .foreigner {width:360px;float:left;padding:10px 52px 12px 52px;margin:45px 0;}
.member_wrap .find_pw .cont .nationals .txt_box > p{margin-bottom:15px;line-height:1.5;}
.member_wrap .find_pw .cont .nationals .txt_box .email_area {margin-top:8px;}
.member_wrap .find_pw .cont .foreigner p {margin-bottom:12px;line-height:1.5;}
.member_wrap .find_pw .cont .nationals p > strong, .member_wrap .find_pw .cont .foreigner p > strong {display:block;font-size:20px;padding-bottom:13px;color:#333;}
.member_wrap .find_pw .cont .nationals .certification > strong {font-size:14px;padding-top:45px;}
.member_wrap .find_pw .cont .nationals .certification > strong + p {padding-bottom:35px;}
.member_wrap .find_pw .cont .nationals .certification .certification1{margin-right:30px;}
.member_wrap .find_pw .cont .nationals p > span.bold {font-weight:bold;font-size:13px;}
.member_wrap .find_pw .cont .nationals p > span.bold:first-child {margin-right:30px;}
.member_wrap .find_pw .cont .input {display:block;width:342px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_pw .cont .nationals .input {margin-bottom:0;}
.member_wrap .find_pw .cont .input_half {width:158px;float:left;}
.member_wrap .find_pw .cont .input_half + .input_half {margin-left:7px;}
.member_wrap .find_pw .cont .foreigner { border-left:1px solid #dddddd;}
.member_wrap .find_pw .cont a.btn_m_gray {width:360px;margin:0;font-weight:bold;}
.member_wrap .find_pw .find_area {padding:45px 0;}
.member_wrap .find_pw .find_area a {color:#666;background:url('../img/common/bg_line_11px_c9c9c9.png') no-repeat right;padding-right:10px;margin-right:10px;}
.member_wrap .find_pw .find_area a.none {background-image:none;}
.member_wrap .find_pw .cont .nationals input.type01 {display:block;width:342px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_pw .cont .nationals input.type02 {display:inline-block;width:148px;padding:17px 8px;margin-bottom:8px;}
.member_wrap .find_pw .cont .nationals span.gol {font-size:18px;padding:0 1px;color:#999;}
.member_wrap .find_pw .cont .nationals select {display:block;width:360px;padding:15px 8px;color:#999;margin-bottom:8px;}
.member_wrap .find_pw .cont .foreigner strong.people {padding-bottom:55px;}



/* member > find_pw_email */
.member_wrap .find_pw_email .title {padding:100px 0 95px;border-bottom:1px solid #e0e0e0;}
.member_wrap .find_pw_email .title .h3_area h3 {padding-bottom:40px;}
.member_wrap .find_pw_email .title  strong {color:#e53433;}
.member_wrap .find_pw_email .txt_area {padding:45px 0;background:#f7f7f7;}
.member_wrap .find_pw_email .txt_area > p {font-weight:bold;color:#666;}

/* member > find_pw_error */
.member_wrap .find_pw_error .title {padding:90px 0 60px;background:url(../img/sub/bg_line_48.png) no-repeat 50% 100%;}
.member_wrap .find_pw_error .title .h3_area h3 {padding-bottom:20px;letter-spacing:-1px;}
.member_wrap .find_pw_error .title  strong {letter-spacing:-1px;}
.member_wrap .find_pw_error .txt_area {padding:40px 0 90px;}
.member_wrap .find_pw_error .txt_area > p {font-weight:bold;color:#666;padding-bottom:40px;}
.member_wrap .find_pw_error .txt_area .btn_m_red {width:358px;height:48px;line-height:48px;}

/* member > find_pw_complete */
.member_wrap .find_pw_complete .member_contents{padding:100px 0;}
.member_wrap .find_pw_complete .h3_area {padding-bottom:46px;}
.member_wrap .find_pw_complete .h3_area h3 {padding-bottom:23px;font-size:24px;letter-spacing:-1px;}
.member_wrap .find_pw_complete .h3_area strong {font-size:20px;color:#666; letter-spacing:-2px;}

/* member > pw_reset */
.member_wrap .pw_reset .h3_area {padding:40px 0;border-bottom:1px solid #e0e0e0;}
.member_wrap .pw_reset .cont {padding:40px;background:#f7f7f7;border-bottom:1px solid #e0e0e0;}
.member_wrap .pw_reset .cont > strong {display:block;font-size:20px;margin-bottom:35px;}
.member_wrap .pw_reset .cont p {line-height:18px;margin-bottom:30px;}
.member_wrap .pw_reset .cont .txt_box {margin:0 auto;width:361px;}
.member_wrap .pw_reset .cont .txt_box .input {display:block;width:342px;padding:17px 8px;}
.member_wrap .pw_reset .cont .txt_box .input + .input {margin-top:8px;}
.member_wrap .pw_reset .cont .txt_box span.alert {display:block;margin:8px 0 16px;text-align:left;}
.member_wrap .pw_reset .cont .btn_m_gray {width:358px;font-weight:bold;}
.member_wrap .pw_reset .txt_area {text-align:left;padding:20px 0 20px 275px;line-height:1.5;}
.member_wrap .pw_reset .cont .btn_area {width:360px;margin:0 auto;}
.member_wrap .pw_reset .cont .btn_area a {width:175px;margin:0;}
.member_wrap .pw_reset .cont .btn_area a:first-child {margin-right:2px;}

/* member > logout_banner01 */
.member_wrap .logout_banner01 .member_contents {padding-bottom:25px;}
.member_wrap .logout_banner01 .title {padding:93px 0 73px;}
.member_wrap .logout_banner01 .title .h3_area h3 {padding-bottom:20px;letter-spacing:-1px;}
.member_wrap .logout_banner01 .title  strong {font-size:16px;letter-spacing:-1px;}
.member_wrap .logout_banner01 .txt_area {padding:0;}
.member_wrap .logout_banner01 .txt_area .btn_box {padding-bottom:50px;}
.member_wrap .logout_banner01 .txt_area .btn_box > a  {height:48px;line-height:48px;font-size:16px;}

/* member > find_pw_error 
.member_wrap .find_pw_error .title {padding:90px 0 60px;background:url(../img/sub/bg_line_48.png) no-repeat 50% 100%;}
.member_wrap .find_pw_error .title .h3_area h3 {padding-bottom:20px;letter-spacing:-1px;}
.member_wrap .find_pw_error .title  strong {letter-spacing:-1px;}
.member_wrap .find_pw_error .txt_area {padding:40px 0 90px;}
.member_wrap .find_pw_error .txt_area > p {font-weight:bold;color:#666;padding-bottom:40px;}
.member_wrap .find_pw_error .txt_area .btn_m_red {width:358px;height:48px;line-height:48px;border:1px solid #9f2626;}*/

/* member > logout_banner01 
.member_wrap .logout_banner01 .member_contents {padding-bottom:25px;}
.member_wrap .logout_banner01 .title {padding:93px 0 73px;}
.member_wrap .logout_banner01 .title .h3_area h3 {padding-bottom:20px;letter-spacing:-1px;}
.member_wrap .logout_banner01 .title  strong {font-size:16px;letter-spacing:-1px;}
.member_wrap .logout_banner01 .txt_area {padding:0;}
.member_wrap .logout_banner01 .txt_area .btn_box {padding-bottom:50px;}
.member_wrap .logout_banner01 .txt_area .btn_m_red {height:48px;line-height:48px;}*/

/* member > logout_banner02 */
.member_wrap .logout_banner02 .member_contents {margin-bottom:60px;padding:93px 0 96px;}
.member_wrap .logout_banner02 .title {padding-bottom:73px;}
.member_wrap .logout_banner02 .title .h3_area h3 {padding-bottom:36px;letter-spacing:-1px;}
.member_wrap .logout_banner02 .title  strong {font-size:16px;letter-spacing:-1px;}
.member_wrap .logout_banner02 .txt_area a {height:48px;line-height:48px;font-size:16px;}
.logout_banner02 .special_event {width:929px;margin-bottom:5px;border:1px solid #aeaeae;}
.logout_banner02 .special_event .img_list .list {position:relative;float:left;width:309px;border-left:1px solid #aeaeae;background-color:#fff;}
.logout_banner02 .special_event .img_list .list:first-child {border-left:none;}
.logout_banner02 .special_event .img_list .list dl {padding:15px 20px 20px 20px; border-bottom:none;}
.logout_banner02 .special_event .img_list .list dl dt.tit a {display:block;padding-bottom:7px;font-size:15px;font-weight:bold;letter-spacing:-1px;color:#000;}
.logout_banner02 .special_event .img_list .list dl dd.date a {display:block;padding-top:10px;font-size:11px;font-family:"Tahoma";color:#999;}
.logout_banner02 .special_event .img_list .list .ico_sale {position:absolute;right:15px;top:110px;}

/* my_regular_proof */
.my_regular_proof .agree_4step {margin-top:0px; background:#f1f1f1 url('../img/common/bg_step_03.png')no-repeat 0 0; }
.my_regular_proof .agree_4step li:first-child {width:206px;}
.my_regular_proof .agree_4step li {width:206px;padding:0 0 17px 160px;}
.my_regular_proof .agree_4step ul li.certify {background-position:100px -691px;}
.my_regular_proof .agree_4step ul li.certify.on {background-position:100px -792px;}
.my_regular_proof .agree_4step ul li.certify.end {background-position:100px -692px;}
.my_regular_proof .agree_4step ul li.info {background-position:100px -190px;}
.my_regular_proof .agree_4step ul li.info.on {background-position:100px -291px;}
.my_regular_proof .agree_4step ul li.info.end {background-position:100px -392px}

.my_regular_proof .agree_3step li {width:144px;padding:0 0 17px 100px;}
.my_regular_proof .agree_3step li:first-child {width:144px;}
.my_regular_proof .agree_3step ul li.certify {background-position:55px -691px;}
.my_regular_proof .agree_3step ul li.certify.on {background-position:55px -792px;}
.my_regular_proof .agree_3step ul li.certify.end {background-position:55px -892px;}
.my_regular_proof .agree_3step ul li.info {background-position:50px -190px;}
.my_regular_proof .agree_3step ul li.info.on {background-position:50px -292px;}
.my_regular_proof .agree_3step ul li.info.end {background-position:50px -392px}
.my_regular_proof .agree_3step ul li.check {background-position:60px -988px;}
.my_regular_proof .agree_3step ul li.check.on {background-position:60px -1084px;}
.my_regular_proof .agree_3step ul li.check.end {background-position:60px -1179px}

.my_regular_proof .members_proof_wrap {padding-top:55px;}
.my_regular_proof .members_proof_wrap .signup_contents {border:1px solid #bfbfbf;margin-top:0;}
.my_regular_proof .members_proof_wrap .signup_contents .title h3 {text-align:center;font-size:22px;font-weight:bold;}
.my_regular_proof .members_proof_wrap .signup_contents .title h3 > span {color:#e53433;}
.my_regular_proof .members_proof_wrap .select > a {width:263px;background-position:260px 50%;}
.my_regular_proof .members_proof_wrap .select > a:first-child {margin:0 30px 0 60px;height:69px;padding-top:18px;}
.my_regular_proof .members_proof_wrap .txt_box ul {padding-left:35px;}
.my_regular_proof .members_proof_wrap .cont {border:none;}
.my_regular_proof .members_proof_wrap .cont .nationals, .my_regular_proof .members_proof_wrap .cont .foreigner {width:auto;padding:0 15px;text-align:center;}
.my_regular_proof .members_proof_wrap .cont .nationals > a {width:310px;background-position:310px 50%;}
.my_regular_proof .members_proof_wrap .cont .foreigner .input {width:313px;}
.my_regular_proof .members_proof_wrap .cont .foreigner a.btn_brown {width:331px}
.my_regular_proof .members_proof_wrap .cont .foreigner p.fail {background-position:14px 34px;}




/* my_regular_member */
.my_regular_member .membership_form {/* padding-top:55px;*/margin-top:0;}
.my_regular_member .membership_form .table_tbody .m {width:212px;}
.my_regular_member .membership_form .table_tbody .txt_info_agree {padding-bottom:5px;}
.my_regular_member .membership_form .table_tbody .tel_add dd {width:485px;}
.my_regular_member .membership_form .table_tbody .l {width:220px;}
.my_regular_member .membership_form .table_tbody .height {height:70px}
.my_regular_member .text {color:#666;padding-top:10px;}
.my_regular_member .table_tbody .chk_list li {width: 20%;padding: 5px 0px;}
.my_regular_member .table_tbody .chk_list.type01 li {padding:0;}
.my_regular_member .table_tbody th > span {display:block;font-weight:normal;}


/* sign_up_members_foreigner */
.members_foreigner_wrap .signup_contents .select {padding:30px 0;}
.members_foreigner_wrap .signup_contents .select .txt_area p {font-size: 16px; font-weight:bold;}
.members_foreigner_wrap .signup_contents .select .btn_area {padding-top:30px; text-align:center;}
.members_foreigner_wrap .signup_contents .select .btn_area .select_btn {display:inline-block; width: 180px; height: 50px; background-color:#e53433; line-height:50px; color:#fff;}

/*
==============
   member end
==============
*/