@charset "utf-8";

/*
==============
     signup start
==============
*/

/* .popup_wrap .carry_wrap */
.popup_wrap .carry_wrap {width:680px;}
.popup_wrap .carry_wrap .newwin  {border-top:none;}
.popup_wrap .carry_wrap .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .carry_wrap .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .carry_wrap .padding {padding:30px 20px 40px;}
.popup_wrap .carry_wrap p, 
.popup_wrap .carry_wrap ul {font-size:12px;letter-spacing:-1px;line-height:1.5;}
.popup_wrap .carry_wrap p.title {padding-bottom:15px;padding-top:30px;color:#333;}
.popup_wrap .carry_wrap p:first-child.title {padding-top:0;}
.popup_wrap .carry_wrap p > span {color:#e53433;}
.popup_wrap .carry_wrap p > strong {color:#333;}
.popup_wrap .carry_wrap p {color:#666;}
.popup_wrap .carry_wrap .padd {padding:20px 0;}
.popup_wrap .carry_wrap .padd li {padding-top:3px;color:#666;}
.popup_wrap .carry_wrap .padd li:first-child {padding-top:0;} 
.popup_wrap .carry_wrap .padd li span {color:#e53433;}
.popup_wrap .carry_wrap .em {padding-top:0;}
.popup_wrap .carry_wrap .em li em {padding-left:36px;}
.popup_wrap .carry_wrap .box {margin-top:0;padding:30px 25px;}
.popup_wrap .carry_wrap .box ul li {padding-top:5px;background: url(../img/common/bg_dot_2px_666.png) no-repeat 0 8px;padding-left:10px;color:#666;}
.popup_wrap .carry_wrap .box ul li:first-child {padding-top:0;}

/* .popup_wrap .my_coupon_list */
.popup_wrap .my_coupon_list {width:625px;}
.popup_wrap .my_coupon_list .newwin  {border-top:none;}
.popup_wrap .my_coupon_list .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .my_coupon_list .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .my_coupon_list .notice_wrap {padding:30px; letter-spacing:-1px;}
.popup_wrap .my_coupon_list .notice_wrap > p {padding-bottom:10px;color:#333;font-weight:bold;}
.popup_wrap .my_coupon_list .notice_wrap > ul li {padding-left:10px;background:url(../img/common/bg_dot_2px_666.png) no-repeat 0 10px;line-height:1.8;color:#666;}
.popup_wrap .my_coupon_list .notice_wrap > ul li strong {font-weight:normal;color:#ef3f3b;}
.popup_wrap .my_coupon_list .notice_wrap > ul li ul li {padding-left:0;background:none;}
.popup_wrap .my_coupon_list .category_tab .cont {width:400px;}

/* .popup_wrap .membership_form_layer */
.popup_wrap .membership_form_layer {width:490px;}
.popup_wrap .membership_form_layer .newwin  {border-top:none;}
.popup_wrap .membership_form_layer .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .membership_form_layer .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .membership_form_layer .table_tbody td, .popup_wrap .membership_form_layer .table_tbody th {height: 52px;}
.popup_wrap .membership_form_layer .table_tbody th {padding-left:10px;font-weight:normal;}
.popup_wrap .membership_form_layer .table_tbody td {padding-left:10px;}
.popup_wrap .membership_form_layer .table_tbody td strong {font-size:15px;padding:5px 0;display:block;}
.popup_wrap .membership_form_layer .btn_area {padding-top:30px;text-align:center;border-bottom:none;}
.popup_wrap .membership_form_layer .btn_area a {color:#fff;font-size:13px;font-weight:bold;padding:12px 0 11px;display:inline-block;width:120px;margin: 0px;text-align: center;}
.popup_wrap .membership_form_layer .btn_area a:first-child {margin-right:5px;}
.popup_wrap .membership_form_layer .btn_area a.btn_red {background-color:#ef3f3b;border:1px solid #c13832;}
.popup_wrap .membership_form_layer .btn_area a.btn_brown {border: 1px solid #000;background-color: #444444;}
.popup_wrap .membership_form_layer ul li span {color:#eb3030;}

/* .popup_wrap .gift_card  */
.popup_wrap .gift_card {width:630px;}
.popup_wrap .gift_card .newwin  {border-top:none;}
.popup_wrap .gift_card .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .gift_card .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .gift_card .padding {padding:25px 20px 30px;}
.popup_wrap .gift_card .text_box {border-bottom:1px solid #d6d6d6;padding-bottom:25px;}
.popup_wrap .gift_card .text_box p > strong span {color:#e53433;}
.popup_wrap .gift_card .text_area {padding-left:5px;}
.popup_wrap .gift_card .text_area p.title {color:#333;padding-bottom:5px;padding-top:20px;background:url(../img/common/bg_dot_2px_666.png) no-repeat 0 33px;}
.popup_wrap .gift_card .text_area p {line-height:1.7;color:#666;padding-left:10px;}
.popup_wrap .gift_card .text_area p > span {color:#ef3f3b;}
.popup_wrap .gift_card .text_area ul {color:#666;line-height:1.7;padding-left:10px;}
.popup_wrap .gift_card .text_area ul.font li {font-size:11px;}
.popup_wrap .gift_card .text_area ul li > span {color:#ef3f3b;}

/* .popup_wrap .schedule_wrap */
.popup_wrap .schedule_wrap {width:530px;}
.popup_wrap .schedule_wrap .padding {padding: 15px 15px 29px;}
.popup_wrap .schedule_wrap .newwin  {border-top:none;}
.popup_wrap .schedule_wrap .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .schedule_wrap .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .schedule_wrap .schedule_box {background-color:#f7f7f7;padding:19px 0;text-align:center;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;margin:15px 0;}
.popup_wrap .schedule_wrap .schedule_box p:first-child {padding-bottom:12px;color:#333;font-size:12px;}
.popup_wrap .schedule_wrap .schedule_box p {color:#666;font-size:11px;}
.popup_wrap .schedule_wrap .schedule_box p > span {color:#ef3f3b;font-weight:bold;}
.popup_wrap .schedule_wrap .schedule .table_normal thead th {border-top:1px solid #6d6050;padding:13px 0;font-weight:bold;color:#4f4f4f;background-image:none;}
.popup_wrap .schedule_wrap .schedule .table_normal tbody td {padding:11px 0;border-bottom:1px solid #d3d3d3;}
.popup_wrap .schedule_wrap .schedule .table_normal label {padding-left:0;}
.popup_wrap .schedule_wrap .btn_area {padding-top:30px;text-align:center;border-bottom:none;}
.popup_wrap .schedule_wrap .btn_area a {color:#fff;font-size:13px;font-weight:bold;padding:12px 0 11px;display:inline-block;width:120px;margin: 0px;text-align: center;}
.popup_wrap .schedule_wrap .btn_area a:first-child {margin-right:5px;}
.popup_wrap .schedule_wrap .btn_area a.btn_red {background-color:#ef3f3b;border:1px solid #c13832;}
.popup_wrap .schedule_wrap .btn_area a.btn_brown {border: 1px solid #000;background-color: #444444;}

/* .popup_wrap .popup_membership */
.popup_wrap .popup_membership {width:590px;}
.popup_wrap .popup_membership .newwin  {border-top:none;}
.popup_wrap .popup_membership .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .popup_membership .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .popup_membership .box {margin-top:0;padding:30px 25px;}
.popup_wrap .popup_membership .box ul li {line-height:1.8;background: url(../img/common/bg_dot_2px_666.png) no-repeat 0 8px;padding-left:10px;color:#666;}
.popup_wrap .popup_membership .box ul li:first-child {padding-top:0;}
.popup_wrap .popup_membership .box ul li.red {color:#ef3f3b;}
.popup_wrap .popup_membership .tit_tab_txt {padding:25px 25px 0;width:auto;}
.popup_wrap .popup_membership .mem_area {width:auto;}
.popup_wrap .popup_membership .mem_area .padding {padding:0 25px 33px;}
.popup_wrap .popup_membership .tit_tab_txt li a {padding:12px 0;font-size:12px;}
.popup_wrap .popup_membership .shilla_mem {text-align:center;padding:25px 0 30px;}
.popup_wrap .popup_membership .shilla_mem p {font-size:13px;color:#333;font-weight:bold;padding-bottom:13px;}
.popup_wrap .popup_membership .shilla_mem p > span {color:#eb3030;}
.popup_wrap .popup_membership .shilla_mem .btn_ic_red_s {background-image:none;}
.popup_wrap .popup_membership .shilla_mem .btn_ic_red_s > img {padding-left:5px;}
.popup_wrap .popup_membership .mem_box p {float:left;}
.popup_wrap .popup_membership .mem_box .table_tbody {float:right;width:54%;}
.popup_wrap .popup_membership .mem_box .table_tbody th {padding:17px 9px;font-size:11px;font-weight:normal;color:#666;}
.popup_wrap .popup_membership .mem_box .table_tbody td {padding:17px 9px;text-align:left;font-size:11px;color:#666;}
.popup_wrap .popup_membership .current {border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.popup_wrap .popup_membership .current p.img {float:left;background-color:#f7f7f7;width:175px;text-align:center;padding:39px 0 35px;}
.popup_wrap .popup_membership .current p.img > span {display:block;padding:25px 0 0 0;font-weight:bold;}
.popup_wrap .popup_membership .current div {float:left;width:362px;}
.popup_wrap .popup_membership .current div p {text-align:center;font-size:15px;color:#333;font-weight:bold;padding:23px 0 21px;border-bottom:1px solid #e0e0e0;}
.popup_wrap .popup_membership .current div p span {color:#eb3030;}
.popup_wrap .popup_membership .current div ul {padding:20px 20px 0;}
.popup_wrap .popup_membership .current div ul li {color:#666;line-height:1.5;font-size:11px;}
.popup_wrap .popup_membership .membership2 .box .upgrade {float:left;text-align:center;background-color:#fff;border:1px solid #dedede;width:175px;padding:36px 0;}
.popup_wrap .popup_membership .membership2 .box .upgrade span {display:block;padding:25px 0 0 0;}
.popup_wrap .popup_membership .membership2 .box .text_area {float:left;text-align:center;padding:39px 0 0 77px;}
.popup_wrap .popup_membership .membership2 .box .text_area p:first-child {font-size:15px;font-weight:bold;color:#333;padding-bottom:15px;}
.popup_wrap .popup_membership .membership2 .box .text_area p {line-height:1.5;}
.popup_wrap .popup_membership .membership2 .box .text_area p span {padding-left:0;color:#eb3030;font-weight:bold;}

/* .popup_wrap .point_wrap */
.popup_wrap .point_wrap {width:660px;}
.popup_wrap .popup_membership .point_area {padding:0 25px;}
.popup_wrap .popup_membership .point_area .date {border-top:none;padding:10px 5px;background-color:#f7f7f7;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.popup_wrap .popup_membership .point_area .search_date_area {margin:20px 0 0;}
.popup_wrap .popup_membership .point_area .search_date_area .date .btn {width:160px;}
.popup_wrap .popup_membership .point_area .datepicker_area {width:130px;}
.popup_wrap .popup_membership .point_area .search_date_area .select {padding:20px 0 10px;}
.popup_wrap .popup_membership .point_area .table_normal thead th {border-top:1px solid #6d6050;background-color:#fff;font-size:11px;background-image:none;}
.popup_wrap .popup_membership .point_area .table_normal tbody td {font-size:11px;text-align:center;line-height:1.4;color:#333;}
.popup_wrap .popup_membership .point_area .table_normal tbody td .txt_left {text-align:left;}
.popup_wrap .popup_membership .point_area .table_normal .txt_left a {color:#333;}
.popup_wrap .popup_membership .point_area .table_normal .txt_left a:hover {text-decoration:underline;color:#333;}
.popup_wrap .point_wrap .mileage_info {padding:25px 25px 20px;}
.popup_wrap .point_wrap .mileage_info .cont {float:left;width:202px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.popup_wrap .point_wrap .mileage_info .border {border:1px solid #dfdfdf;}
.popup_wrap .point_wrap .mileage_info .cont .tit {padding:20px 0;font-size:15px;font-weight:bold;text-align:center;}
.popup_wrap .point_wrap .mileage_info .cont .tit dt {padding-bottom:8px;}
.popup_wrap .point_wrap .mileage_info .cont .tit dd {font-size:24px;color:#e53433;}
.popup_wrap .point_wrap .mileage_info .cont .desc {height:85px;background-color:#f7f7f7;}
.popup_wrap .point_wrap .mileage_info .cont .desc ul {width:185px;margin:0 auto;padding-top:35px;}
.popup_wrap .point_wrap .mileage_info .cont .desc ul li {position:relative;font-size:11px;}
.popup_wrap .point_wrap .mileage_info .cont .desc ul li em {font-weight:bold;}
.popup_wrap .point_wrap .mileage_info .cont .desc ul li span {position:absolute;right:0;top:0;}
.popup_wrap .point_wrap .mileage_info .cont:first-child {border-left-color:#fff;}
.popup_wrap .point_wrap .mileage_info .cont:first-child .desc ul {padding-top:15px;}
.popup_wrap .point_wrap .mileage_info .cont:first-child .desc ul li {padding:4px 0;}

/* .popup_wrap .discount_wrap */
.popup_wrap .discount_wrap {width:730px;}
.popup_wrap .discount_wrap .discount_area {padding:25px 25px;}
.popup_wrap .discount_wrap .discount_area .text_area {padding-bottom:18px;}
.popup_wrap .discount_wrap .discount_area .text_area > span {color:#e53433;}
.popup_wrap .discount_wrap .discount_area .table_normal thead th {border-top:1px solid #6d6050;background-color:#fff;font-size:11px;background-image:none;}
.popup_wrap .discount_wrap .discount_area .table_normal tbody td {font-size:11px;text-align:center;border-bottom:1px solid #d3d3d3;}
.popup_wrap .discount_wrap .discount_area .table_normal tbody td span {display:block;color:#e53433;text-align:center;}
.popup_wrap .discount_wrap .discount_area .table_normal tbody td .btn_ss_white {min-width:50px;}
.popup_wrap .discount_wrap .discount_area .table_normal tbody td .txt_left {text-align:left;line-height:1.3;}
.popup_wrap .discount_wrap .discount_area .btn_bottom {position:relative;padding:10px 0 0;}
.popup_wrap .discount_wrap .discount_area .btn_bottom a {background-image:none;padding: 5px 8px 6px;}
.popup_wrap .discount_wrap .discount_area .btn_bottom a.btn_first {position:absolute;right:85px;}
.popup_wrap .discount_wrap .discount_area .btn_bottom a + a  {position:absolute;right:0;}
.popup_wrap .discount_wrap .discount_area .pagination {padding:20px 0 5px;}

/* .popup_wrap .ship_wrap  */
.popup_wrap .ship_wrap .schedule_box {background-color:#fff;padding:14px 0;}
.popup_wrap .ship_wrap .schedule_box label {padding-right:10px;}
.popup_wrap .ship_wrap .war_box li {color:#ef3f3b;font-size:11px;line-height:1.5;}
.popup_wrap .ship_wrap .war_box {padding-bottom:30px;}
.popup_wrap .ship_wrap .ship_box {border:1px solid #bfbfbf;}
.popup_wrap .ship_wrap .ship_box p {background-color:#f7f7f7;font-size:12px;font-weight:bold;color:#333;padding:13px 14px;border-bottom:1px solid #e0e0e0;}
.popup_wrap .ship_wrap .ship_box ul li {font-size:11px;float:left;width:144px;padding:14px 10px;border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.popup_wrap .ship_wrap .ship_box ul li.rnone {border-right:none;width:146px;} 
.popup_wrap .ship_wrap .ship_box ul li.bnone {border-bottom:none;}

/* .popup_wrap .air_wrap */
.popup_wrap .air_wrap {width:650px;}
.popup_wrap .air_wrap .schedule_box {background-color:#fff;padding:14px 0;}
.popup_wrap .air_wrap .schedule_box input {width:80px;}
.popup_wrap .air_wrap .write {text-align:left;padding:14px 15px;color:#333;border:1px solid #e0e0e0;}
.popup_wrap .air_wrap .write p {font-weight:bold;font-size:11px;}
.popup_wrap .air_wrap .write ul li {font-size:11px;padding-left:10px;line-height:1.5;background: url(../img/common/bg_dot_2px_666.png) no-repeat 0 6px;}
.popup_wrap .air_wrap .write ul li span {color:#ef3f3b;}
.popup_wrap .air_wrap .ship_box {border:1px solid #e0e0e0;border-top:none;height:300px;overflow-y:scroll;}
.popup_wrap .air_wrap .ship_box p {background-color:#f7f7f7;font-size:12px;font-weight:bold;color:#333;padding:13px 14px;border-bottom:1px solid #e0e0e0;border-top:1px solid #e0e0e0;}
.popup_wrap .air_wrap .ship_box ul li {font-size:11px;float:left;width:176px;padding:14px 10px;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;}
.popup_wrap .air_wrap .ship_box ul li.none {border-left:none;width:185px;} 
.popup_wrap .air_wrap .ship_box ul li.border {border-right:1px solid #e0e0e0;border-bottom:none;}

/* .popup_wrap .popup_w590 */
.popup_wrap .popup_w590 {width:590px;}
.popup_wrap .point_search .newwin  {border-top:none;}
.popup_wrap .point_search .newwin .h1_area {padding:30px 0;border-bottom-color:#bfbfbf;}
.popup_wrap .point_search .newwin .h1_area h1 {font-size:26px;text-align:center;letter-spacing:-1px;}
.popup_wrap .point_search .btn_payment {padding-top:30px;text-align:center;border-bottom:none;}
.popup_wrap .point_search .btn_payment a {color:#fff;font-size:13px;font-weight:bold;padding:12px 0 11px;display:inline-block;width:120px;margin: 0px;text-align: center;}
.popup_wrap .point_search .btn_payment a:first-child {margin-right:5px;}
.popup_wrap .point_search .btn_payment a.btn_red {background-color:#ef3f3b;border:1px solid #c13832;}
.popup_wrap .point_search .btn_payment a.btn_brown {border: 1px solid #000;background-color: #444444;}
.popup_wrap .point_search .box {margin-top:0;padding:30px 25px;}
.popup_wrap .point_search .box > li {padding-top:5px;line-height:1.5;background: url(../img/common/bg_dot_2px_666.png) no-repeat 0 8px;padding-left:10px;color:#666;}
.popup_wrap .point_search .box > li:first-child {padding-top:0;}
.popup_wrap .point_search .cont {padding:20px;}
.popup_wrap .point_search .table_normal th {background-color:#f9f9f9;font-weight:normal;}
.popup_wrap .point_search .table_normal th, .popup_wrap .point_search .table_normal td {border-bottom:1px solid #ccc;}
.popup_wrap .point_search .table_normal td {text-align:left;padding:15px;}
.popup_wrap .point_search .card_number input {width:70px;}
.popup_wrap .point_search .password_area input {width:240px;}
.popup_wrap .point_search .password_area a.btn_ic_red_s {background-image:none;padding:5px 6px 4px;}
.popup_wrap .point_search .password_area a.btn_ic_red_s > img {padding-left:5px;}

/* .popup_wrap .okcashbag_02 */
.popup_wrap .okcashbag_02 .cont {text-align:center;}
.popup_wrap .okcashbag_02 .cont p > span {color:#ef3f3b;}
.popup_wrap .okcashbag_02 .cont p {padding-bottom:7px;}
.popup_wrap .okcashbag_02 .cont strong {display:block;font-size:24px;color:#666;padding-top:35px;}
.popup_wrap .okcashbag_02 .cont strong > span {font-size:32px;color:#ef3f3b;}
