@charset "utf-8";

/* 스페셜오더_메인 */
.special_wrap .banner {margin-top: 25px;}
.special_wrap .sub_tit_area {padding:45px 0 0 0;}
.special_wrap .sub_tit_area h4 {font-weight:bold;font-size:22px;padding-bottom:18px;}
.special_wrap .sub_tit_area .s_sub_tit {padding:5px 0 13px 0;}
.special_wrap .sub_tit_area p {line-height:18px;}
.special_wrap .step_list_wrap {border:1px solid #bfbfbf;background:#f7f7f7;margin-top: 22px;}
.special_wrap .step_list_wrap li strong {display:block;font-size:16px;margin-bottom:10px;}
.special_wrap .step_list_wrap li p {height:30px;line-height:14px;font-size:12px;color:#666;}
.special_wrap .special_brand {overflow:hidden;margin:3px 0 19px 0;}
.special_wrap .special_brand .brand_left {float:left;}
.special_wrap .special_brand .brand_right {float:right;}
.special_wrap .special_brand .brend_info {position:relative;width:454px;height:300px;padding:20px 13px;border:1px solid #bfbfbf;border-top:2px solid #333;box-sizing:border-box;}
.special_wrap .special_brand .brend_info p {position:absolute;bottom:20px;left:17px;}
.special_wrap .special_brand .brend_info p span {display:block;line-height:18px;}
.special_wrap .brend_info_list {width:454px;}
.special_wrap .brend_info_list li {float:left;width:130px;height:48px;border:1px solid #e3e3e3;margin:0 5px 10px 5px;text-align:center;}
.special_wrap .brend_info_list div {height:30px;padding:20px 15px 0;margin-bottom:10px;font-size:12px;line-height:15px;overflow:hidden;word-break:break-word}
.special_wrap .brend_info_list .img {height: auto;margin:0 auto;padding:0;background:none;}
.special_wrap table.specialorder {margin-bottom:17px;}
.special_wrap table.specialorder tr:first-child th, .special_wrap table.specialorder tr:first-child td {border-top:2px solid #333;}
.special_wrap table.specialorder th {padding:22px 0 7px 18px;color:#333;vertical-align:top;}
.special_wrap table.specialorder td a.btn_s_brown {margin:0 10px 0 5px;background-color:#555;}
.special_wrap table.specialorder td input.input {color:#666;}
.special_wrap table.specialorder td .p_add {color:#333;font-size:12px;margin-top:7px;letter-spacing:-1px;}
.special_wrap table.specialorder td .p_add span {color:#e53434;}
.special_wrap table.specialorder td .brend_info_list {width: auto;}
.special_wrap .spcial_popup .popup_layer {width:450px;}
.special_wrap .spcial_popup .popup_layer .tit {padding:18px 0 16px 0;background-color: #fff;margin: 0 22px;font-size:14px;}
.special_wrap .spcial_popup .popup_layer .padding {padding:15px 15px 16px;}
.special_wrap .spcial_popup .popup_layer .departure_box {padding-top:0;padding-bottom:10px;}
.special_wrap .spcial_popup .popup_layer .departure_box p {padding-left:5px;}
.special_wrap .spcial_popup .popup_layer .img > img {width:auto;}
.special_wrap .spcial_popup .popup_layer .schedule {padding: 0 10px;}
.special_wrap .spcial_popup .popup_layer .schedule table.table_normal tr:last-child td {border-bottom: 1px solid #d3d3d3;}
.special_wrap .spcial_popup .popup_layer .tit a.btn_close {top:15px;right:0;}
.special_wrap .search_result {margin-top:60px;}
.special_wrap .search_result .text {padding-bottom:15px;font-size:14px;font-weight:bold;text-align:center;color:#666;}
.special_wrap .search_result .text span {color:#e53434;}
.special_wrap table.table_normal th {padding:16px 5px;color:#000;}
.special_wrap table.table_normal td {padding:16px 5px;border-right:1px solid #efefef;color:#000;}
.special_wrap table.table_normal td:last-child {border-right:0;}
.special_wrap table.table_normal tr:last-child td {border-bottom:1px solid #333;}
.special_wrap table.table_normal td.null {height:28px;}
.special_wrap table.table_normal td .qty {position:relative;width:98px;margin:0 auto;border:1px solid #e0e0e0;border-radius:2px;}
.special_wrap table.table_normal td .qty a {position:absolute;top:0;display:block;padding:7px;}
.special_wrap table.table_normal td .qty a.plus {right:0;}
.special_wrap table.table_normal td .qty input.input {display:block;width:30px;margin:0 auto;border-top:none;border-bottom:none;text-align:center;color: #333;font-weight:bold;}
.special_wrap .btn_wrap {margin:60px 0 140px 0;}
.special_wrap .btn_wrap .btn_a_red {height:52px;line-height:52px;padding: 0 40px;}
.special_wrap .notice_wrap {position:relative;padding:20px;border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;background-color:#f3f3f3;}
.special_wrap .notice_wrap p {padding-bottom:20px;font-size:18px;font-weight:bold;}
.special_wrap .notice_wrap p img {padding-right:10px;}
.special_wrap .notice_wrap ul li {padding:3px 0 3px 10px;background:url(../img/common/bg_dot_2px_666.png) no-repeat 0 12px;line-height:1.5;color:#666;}
.special_wrap .notice_wrap .coupon_qa {position:absolute;right:29px;top:30px;width:220px;padding-left:37px;border-left:1px solid #dadada;text-align:center;}
.special_wrap .notice_wrap .coupon_qa p.txt {padding-top:10px; text-align:center; font-size:14px; line-height:1.5; letter-spacing:-1px;}
.special_wrap .notice_wrap .coupon_qa p.btn_area {margin:0;}
.special_wrap .notice_wrap .coupon_qa p.btn_area a {display:block;float:right;width:105px;padding:15px 0;background-color:#787878;font-size:12px;line-height:1.5;color:#fff;}
.special_wrap .notice_wrap .coupon_qa p.btn_area a:first-child {float:left; margin-right:10px;}

/* 스페셜오더_신청내역 */
.special_wrap .my_order_list .table_normal {margin:22px 0 80px 0;}
.special_wrap .my_order_list .table_normal thead th {border-top-color:#5e5e5e;}
.special_wrap .my_order_list .table_normal td {padding:22px 0;border-bottom:1px solid #d3d3d3;}
.special_wrap .my_order_list .table_normal td.pr_name  {text-align:left;padding-left:40px;}
.special_wrap .my_order_list .table_normal td p.null {padding:9px 0 !important;color:#000;}
.special_wrap .my_order_list .table_normal .open_de td.reply_area {padding:16px 25px 25px 25px;text-align:left;background-color:#f8f8fb;border-bottom:0;}
.special_wrap .my_order_list .table_normal .open_de td .answer_txt > strong {display:block;float:left;padding-right:20px;font-size:22px;}
.special_wrap .my_order_list .table_normal .open_de td .answer_txt > .txt {float:left;width:608px;padding-top:4px;letter-spacing:-1px;color:#000;}
.special_wrap .my_order_list .table_normal td span.regular {display:block;font-weight:bold;color:#e53433;padding:4px 0;}
.special_wrap .my_order_list .table_normal td span.sale {display:block;font-weight:bold;text-decoration:line-through;color:#534a3f;padding:4px 0;}
.special_wrap .btn_payment {margin:30px 0 100px 0;}

/* 장바구니 */
.special_wrap.cartlist_table .img_txt a > .img > img {width:auto;height:auto;}

/* 고객센터 */
.main_box.customer_info li {float:left; width:33.3%;box-sizing: border-box;border-left:1px solid #ccc;} /* 2016-10-21_스페셜오더추가수정 */
.main_box.customer_info a {display:block; padding:30px 10px 30px 70px; letter-spacing:-1px;} /* 2016-10-21_스페셜오더추가수정 */
.main_box.customer_info .menu01 {border-left:none; /*border-bottom:1px solid #e0e0e0;*/}
/*.main_box.customer_info .menu02 {border-bottom:1px solid #e0e0e0;}
.main_box.customer_info .menu03 {border-bottom:1px solid #e0e0e0;}*/
.main_box.customer_info .menu04 {border-left:none;}
.main_box.customer_info .menu01 a {background:url(../img/sub/bg_customer_01.png) no-repeat 20px 50%;}
.main_box.customer_info .menu02 a {background:url(../img/sub/bg_customer_02.png) no-repeat 19px 50%;}
.main_box.customer_info .menu03 a {background:url(../img/sub/bg_customer_03.png) no-repeat 19px 50%;}
.main_box.customer_info .menu04 a {background:url(../img/sub/bg_customer_04.png) no-repeat 24px 50%;}
.main_box.customer_info .menu05 a {background:url(../img/sub/bg_customer_05.png) no-repeat 20px 50%;}
.main_box.customer_info .menu06 a {background:url(../img/sub/bg_customer_06.png) no-repeat 19px 50%;}
.main_box.customer_info .menu07 a {background:url('../img/sub/bg_customer_07.png') no-repeat 19px 50%;} /* 2016-10-21_스페셜오더추가수정 */
.main_box.customer_info strong {font-size:14px;}
.main_box.customer_info p {margin-top:10px; font-size:12px;color: #666;line-height: 16px;}

.main_faq_search {padding:26px 0;border-bottom:1px solid #efefef;background:#f9f9f9;text-align:center;vertical-align:top;}
.main_faq_search .form_box {display:inline-block;padding:9px 9px 0 9px;height:29px;border:1px solid #e0e0e0;background-color:#fff;}/* 2016-08-19_추가 */
.main_faq_search .form_box select{padding:0;border:0;width:100px;height:20px;color:#999;vertical-align:middle;}/* 2016-08-19_수정 */
.main_faq_search .form_box input {padding:0;border:0;width:290px;height:20px;vertical-align:middle;}/* 2016-08-19_수정 */
.main_faq_search .btn_s_brown {width:80px; height:40px; line-height:40px; border:none; background-color:#444;}

.main_box.board .guide_list li {float:left; border-left:1px solid #efefef;}
.main_box.board .guide_list li:first-child {border-left:none;}
.main_box.board .guide_list a {display:block; width:80px; height:117px; padding:40px 20px; text-align:center; letter-spacing:-2px; font-size:16px;}
.main_box.board .guide_list a strong {display:block; padding-top:70px; background-image:url(../img/sub/bg_guide_link_03.png); background-repeat:no-repeat; background-position: center 0;}
.main_box.board .guide_list a.guide_sp strong {background-image:url(../img/sub/bg_guide_link_01.png);}
.main_box.board .guide_list a.guide_pay strong {background-image:url(../img/sub/bg_guide_link_02.png);}
.main_box.board .guide_list a p {margin-top:5px; color:#666;}



/* 메인_gnb(common_new.css) */
.gnb_wrap .gnb_menu li a {padding: 12px 16px 0;}