@charset "utf-8";

/* main development modify */
.detail_event_wrap li a img {width:300px;}
.hotsale_wrap .pro_banner ul li img {height:100%;}

.exhibition_wrap .in_cont {display:none;}

.power_search .p_category .txt a.on em {color:#f00 !important;}
.power_search .p_category .txt a.on span {color:#f00 !important;}

.result_tap_wrap .result_null .box.empty-box {border: 0px;}
.popup_wrap .photo_write .img_wrap .ico_delete {position: absolute; right: 5px; top: 5px; display: none;}
.detail_view .tit_tab_txt li a.solo {border: 1px solid #bfbfbf; border-top: 2px solid #000;}
.detail_view .tit_tab_txt.fixed li.tab_cart.none a { background-color:#eeeeef; color:#555; cursor: default !important;}


.myshopping_info .grade_benefit .star dt {line-height: 18px;} /*개발 수정*/
.myshopping_info .grade_benefit .pay dt {line-height: 18px;} /*개발 수정*/
.myshopping_info .grade_benefit .deposit dt {line-height: 18px;} /*개발 수정*/

.myshopping_info .grade_benefit dl dd em {font-size:17px;}
.myshopping_wrap .contents_wrap .main_box .member_class.first {height: auto;}
.myshopping_wrap .contents_wrap .main_box .email.first {height: auto;}

.cart_wrap .cart_checkout .location .txt {float:right;}
.cart_wrap .cart_checkout .location .img {float:left;}

.cart_list .product_recommend .additional_gift .img img {height:140px;}


.detail_view .brand_intro .cont .txt {margin-bottom: 20px;}

.detail_view .buy_before { position:relative; padding-top:30px; margin-top:40px;}
.detail_view .buy_before:before { content:""; display:block; position:absolute; top:0; left:-24px; width:930px; height:1px; background-color:#bdbdbd;  }
.detail_view .buy_before:after { content:""; display:block; clear:both; }
.detail_view .buy_before .h4_area { float:left; width:187px; }
.detail_view .buy_before .h4_area h4 { padding-top:0; }
.detail_view .buy_before ul { float:right; width:694px; }
.detail_view .buy_before ul li { line-height:1.5; padding-top:3px; }
.detail_view .buy_before ul li:first-child { padding-top:0; }

.privacy .members .info > .box dl {height:170px;}

.cart_wrap .total_box .btn_toggle a:after {right:13px;}

.info_box .write_box .table_tbody .tooltip_wrap .tooltip_layer .box {padding:0px; border: 0px;}

td .write_phone .tel_box {display: inline-block; vertical-align: middle;}


.popup_wrap .login .sns ul li a.naver {border-color:#2bc311;}